{% extends 'team/index.html.twig' %}
{% trans_default_domain 'team' %}

{% block body %}

    <div>
        <h2>{{ title }}</h2>
        <ul id="myTab" role="tablist">
            <li>
                <a id="home-tab" data-toggle="tab" href="#courses" role="tab"
                   aria-controls="home"
                   aria-selected="true">{% trans %}dataPrivacyLessons{% endtrans %}</a>
            </li>
            <li>
                <a id="profile-tab" data-toggle="tab" href="#user" role="tab" aria-controls="profile"
                   aria-selected="false">{% trans %}academy.users{% endtrans %}</a>
            </li>
            <li>
                <a
                   id="questionnaire-tab"
                   data-toggle="tab"
                   href="#questionnaire"
                   aria-controls="questionnaire"
                   aria-selected="false">
                    {% trans from 'questionnaire' %}questionnaire.words{% endtrans %}
                </a>
            </li>
        </ul>
        <div id="myTabContent">
            <div id="courses" role="tabpanel" aria-labelledby="home-tab">

                {{ include('kurs/__indexTable.html.twig') }}
            </div>
            <div id="user" role="tabpanel" aria-labelledby="profile-tab">

                <div>
                    <a href="{{ path('team_mitglieder_create', {'title':'Akademiemitglied hinzufügen', 'type':'academy'}) }}"
                      >{% trans %}academy.addUser{% endtrans %}</a>
                    <ul>
                        {% for d in data %}
                            <li>{{ d.email }}
                                <a
                                    onClick="return confirm('{% trans from 'general' %}confirmAction{% endtrans %}')"
                                    href="{{ path('team_mitglieder_remove',{'memberId':d.id, 'teamId':team.id, 'type':'academy'}) }}">
                                    {% trans from 'general' %}remove{% endtrans %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="questionnaire" role="tabpanel" aria-labelledby="questionnaire-tab">
                {% include 'questionnaire/questionnaire/list.html.twig' with {'questionnaires': questionnaires} %}
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        });
    </script>
{% endblock %}
