{% extends 'team/index.html.twig' %}
{% trans_default_domain 'team' %}

{% block body %}
    <div id="content-team-admin">
        <ul class="my-5">
            {% for key,d in data %}
                <li class="relative text-sm py-0.5">
                    &raquo; <a href="#{{ key }}" class="whitespace-nowrap">{{ d.title }}</a>
                </li>
            {% endfor %}
        </ul>

        {% for key,dd in data %}
            <div id="{{ key }}" class="py-5">
                <div class="grid grid-cols-2 mb-5">
                    <div>
                        <h3>{{ dd.title }}</h3>
                    </div>
                    <div class="text-right pt-1">
                        <a href="{{ dd.newLink }}"
                           class="btn btn-create"
                           data-type="dialogs"
                           data-target="#modal-remote-content"
                           data-action="click->appUi#loadContentModal">{{ dd.titleNew }}</a>
                    </div>
                </div>
                {% if dd.data is defined %}
                    <ul class="stacked-list">
                        {% for d in dd.data|sort((a, b) => a.name <=> b.name) %}
                            <li>
                                <div>
                                    <p>
                                        <span class="font-medium{% if currentTeam in d.object.ignoredInTeams %} text-muted{% endif %}">
                                            {{ d.name }}
                                        </span>
                                        {% if d.default %}
                                            <span class="text-sm{% if currentTeam in d.object.ignoredInTeams %} text-muted{% endif %}">
                                                ({% trans %}default{% endtrans %})
                                            </span>
                                        {% elseif d.object.inherited %}
                                            <span class="text-sm{% if currentTeam in d.object.ignoredInTeams %} text-muted{% endif %}">
                                                {% if currentTeam == d.object.team %}
                                                    ({% trans from 'general' %}inheritance.isInherited{% endtrans %})
                                                {% else %}
                                                    ({% trans from 'general' %}inheritance.fromTeam{% endtrans %} {{ d.object.team }})
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </p>
                                </div>
                                {% if not d.default %}
                                    <div>
                                        {% if currentTeam == d.object.team %}
                                            <a href="{{ d.edit }}"
                                               data-type="dialogs"
                                               data-target="#modal-remote-content"
                                               data-action="click->appUi#loadContentModal">
                                                {% trans from 'general' %}edit{% endtrans %}
                                            </a>
                                        {% endif %}

                                        {% if checkClass(d.object,'App\\Entity\\VVTStatus') %}
                                            <a href="{{ path('team_custom_network_vvtstatus',{'id':d.id}) }}">
                                                {% if d.object.network %}
                                                    {% trans from 'general' %}network.show.remove{% endtrans %}
                                                {% else %}
                                                    {% trans from 'general' %}network.show.add{% endtrans %}
                                                {% endif %}
                                            </a>
                                        {% endif %}

                                        {% if checkClass(d.object,'App\\Entity\\DatenweitergabeStand') %}
                                            <a href="{{ path('team_custom_network_datenweitergabestatus',{'id':d.id}) }}">
                                                {% if d.object.network %}
                                                    {% trans from 'general' %}network.show.remove{% endtrans %}
                                                {% else %}
                                                    {% trans from 'general' %}network.show.add{% endtrans %}
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                        {% if currentTeam == d.object.team %}
                                            <a href="{{ d.deactivate }}" class="text-danger">
                                                {% trans from 'general' %}delete{% endtrans %}
                                            </a>
                                        {% else %}
                                            {{ include('team/__togglePresetIgnore.html.twig',{'preset':d.object,'team':currentTeam}) }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="mb-5 italic text-muted">{% trans %}noEntry{% endtrans %}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
