{% extends 'team/index.html.twig' %}
{% trans_default_domain 'team' %}

{% block body %}
    <div>
        <h2>{{ title }}</h2>
        <!-- Basic dropdown -->
        <a data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">{% trans %}select{% endtrans %}</a>

        <div>
            {% for key,d in data %}
                <a href="#{{ key }}">{{ d.title }}</a>
            {% endfor %}
        </div>
        <!-- Basic dropdown -->


        {% for key,dd in data %}
            <div id="{{ key }}">
                <div>
                    <div>
                        <h4>{{ dd.title }}</h4>
                        <a href="{{ dd.newLink }}">{{ dd.titleNew }}</a>
                        <ul>
                            {% if dd.data is defined %}
                                {% for d in dd.data|sort((a, b) => a.name <=> b.name) %}
                                    <li>
                                        {{ d.name }}{% if not d.default %}
                                            <a href="{{ d.edit }}"
                                              >
                                                {% trans from 'general' %}edit{% endtrans %}
                                            </a>

                                                {% if checkClass(d.object,'App\\Entity\\VVTStatus') %}
                                                    <a href="{{ path('team_custom_network_vvtstatus',{'id':d.id}) }}"
                                                      >
                                                        {% if d.object.network %}
                                                            {% trans from 'general' %}network.show.remove{% endtrans %}
                                                        {% else %}
                                                            {% trans from 'general' %}network.show.add{% endtrans %}
                                                        {% endif %}
                                                    </a>
                                                {% endif %}

                                            {% if checkClass(d.object,'App\\Entity\\DatenweitergabeStand') %}
                                                <a href="{{ path('team_custom_network_datenweitergabestatus',{'id':d.id}) }}"
                                                  >
                                                    {% if d.object.network %}
                                                        {% trans from 'general' %}network.show.remove{% endtrans %}
                                                    {% else %}
                                                        {% trans from 'general' %}network.show.add{% endtrans %}
                                                    {% endif %}
                                                </a>
                                            {% endif %}


                                            <a href="{{ d.deactivate }}">
                                                {% trans from 'general' %}delete{% endtrans %}
                                            </a>
                                        {% else %} ({% trans %}default{% endtrans %}){% endif %}
                                    </li>
                                {% endfor %}
                            {% else %}
                                <p>{% trans %}noEntry{% endtrans %}</p>
                            {% endif %}
                        </ul>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
