{% extends 'team/index.html.twig' %}
{% trans_default_domain 'team' %}

{% block body %}
    <div>
        <h2>{{ title }}</h2>

        <div>

            {% if data %}
                <div>
                    <div>
                        {% trans from 'general' %}email{% endtrans %}: {{ data.email }}<br>
                        {% trans from 'general' %}username{% endtrans %}: {{ data.username }}
                    </div>
                    <div>
                        <a href="{{ path('team_dsb_remove', {'id':data.id}) }}"
                           onClick="return confirm('{% trans %}removeDsb{% endtrans %}')">
                                {% trans from 'general' %}remove{% endtrans %}
                        </a>
                    </div>
                </div>
            {% else %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <p>
                    {% trans %}addExternalDsbInfo{% endtrans %}
                </p>
            {% endif %}


        </div>
    </div>
    {{ include('base/__snack.html.twig') }}
{% endblock %}
