{% extends 'team/index.html.twig' %}
{% trans_default_domain 'team' %}

{% block body %}
    <div id="content-team-admin">
        {% if data %}
            <div class="dl-wrapper mb-5">
                <div class="dl-content">
                    <dl>
                        <div>
                            <dt>{% trans from 'general' %}email{% endtrans %}</dt>
                            <dd>{{ data.email }}</dd>
                        </div>
                        <div>
                            <dt>{% trans from 'general' %}username{% endtrans %}</dt>
                            <dd>{{ data.username }}</dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div>
                <a href="{{ path('team_dsb_remove', {'id':data.id}) }}"
                   class="btn btn-danger"
                   onclick="return confirm('{% trans %}removeDsb{% endtrans %}')">
                    {% trans from 'general' %}remove{% endtrans %}
                </a>
            </div>
        {% else %}
            <div class="card-outlined mb-5 text-sm">
                {% trans %}addExternalDsbInfo{% endtrans %}
            </div>
            {{ form_start(form) }}
            {{ form_row(form) }}
            {{ form_end(form) }}
        {% endif %}
    </div>
    {{ include('base/__snack.html.twig') }}
{% endblock %}
