{% extends 'base.html.twig' %}
{% trans_default_domain 'team' %}

{% block title %}
    {% trans %}adminArea{% endtrans %}
    {{ currentTeam is defined and currentTeam ? currentTeam.name : team is defined ? team }}{{ title is defined ? ': ' ~ title }}
{% endblock %}

{% block body %}
    <div id="content-team-admin">
        {{ form_start(form) }}
        {{ form_row(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
