{% extends 'team/index.html.twig' %}
{% trans_default_domain 'team' %}

{% block CTA %}
    {% if useKeycloakGroups %}
        <a href="{{ path('team_mitglieder_create', {'title':'Admin hinzufügen', 'type':'admin', 'id':team.id}) }}"
           class="btn btn-create"
           data-type="dialogs"
           data-target="#modal-remote-content"
           data-action="click->appUi#loadContentModal">{% trans %}admin.create{% endtrans %}</a>
    {% else %}
        <a href="{{ path('team_mitglieder_create', {'title':'Mitglied hinzufügen', 'type':'odc', 'id':team.id}) }}"
           class="btn btn-create"
           data-type="dialogs"
           data-target="#modal-remote-content"
           data-action="click->appUi#loadContentModal">{% trans %}user.create{% endtrans %}</a>
    {% endif %}
    <a href="{{ path('akademie_admin') }}#tab-user" class="btn">{% trans %}academy.users{% endtrans %}</a>
{% endblock %}

{% block body %}
<div id="content-team-admin">
    {# Hide this section if keycloak groups are used to avoid confusing users #}
    {% if not useKeycloakGroups %}
        <h3>{% trans %}openInvitations{% endtrans %}</h3>
        <ul class="stacked-list !mb-10">
            {% for member in team.members |filter(member => member.registerId) %}
                <li>
                    <div>
                        <p>{{ member.email }}</p>
                    </div>
                    <div>
                        {% if team in member.adminRoles %}
                            <a href="{{ path('team_mitglieder_admin', {'memberId':member.id}) }}" class="text-danger">
                                {% trans %}admin.remove{% endtrans %}
                            </a>
                        {% else %}
                            <a href="{{ path('team_mitglieder_admin', {'memberId':member.id}) }}">
                                {% trans %}admin.create{% endtrans %}
                            </a>
                        {% endif %}
                        <a href="{{ path('team_mitglieder_remove',{'memberId':member.id,'type':'odc'}) }}" class="text-danger">
                            {% trans from 'general' %}remove{% endtrans %}
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>{% trans from 'base' %}users{% endtrans %}</h3>
    <table id="data-table" class="dataTable">
        <thead>
            <tr>
                <th scope="col">{% trans %}academy.user{% endtrans %}</th>
                <th scope="col">{% trans %}academy.user.role{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}action.word{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members|filter(member => member.email) %}
                <tr>
                    <td>
                        {% if member.firstname or member.lastname %}
                            {{ member.firstname }} {{ member.lastname }}<br>
                        {% endif %}
                        {{ member.email }}
                    </td>
                    <td>
                        {% if team in member.teamDsb %}
                            {% trans %}extDsb{% endtrans %}
                        {% endif %}
                        {% if team in member.adminRoles %}
                            {% trans %}admin.word{% endtrans %}
                        {% endif %}
                        {% if member.akademieUser == team %}
                            {% trans %}academy.word{% endtrans %}
                        {% endif %}
                        {% if team in member.teams %}
                            {% trans %}coordinator{% endtrans %}
                        {% endif %}
                    </td>
                    <td>
                        {% if team in member.adminRoles %}
                            <a href="{{ path('team_mitglieder_admin', {'memberId':member.id, 'teamId':team.id}) }}" class="text-danger">
                                {% trans %}admin.remove{% endtrans %}
                            </a>
                        {% else %}
                            <a href="{{ path('team_mitglieder_admin', {'memberId':member.id, 'teamId':team.id}) }}">
                                {% trans %}admin.create{% endtrans %}
                            </a>
                        {% endif %}
                        {# Hide this button if keycloak groups are used #}
                        {% if not useKeycloakGroups and team.isMemberRemovable(member, app.user) %}
                            <a href="{{ path('team_mitglieder_remove',{'memberId':member.id, 'teamId':team.id, 'type':'odc'}) }}" class="text-danger">
                                {% trans from 'general' %}remove{% endtrans %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="card-outlined my-5 text-sm">
        {% if useKeycloakGroups %}
            <p>
                {% trans %}members.manageHint.keycloak{% endtrans %}
            </p>
        {% else %}
            <p>
                {% trans %}members.manageHint.odc{% endtrans %}
            </p>
        {% endif %}
    </div>

    <div class="card-outlined text-sm">
        <p class="block mb-3">{% trans %}footer.disclaimer{% endtrans %}</p>
        <a href="https://github.com/H2-invent/open-datenschutzcenter/wiki/Zuweisung-der-SuperAdmin-Rolle-in-KeyCloak">
            {% trans %}footer.clickHere{% endtrans %}
        </a>
    </div>
</div>
{% endblock %}
