{% extends 'team/index.html.twig' %}
{% trans_default_domain 'team' %}

{% block body %}
    <div>
        <h2>{{ title }}</h2>
        {% if useKeycloakGroups %}
            <a href="{{ path('team_mitglieder_create', {'title':'Admin hinzufügen', 'type':'admin', 'id':team.id}) }}"
              >{% trans %}admin.create{% endtrans %}</a>
        {% else %}
            <a href="{{ path('team_mitglieder_create', {'title':'Mitglied hinzufügen', 'type':'odc', 'id':team.id}) }}"
              >{% trans %}user.create{% endtrans %}</a>
        {% endif %}
        <a href="{{ path('akademie_admin') }}#user"
          >{% trans %}academy.users{% endtrans %}</a>
        <div>
            <div>
                <ul>
                    {% for member in members|filter(member => member.email) %}
                        <li>
                            <div>
                                <div>
                                    <p>
                                        {% if member.firstname or member.lastname %}
                                            {{ member.firstname }} {{ member.lastname }} -
                                        {% endif %}
                                        {{ member.email }}
                                    </p>
                                    <div>
                                        {% if team in member.teamDsb %}
                                            <span>{% trans %}extDsb{% endtrans %}</span>
                                        {% endif %}
                                        {% if team in member.adminRoles %}
                                            <span>{% trans %}admin.word{% endtrans %}</span>
                                        {% endif %}
                                        {% if member.akademieUser == team %}
                                            <span>{% trans %}academy.word{% endtrans %}</span>
                                        {% endif %}
                                        {% if team in member.teams %}
                                            <span>{% trans %}coordinator{% endtrans %}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div>
                                    {% if team in member.adminRoles %}
                                        <a
                                           href="{{ path('team_mitglieder_admin', {'memberId':member.id, 'teamId':team.id}) }}">
                                            {% trans %}admin.remove{% endtrans %}
                                        </a>
                                    {% else %}
                                        <a
                                           href="{{ path('team_mitglieder_admin', {'memberId':member.id, 'teamId':team.id}) }}">
                                            {% trans %}admin.create{% endtrans %}
                                        </a>
                                    {% endif %}
                                    {# Hide this button if keycloak groups are used #}
                                    {% if not useKeycloakGroups %}
                                        <a
                                           href="{{ path('team_mitglieder_remove',{'memberId':member.id, 'teamId':team.id, 'type':'odc'}) }}">{% trans from 'general' %}remove{% endtrans %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                {# Hide this section if keycloak groups are used to avoid confusing users #}
                {% if not useKeycloakGroups %}
                    <h5>{% trans %}openInvitations{% endtrans %}</h5>
                    <ul>
                        {% for member in team.members |filter(member => member.registerId) %}
                            <li>
                                {{ member.email }}
                                {% if team in member.adminRoles %}
                                    <a
                                       href="{{ path('team_mitglieder_admin', {'memberId':member.id}) }}">
                                        {% trans %}admin.remove{% endtrans %}
                                    </a>
                                {% else %}
                                    <a
                                       href="{{ path('team_mitglieder_admin', {'memberId':member.id}) }}">
                                        {% trans %}admin.create{% endtrans %}
                                    </a>
                                {% endif %}
                                <a
                                   href="{{ path('team_mitglieder_remove',{'memberId':member.id,'type':'odc'}) }}">
                                    {% trans from 'general' %}remove{% endtrans %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if useKeycloakGroups %}
                    <p>
                        {% trans %}members.manageHint.keycloak{% endtrans %}
                    </p>
                {% else %}
                    <p>
                        {% trans %}members.manageHint.odc{% endtrans %}
                    </p>
                {% endif %}
            </div>
            <div>
                {% trans %}footer.disclaimer{% endtrans %}<br/>
                <a class='btn btn-sm btn-grey' href="https://github.com/H2-invent/open-datenschutzcenter/wiki/Zuweisung-der-SuperAdmin-Rolle-in-KeyCloak">
                    {% trans %}footer.clickHere{% endtrans %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
