{% extends 'team/index.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="h2-responsive">{{ title }}</h2>
        <a href="{{ path('team_mitglieder_create', {'title':'Mitglied hinzufügen', 'type':'odc', 'id':data.id}) }}"
           class="btn btn-primary btn-sm loadContent">{% trans %}addUser{% endtrans %}</a>
        <a href="{{ path('akademie_admin') }}#user" class="btn btn-cyan btn-sm">{% trans %}academyUser{% endtrans %}</a>
        <div class="card card-body">
            <!-- TODO: If user groups are managed via keycloak, hide functionality for adding and removing users as this will be overwritten the next time the user logs in -->
            <ul class="list-group">
                {% for member in data.members|filter(member => member.keycloakId) %}
                    <li class="list-group-item">
                        {{ member.firstname }} {{ member.lastname }} ({{ member.email }})
                        <div class="small">
                            {% if data in member.teamDsb %}
                                <span class="badge-primary p-1 mt-sm-1 rounded">{% trans %}extDsb{% endtrans %}</span>
                            {% endif %}
                            {% if data in member.adminRoles %}
                                <span class="badge-success p-1 rounded">{% trans %}admin{% endtrans %}</span>
                            {% endif %}
                            {% if member.akademieUser == data %}
                                <span class="badge-warning p-1 rounded">{% trans %}academy{% endtrans %}</span>
                            {% endif %}
                            {% if data in member.teams %}
                                <span class="badge-info p-1 rounded">{% trans %}coordinator{% endtrans %}</span>
                            {% endif %}
                        </div>
                        {% if data in member.adminRoles %}
                            <a class="btn btn-sm btn-info float-md-right" href="{{ path('team_mitglieder_admin', {'memberId':member.id, 'teamId':data.id}) }}">
                                {% trans %}removeAdmin{% endtrans %}
                            </a>
                        {% else %}
                            <a class="btn btn-sm btn-success float-md-right" href="{{ path('team_mitglieder_admin', {'memberId':member.id, 'teamId':data.id}) }}">
                                {% trans %}addAdmin{% endtrans %}
                            </a>
                        {% endif %}
                        <a class="btn btn-sm btn-danger float-md-right"
                           href="{{ path('team_mitglieder_remove',{'memberId':member.id, 'teamId':data.id, 'type':'odc'}) }}">{% trans %}remove{% endtrans %}</a>
                    </li>
                {% endfor %}
                </ul>

                <h5 class="h5-responsive mt-3">{% trans %}openInvitations{% endtrans %}</h5>
            <ul class="list-group">
                {% for member in data.members |filter(member => member.registerId) %}
                    <li class="list-group-item">
                        {{ member.email }}
                        {% if data in member.adminRoles %}
                            <a class="btn btn-sm btn-info float-md-right" href="{{ path('team_mitglieder_admin', {'id':member.id}) }}">
                                {% trans %}removeAdmin{% endtrans %}
                            </a>
                        {% else %}
                            <a class="btn btn-sm btn-success float-md-right" href="{{ path('team_mitglieder_admin', {'id':member.id}) }}">
                                {% trans %}addAdmin{% endtrans %}
                            </a>
                        {% endif %}
                        <a class="btn btn-sm btn-danger float-md-right"
                           href="{{ path('team_mitglieder_remove',{'id':member.id,'type':'odc'}) }}">{% trans %}remove{% endtrans %}</a>
                    </li>
                {% endfor %}
            </ul>
            <p class="note-info mt-4 p-2 text-center">
                {% trans %}memberHint1{% endtrans %}
            </p>
            <p class="note-info p-2 text-center">
                {% trans %}memberHint2{% endtrans %}
            </p>
        </div>
    </div>
{% endblock %}
