{{ form_start(form, {'attr': {'action': path('team_mitglieder_create', {'type':type, 'id':teamId}), 'method': 'POST'}}) }}
    <div class="modal-content">
        <h3>{{ title }}</h3>
        {{ form_row(form.member) }}
    </div>
    <div class="modal-footer">
        {{ form_row(form.submit) }}
    </div>
{{ form_end(form) }}