{{ form_start(form, {'attr': {'action': path('team_custom_create', {'type':type, 'id':id}), 'method': 'POST'}}) }}
<div class="modal-content">
    <h3>{{ title }}</h3>
    {{ form_row(form.name) }}
</div>
<div class="modal-footer">
    {{ form_row(form.save) }}
</div>
{{ form_end(form) }}
