{% extends 'team/index.html.twig' %}
{% trans_default_domain 'team' %}

{% block body %}
    <h2>{% trans %}products{% endtrans %}</h2>

    <div>
        <div>
            <div>
                <ul>
                    {% for d in data %}
                        <li>{{ d.name }}
                            <a href="{{ path('team_produkt', {'id':d.id}) }}"
                              >{% trans from 'general' %}edit{% endtrans %}</a>
                            <a href="{{ path('team_produkt_deativate', {'id':d.id}) }}"
                              >{% trans from 'general' %}delete{% endtrans %}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
