{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}

    <h2 class="h2-responsive">{{ title }}</h2>

    <div class="card card-body ">
        <div class="row">
            <div class="col-md-6 mb-2">
                <h4 class="h4-responsive">{% trans %}Schutzziele{% endtrans %}</h4>
                <ul class="list-group">
                    {% for d in data[1] %}
                        <li
                        class="list-group-item {% if d.default %}disabled{% endif %}">{{ d.name }}{% if not d.default %}
                        <a href="{{ path('team_custom_audit', {'id':d.id}) }}"
                           class="btn btn-sm btn-info float-md-right">Bearbeiten</a>
                        <a href="{{ path('team_custom_audit_deativate', {'id':d.id}) }}"
                           class="btn btn-sm btn-danger float-md-right">Löschen</a></li> {% else %} (Default){% endif %}
                    {% endfor %}
                </ul>

            </div>
            <div class="col-md-6">
                <h4 class="h4-responsive">{% if edit %}{% trans %}Schutzziel bearbeiten{% endtrans %}{% else %}{% trans %}Neus Schutzziel hinzufügen{% endtrans %}{% endif %}</h4>
                {{ form_start(form) }}
                {{ form_widget(form.name) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
