{% trans_default_domain 'vorfall' %}
<div>
    <div>
        <p>{% trans %}incident.assign{% endtrans %}</p>
    </div>
    <div>
        {% if assignForm is defined %}{{ include('assign/__assign.html.twig',{'data':vorfall,'path':'assign_vorfall'}) }}{% endif %}
    </div>
</div>
{{ form_start(form) }}
<div>
    <div>
        <div>
            {{ form_label(form.fakten) }}
        </div>
        <div>
            {{ form_widget(form.fakten) }}
        </div>
    </div>
    <div>
        <div>
            {{ form_label(form.datum) }}
        </div>
        <div>
            {{ form_widget(form.datum) }}
        </div>
    </div>
    <div>
        <div>
            {{ form_label(form.auswirkung) }}
        </div>
        <div>
            {{ form_widget(form.auswirkung) }}
        </div>
    </div>
    <div>
        <div>
            {{ form_label(form.massnahmen) }}
        </div>
        <div>
            {{ form_widget(form.massnahmen) }}
        </div>
    </div>
    <div>
        <div>
            {{ form_label(form.personen) }}
        </div>
        <div>
            {{ form_widget(form.personen) }}
        </div>
    </div>
    <div>
        <div>
            {{ form_label(form.daten) }}
        </div>
        <div>
            {{ form_widget(form.daten) }}
        </div>
    </div>
    <h3>{% trans %}incident.report{% endtrans %}</h3>
    <div>
        <div>
            {{ form_label(form.gemeldet) }}
            {{ form_label(form.auftraggeberGemeldet) }}
            {{ form_label(form.betroffeneGemeldet) }}
        </div>
        <div>
            {{ form_widget(form.gemeldet) }}
            {{ form_widget(form.betroffeneGemeldet) }}
            {{ form_widget(form.auftraggeberGemeldet) }}
        </div>
    </div>

    {{ form_label(form.save) }}
    {{ form_widget(form.save) }}
</div>
{{ form_end(form) }}
