{{ form_start(form) }}
<div class="row {% if not activ %}disabled{% endif %}">
    <div class="col-md-8">
        <div class="mb-4">
            {{ form_label(form.fakten) }}
            {{ form_widget(form.fakten) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.auswirkung) }}
            {{ form_widget(form.auswirkung) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.massnahmen) }}
            {{ form_widget(form.massnahmen) }}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    {{ form_label(form.personen) }}
                    {{ form_widget(form.personen) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    {{ form_label(form.daten) }}
                    {{ form_widget(form.daten) }}
                </div>
            </div>
        </div>

        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}
    </div>
    <div class="col-md-4">
        <div class="mb-4">
            {{ form_label(form.datum) }}
            {{ form_widget(form.datum) }}
        </div>
        <h3>Meldungen</h3>
        <div class="mb-4">
            {{ form_label(form.gemeldet) }}
            {{ form_widget(form.gemeldet) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.betroffeneGemeldet) }}
            {{ form_widget(form.betroffeneGemeldet) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.auftraggeberGemeldet) }}
            {{ form_widget(form.auftraggeberGemeldet) }}
        </div>
    </div>
</div>
{{ form_end(form) }}