<a href="{{ path('vorfall_edit',{'id':p.id}) }}"><span>Id: {{ p.id }} -- {{ p.nummer }} -- {{ p.createdAt|date('d.m.Y H:i') }} -- {{ p.user.email }} -- Gemeldet: {{ p.gemeldet? 'Ja':'Nein' }}  {{ p.approved?'(Diese Version war freigegeben)' }} </span></a>
{% if p.previous %}
    {{ include('vorfall/__history.html.twig', {'p':p.previous}) }}
{% endif %}