{% extends 'base.html.twig' %}

{% block CTA %}
    {% if vorfall.activ %}
        <a class="btn btn-amber ml-1 btn-sm" href="{{ path('bericht_vorfall', {'id':vorfall.id}) }}">
            <span>PDF erstellen</span>
        </a>
        <a class="btn btn-amber ml-1 btn-sm" href="{{ path('bericht_vorfall', {'id':vorfall.id, 'all':1}) }}">
            <span>PDF mit Historie erstellen</span>
        </a>
        {{ include('base/__approveBtn.html.twig',{'data':vorfall,'dataLink':'vorfall_approve'}) }}
    {% endif %}
{% endblock %}

{% block body %}

    <h2 class="h2-responsive">{{ title }} (Nummer: {{ vorfall.id }})</h2>
    {{ include('base/__approvedBy.html.twig', {'data':vorfall}) }}
    {% if assignForm is defined %}{{ include('assign/__assign.html.twig',{'data':vorfall,'path':'assign_vorfall'}) }}{% endif %}
    <div class="card card-body">
        {{ include('vorfall/__form.html.twig') }}
    </div>
    <p>Erstellt von: {{ vorfall.user.email }}</p>
    {% if vorfall.previous %}
        <div class="card card-body mt-2">
            <h2>Historie</h2>
            {{ include('vorfall/__history.html.twig', {'p':vorfall.previous}) }}
        </div>
    {% endif %}
    {{ include('base/__snack.html.twig') }}
{% endblock %}

{% block javascript %}
{% endblock %}
