{% extends 'base.html.twig' %}
{% trans_default_domain 'vorfall' %}

{% block CTA %}
    <a class="btn btn-primary ml-1 btn-sm" href="{{ path('vorfall_new') }}">
        <span>{% trans %}incident.create{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">{% trans %}incident.title{% endtrans %}</h2>

    <div class="card card-body">
        <div class="table-responsive">
            <table id="data-table" class="table display table-striped">
                <thead>
                <tr>
                    <th scope="col">{% trans from 'general' %}date{% endtrans %}</th>
                    <th scope="col">{% trans %}uid{% endtrans %}</th>
                    <th scope="col">{% trans %}facts{% endtrans %}</th>
                    <th scope="col">{% trans %}consequences{% endtrans %}</th>
                    <th scope="col">{% trans %}measures{% endtrans %}</th>
                    <th scope="col">{% trans %}stateAgency{% endtrans %}</th>
                    <th scope="col">{% trans %}affectedPersons{% endtrans %}</th>
                    <th scope="col">{% trans %}client{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for a in vorfall %}
                    <tr class="clickable-row" data-href='{{ path('vorfall_edit',{'id':a.id}) }}'>
                        <th scope="row">{{ a.datum|date('d.m.Y H:i') }}</th>
                        <td>{{ a.nummer }}</td>
                        <td>{{ a.fakten }}</td>
                        <td>{{ a.auswirkung }}</td>
                        <td>{{ a.massnahmen }}</td>
                        <td>{% trans from 'general' %}{{ a.gemeldet? 'yes':'no' }}{% endtrans %}</td>
                        <td>{% trans from 'general' %}{{ a.betroffeneGemeldet? 'yes':'no' }}{% endtrans %}</td>
                        <td>{% trans from 'general' %}{{ a.auftraggeberGemeldet? 'yes':'no' }}{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
