{% trans_default_domain 'policies' %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div>

    <div {% if not activ or policy.approved %}class="disabled"{% endif %}>
        <div>
            <div>
                {{ form_label(form.title) }}
            </div>
            <div>
                {{ form_widget(form.title) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.reference) }}
            </div>
            <div>
                {{ form_widget(form.reference) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.scope) }}
            </div>
            <div>
                {{ form_widget(form.scope) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.status) }}
            </div>
            <div>
                {{ form_widget(form.status) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.person) }}
            </div>
            <div>
                {{ form_widget(form.person) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.processes) }}
            </div>
            <div>
                {{ form_widget(form.processes) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.categories) }}
            </div>
            <div>
                {{ form_widget(form.categories) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.people) }}
            </div>
            <div>
                {{ form_widget(form.people) }}
            </div>
        </div>


        <div>
            <div>
                {{ form_label(form.risk) }}
            </div>
            <div>
                {{ form_widget(form.risk) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.foundation) }}
            </div>
            <div>
                {{ form_widget(form.foundation) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.protection) }}
            </div>
            <div>
                {{ form_widget(form.protection) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.notes) }}
            </div>
            <div>
                {{ form_widget(form.notes) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.consequences) }}
            </div>
            <div>
                {{ form_widget(form.consequences) }}
            </div>
        </div>

        <div>
            <div>
                {{ form_label(form.contact) }}
            </div>
            <div>
                {{ form_widget(form.contact) }}
            </div>
        </div>
    </div>
    <div>
        <div>
            {{ form_label(form.uploadFile) }}
            {% if activ or policy.approved %}
                {{ form_widget(form.uploadFile) }}
            {% else %}
                {{ form_widget(form.uploadFile, { 'disabled':'disabled' }) }}
            {% endif %}
            {% if policy.upload %}
                <a href="{{ path('policy_download_file', {'id':policy.id}) }}" download>
                    {% trans %}downloadAttachment{% endtrans %}
                </a>
            {% endif %}
        </div>
    </div>


    {% if not activ or policy.approved %}
        {{ form_widget(form.save, { 'disabled':'disabled' }) }}
    {% else %}
        {{ form_widget(form.save) }}
    {% endif %}


</div>
{{ form_end(form) }}
