{% trans_default_domain 'policies' %}
{% set disabled = not activ or policy.approved %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'disabled': disabled }}) }}
<fieldset>
    {{ form_row(form.title) }}
    {{ form_row(form.reference) }}
    {{ form_row(form.scope) }}
    {{ form_row(form.status) }}
    {{ form_row(form.person) }}
    {{ form_row(form.processes) }}
    {{ form_row(form.categories) }}
    {{ form_row(form.people) }}
    {{ form_row(form.risk) }}
    {{ form_row(form.foundation) }}
    {{ form_row(form.protection) }}
    {{ form_row(form.notes) }}
    {{ form_row(form.consequences) }}
    {{ form_row(form.contact) }}
</fieldset>
<fieldset>
    {{ form_label(form.uploadFile) }}
    {{ form_widget(form.uploadFile, { attr: {'disabled': disabled} }) }}
    {% if policy.upload %}
        <a href="{{ path('policy_download_file', {'id':policy.id}) }}" download>
            {% trans %}downloadAttachment{% endtrans %}
        </a>
    {% endif %}
</fieldset>
{{ form_row(form.save, { attr: {'disabled': disabled} }) }}
{{ form_rest(form) }}
{{ form_end(form) }}