<a href="{{ path('policy_edit',{'id':p.id}) }}"><span>{{ p.createdAt|date('d.m.Y') }} -- {{ p.statusString }} -- {{ p.user.email }}  {{ p.approved?'(Diese Version war freigegeben)' }} </span></a>
{% if p.previous %}
    {{ include('policies/__history.html.twig', {'p':p.previous}) }}
{% endif %}