{% extends 'base.html.twig' %}
{% trans_default_domain 'policies' %}

{% set fullWidthLayout = true %}

{% block title %}
    {% trans %}policies.internal{% endtrans %}
{% endblock %}

{% block CTA %}
    <a href="{{ path('policy_new') }}" class="btn btn-create">
        {% trans %}policies.new{% endtrans %}
    </a>
{% endblock %}

{% block body %}
    <table id="data-table" class="dataTable">
        <thead>
            <tr>
                <th scope="col">{% trans from 'general' %}fileNumber{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}description{% endtrans %}</th>
                <th scope="col">{% trans %}scopes{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}processings{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}state{% endtrans %}</th>
                {% include 'base/__inheritanceTHeaders.html.twig' with {currentTeam:currentTeam} %}
            </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr data-href='{{ path('policy_edit',{'id':d.id}) }}'>
                <td>{{ d.reference }}</td>
                <td>{{ d.title }}</td>
                <td>{{ d.scope|raw }}</td>
                <td>{% for p in d.processes | filter(p => p.activ) %}{{ p.name }}<br>{% endfor %}</td>
                <td>{% if d.approved %}
                        {% trans from 'general' %}approved{% endtrans %}
                    {% else %}
                        {{ d.statusString }}
                    {% endif %}
                </td>
                {% set inherited = policyInherited(d) %}
                {% set used = teamUsesPolicy(currentTeam, d) %}
                {% include 'base/__inheritanceTCols.html.twig' with {team:d.team, currentTeam:currentTeam, inherited:inherited, used:used} %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
