{% extends 'base.html.twig' %}
{% trans_default_domain 'policies' %}

{% block CTA %}
    <a class="btn btn-indigo ml-1 btn-sm" href="{{ path('policy_new') }}">
        <span>{% trans %}policies.new{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">{% trans %}policies.internal{% endtrans %}</h2>
    {% include 'base/__flashMessage.html.twig' with {app:app} %}
    <div class="card card-body">
        <div class="table-responsive">
            <table id="data-table" class="table display table-striped ">
                <thead>
                <tr>
                    <th scope="col">{% trans from 'general' %}fileNumber{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}description{% endtrans %}</th>
                    <th scope="col">{% trans %}scopes{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}processings{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}state{% endtrans %}</th>
                    {% include 'base/__inheritanceTHeaders.html.twig' with {currentTeam:currentTeam} %}
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                    <tr class="clickable-row" data-href='{{ path('policy_edit',{'id':d.id}) }}'>
                        <th scope="row">{{ d.reference }}</th>
                        <td>{{ d.title }}</td>
                        <td>{{ d.scope|raw }}</td>
                        <td>{% for p in d.processes | filter(p => p.activ) %}{{ p.name }}<br>{% endfor %}</td>
                        <td>{% if d.approved %}<span
                                    class="note-success p-1">{% trans from 'general' %}approved{% endtrans %}</span>{% else %}{{ d.statusString }}{% endif %}
                        </td>
                        {% set inherited = policyInherited(d) %}
                        {% set used = teamUsesPolicy(currentTeam, d) %}
                        {% include 'base/__inheritanceTCols.html.twig' with {team:d.team, currentTeam:currentTeam, inherited:inherited, used:used} %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
