{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>
        {{ 'profile.show.username'|trans }}: {{ user.username }}<br>
        {{ 'profile.show.email'|trans }}: {{ user.email }}
    </p>

    <p>
        Letzer Login: {{ user.lastLogin|date('d.m.Y H:i') }} Uhr
    </p>

    {% if currentTeam is defined %}
        <p>
            Team: {% if currentTeam %}{{ currentTeam.name }}<br>{% endif %}
            Akademie: {% if user.akademieuser %}{{ user.akademieuser.name }}<br>{% endif %}
            Team: {% if currentTeam in user.adminRoles %}{{ currentTeam.name }}{% endif %}
        </p>
    {% endif %}
</div>
