{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>
        {{ 'profile.show.username'|trans }}: {{ user.username }}<br>
        {{ 'profile.show.email'|trans }}: {{ user.email }}
    </p>

    <p>
        Letzer Login: {{ user.lastLogin|date('d.m.Y H:i') }} Uhr
    </p>

    {% if user.team %}
        <p>
            Team: {% if user.team %}{{ user.team.displayName }}{% endif %}<br>
            Akademie: {% if user.akademieuser %}{{ user.akademieuser.name }}{% endif %}<br>
            Team: {% if user.adminUser %}{{ user.adminUser.name }}{% endif %}
        </p>
    {% endif %}
</div>
