{% trans_default_domain 'base' %}

<nav class="p-3 h-full overflow-y-auto">
    <div class="mb-5">
        <a href="{{ path('dashboard') }}">
            <img alt="logo" src="{{ asset('logo.png') }}"/>
        </a>
    </div>

    {{ knp_menu_render('main') }}

    <div class="label">{% trans %}elements{% endtrans %}</div>
    {{ knp_menu_render('elements') }}

    {% if app.user.akademieUser %}
        <div class="label">{% trans %}academy{% endtrans %}</div>
        {{ knp_menu_render('elements') }}
    {% endif %}

    {% if app.user.adminRole %}
        <div class="label">{% trans %}teamAdminArea{% endtrans %}</div>
        {{ knp_menu_render('teamAdmin') }}
    {% endif %}

    {% if 'ROLE_ADMIN' in app.user.roles %}
        <div class="label">{% trans %}superAdminArea{% endtrans %}</div>
        {{ knp_menu_render('admin') }}
    {% endif %}
</nav>