{% trans_default_domain 'base' %}

<!-- Sidebar  -->
<nav id="sidebar" class="scrollbar-deep-purple bordered-deep-purple thin overflow-auto">
    <div class="sidebar-header">
        <a href="{{ path('dashboard') }}">
            <img alt="logo" src="{{ asset('logo.png') }}" class="img-fluid" />
        </a>
    </div>
{% if app.user is defined and app.user is not null %}
    <ul class="list-unstyled components ">
        {% if app.user.TeamDsb is not empty %}
            <li class="{{ app.request.attributes.get('_route') == 'dsb' ? 'active' }}">
                <a href="{{ path('dsb') }}">{% trans %}externalDsb{% endtrans %}</a>
            </li>
        {% endif %}
        {% if app.user.team %}
            <li class="{{ app.request.attributes.get('_route') == 'dashboard' ? 'active' }}">
                <a href="{{ path('dashboard') }}">{% trans %}dashboard{% endtrans %}</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'assign' ? 'active' }}">
                <a href="{{ path('assign') }}">{% trans %}myAssignments{% endtrans %}</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'tasks' ? 'active' }}">
                <a href="{{ path('tasks') }}">{% trans %}tasks{% endtrans %}</a>
            </li>
            <li>
                <a href="#elementsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans %}elements{% endtrans %}</a>
                <ul class="collapse list-unstyled" id="elementsSubmenu">
                    <li class="{{ app.request.attributes.get('_route') == 'audit_tom' ? 'active' }}">
                        <a href="{{ path('audit_tom') }}">{% trans %}auditQuestions{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'vvtdatenkategorie' ? 'active' }}">
                        <a href="{{ path('app_vvtdatenkategorie_index') }}">{% trans %}dataCategories{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'tom' ? 'active' }}">
                        <a href="{{ path('tom') }}">{% trans %}toms{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'vvt' ? 'active' }}">
                        <a href="{{ path('vvt') }}">{% trans %}processings{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'loeschkonzept' ? 'active' }}">
                        <a href="{{ path('app_loeschkonzept_index') }}">{% trans %}deleteConcepts{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'policies' ? 'active' }}">
                        <a href="{{ path('policies') }}">{% trans %}policies{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'kontakt' ? 'active' }}">
                        <a href="{{ path('kontakt') }}">{% trans %}contacts{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'datenweitergabe' ? 'active' }}">
                        <a href="{{ path('datenweitergabe') }}">{% trans %}dataTransfers{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'auftragsverarbeitung' ? 'active' }}">
                        <a href="{{ path('auftragsverarbeitung') }}">{% trans %}orderProcessing{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'software' ? 'active' }}">
                        <a href="{{ path('software') }}">{% trans %}software{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'forms' ? 'active' }}">
                        <a href="{{ path('forms') }}">{% trans %}forms{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'vorfall' ? 'active' }}">
                        <a href="{{ path('vorfall') }}">{% trans %}incidents{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'client_requests' ? 'active' }}">
                        <a href="{{ path('client_requests') }}">{% trans %}customerQuestions{% endtrans %}</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'report' ? 'active' }}">
                        <a href="{{ path('report') }}">{% trans %}activities{% endtrans %}</a>
                    </li>
                </ul>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'bericht' ? 'active' }}">
                <a href="{{ path('bericht') }}">{% trans %}reports{% endtrans %}</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'external' ? 'active' }}">
                <a href="{{ path('external') }}">{% trans %}external{% endtrans %}</a>
            </li>
        {% endif %}
        {% if app.user.akademieUser %}
            <li class="{{ app.request.attributes.get('_route') == 'akademie' ? 'active' }}">
                <a href="{{ path('akademie') }}">{% trans %}academy{% endtrans %}</a>
            </li>
        {% endif %}
        {% if app.user.adminRole or 'ROLE_ADMIN' in app.user.roles  %}
            <li><hr></li>
        {% endif %}
        {% if app.user.adminRole %}
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans %}teamAdminArea{% endtrans %}</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="{{ path('team_edit') }}">{% trans %}teamData{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('team_custom') }}">{% trans %}presets{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('team_abteilungen') }}">{% trans %}departments{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('team_mitglieder') }}">{% trans %}users{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('akademie_admin') }}">{% trans %}academy{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('team_dsb') }}">{% trans %}externalDsb{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('upload_new') }}">{% trans %}import{% endtrans %}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <li>
                <a href="#superAdminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{% trans %}superAdminArea{% endtrans %}</a>
                <ul class="collapse list-unstyled" id="superAdminSubmenu">
                    <li>
                        <a href="{{ path('manage_settings') }}">{% trans %}manageOdc{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('manage_teams') }}">{% trans %}manageTeams{% endtrans %}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
{% endif %}
</nav>

