<!-- Sidebar  -->
<nav id="sidebar" class="scrollbar-deep-purple bordered-deep-purple thin overflow-auto">
    <div class="sidebar-header">
        <a href="{{ path('dashboard') }}"><img src="{{ asset('logo.png') }}" class="img-fluid"></a>
    </div>
{% if app.user is defined and app.user is not null %}
    <ul class="list-unstyled components ">
        {% if app.user.TeamDsb is not empty %}
            <li class="{{ app.request.attributes.get('_route') == 'dsb' ? 'active' }}">
                <a href="{{ path('dsb') }}">Externer DSB</a>
            </li>
        {% endif %}
        {% if app.user.team %}
            <li class="{{ app.request.attributes.get('_route') == 'dashboard' ? 'active' }}">
                <a href="{{ path('dashboard') }}">Dashboard</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'assign' ? 'active' }}">
                <a href="{{ path('assign') }}">Meine Zuweisungen</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'tasks' ? 'active' }}">
                <a href="{{ path('tasks') }}">Aufgaben</a>
            </li>
        {% endif %}
        {% if app.user.akademieUser %}
            <li class="{{ app.request.attributes.get('_route') == 'akademie' ? 'active' }}">
                <a href="{{ path('akademie') }}">Akademie</a>
            </li>
        {% endif %}
        {% if app.user.team %}
            <li class="{{ app.request.attributes.get('_route') == 'audit_tom' ? 'active' }}">
                <a href="{{ path('audit_tom') }}">Auditfragen</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'vvtdatenkategorie' ? 'active' }}">
                <a href="{{ path('app_vvtdatenkategorie_index') }}">Datenkategorien</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'tom' ? 'active' }}">
                <a href="{{ path('tom') }}">TOM</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'vvt' ? 'active' }}">
                <a href="{{ path('vvt') }}">Verarbeitungen</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'loeschkonzept' ? 'active' }}">
                <a href="{{ path('app_loeschkonzept_index') }}">Löschkonzepte</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'policies' ? 'active' }}">
                <a href="{{ path('policies') }}">Richtlinien</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'kontakt' ? 'active' }}">
                <a href="{{ path('kontakt') }}">Kontakte</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'datenweitergabe' ? 'active' }}">
                <a href="{{ path('datenweitergabe') }}">Datenweitergabe</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'auftragsverarbeitung' ? 'active' }}">
                <a href="{{ path('auftragsverarbeitung') }}">Auftragsverarbeitung</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'software' ? 'active' }}">
                <a href="{{ path('software') }}">Software</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'forms' ? 'active' }}">
                <a href="{{ path('forms') }}">Formulare</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'vorfall' ? 'active' }}">
                <a href="{{ path('vorfall') }}">Vorfälle</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'client_requests' ? 'active' }}">
                <a href="{{ path('client_requests') }}">Kundenanfragen</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'report' ? 'active' }}">
                <a href="{{ path('report') }}">Aktivitäten</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'bericht' ? 'active' }}">
                <a href="{{ path('bericht') }}">Berichte</a>
            </li>
            <li class="{{ app.request.attributes.get('_route') == 'external' ? 'active' }}">
                <a href="{{ path('external') }}">External</a>
            </li>
        {% endif %}

        {% if app.user.adminUser %}
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="{{ path('team_edit') }}">Stammdaten</a>
                    </li>
                    <li>
                        <a href="{{ path('team_custom') }}">Vorgaben/Einstellungen</a>
                    </li>
                    <li>
                        <a href="{{ path('team_abteilungen') }}">Abteilungen</a>
                    </li>
                    <li>
                        <a href="{{ path('team_mitglieder') }}">Benutzer</a>
                    </li>
                    <li>
                        <a href="{{ path('akademie_admin') }}">Akademie</a>
                    </li>
                    <li>
                        <a href="{{ path('team_dsb') }}">Externer DSB</a>
                    </li>
                    <li>
                        <a href="{{ path('upload_new') }}">Import</a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
{% endif %}
</nav>

