{% trans_default_domain 'base' %}
<ul>
    {{ include('base/__teamToggle.html.twig') }}

    <!-- Button trigger modal -->
    <li>
        <a type="button"
           data-toggle="modal"
           data-target="#sideModalTR">
            <img alt="profile icon" src="{{ asset('images/profil.svg') }}" style="max-height: 30px">
        </a>
    </li>
    <li>
        <a href="{{ path('logout_keycloak') }}">
            <img alt="logout icon" src="{{ asset('images/logout.svg') }}" style="max-height: 30px">
        </a>
    </li>
</ul>

<!-- To change the direction of the modal animation change .right class -->
<div id="sideModalTR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
    <div role="document">


        <div>
            <div>
                <h4 id="myModalLabel">{% trans %}profile{% endtrans %}</h4>
                <button type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <p>
                    {% trans %}name{% endtrans %}: {{ app.user.firstName }} {{ app.user.lastName }}<br>
                    {% trans %}email{% endtrans %}: {{ app.user.email }}
                </p>
                {% if demo == 'prod' %}
                    <a
                       href="{{ path('connect_keycloak_edit') }}"
                       target="_blank">{% trans %}editProfile{% endtrans %}</a>
                    <a
                       href="{{ path('connect_keycloak_edit') }}"
                       target="_blank">{% trans %}changePassword{% endtrans %}</a>
                {% endif %}
            </div>
            <div>
                <a href="{{ path('logout_keycloak') }}"
                  >{% trans %}logout{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
<!-- Side Modal Top Right -->
