{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="card card-body {% if not activ %}disabled{% endif %}">

    {% if activNummer %}
        {{ form_label(form.nummer) }}
        {{ form_widget(form.nummer) }}
    {% endif %}

    <div class="mt-4">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.status) }}
        {{ form_widget(form.status) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.abteilung) }}
        {{ form_widget(form.abteilung) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.produkt) }}
        {{ form_widget(form.produkt) }}
        {{ form_help(form.produkt) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.userContract) }}
        {{ form_widget(form.userContract) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.verantwortlich) }}
        {{ form_widget(form.verantwortlich) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.grundlage) }}
        {{ form_widget(form.grundlage) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.zweck) }}
        {{ form_widget(form.zweck) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.speicherung) }}
        {{ form_widget(form.speicherung) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.loeschfrist) }}
        {{ form_widget(form.loeschfrist) }}
    </div>

    <div class="mt-4">
        {{ form_label(form.personengruppen) }}
        {{ form_widget(form.personengruppen) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.kategorien) }}
        {{ form_widget(form.kategorien) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.weitergabe) }}
        {{ form_widget(form.weitergabe) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.jointControl) }}
        {{ form_widget(form.jointControl) }}
        {{ form_label(form.auftragsverarbeitung) }}
        {{ form_widget(form.auftragsverarbeitung) }}
    </div>
    <stan class="mt-4">{{ form_label(form.datenweitergaben) }}</stan>
    <div class="row">

        <div class="col-md-6">
            {{ form_widget(form.datenweitergaben) }}
        </div>
        <div class="col-md-6">
            {% if vvt.datenweitergaben is defined and vvt.datenweitergaben is not null %}
                <b>Zugehörige Datenweitergaben</b><br>
                <ul>
                    {% for d in vvt.datenweitergaben %}
                        {% if d.activ == 1 %}
                            {% if d.art == 1 %}
                                <li><a href="{{ path('datenweitergabe_edit',{'id':d.id}) }}">{{ d.gegenstand }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <b>Zugehörige Auftragsdatenverarbeitungen</b><br>
                <ul>
                    {% for d in vvt.datenweitergaben %}
                        {% if d.activ == 1 %}
                            {% if d.art == 2 %}
                                <li><a href="{{ path('datenweitergabe_edit',{'id':d.id}) }}">{{ d.gegenstand }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="mt-4">
        {{ form_label(form.software) }}
        {{ form_widget(form.software) }}
    </div>

    <div class="mt-4">
        {{ form_label(form.eu) }}
        {{ form_widget(form.eu) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.tomLink) }}
        {{ form_widget(form.tomLink) }}
    </div>
    <div class="mt-4">
        {{ form_label(form.tom) }}
        {{ form_widget(form.tom) }}
    </div>

    <h4 class="h4-responsive">Risikoabschätzung</h4>
    <div class="mt-4">
        {{ form_label(form.risiko) }}
        {{ form_widget(form.risiko) }}
    </div>


    <div class="row mt-4">
        <div class="col-md-6">
            {{ form_label(form.beurteilungEintritt) }}
            {{ form_widget(form.beurteilungEintritt) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.beurteilungSchaden) }}
            {{ form_widget(form.beurteilungSchaden) }}
        </div>
    </div>

    <div class="mt-4 ">
        {{ form_label(form.informationspflicht) }}
        {{ form_widget(form.informationspflicht) }}
        <p>
            Es sollte je Verfahren dokumentiert werden, wo und wie den Informationspflichten jeweils nachgekommen wird.
            Dies kann bspw. durch Verweis auf Datenschutzhinweise, Vertragsbestandteile, Disclaimer in Formularen, bei
            Mitarbeiterdaten z.B. auch durch Verweise bei Erhebung auf intern bekanntgemachte Betriebsvereinbarung etc.
            erfolgen.
        </p>
    </div>
    <div class="mt-4 mb-4">
        {{ form_label(form.dsb) }}
        {{ form_widget(form.dsb) }}
        <p>
            Neben der verpflichtenden Erfassung des Verarbeitungszwecks sollte zur Erfüllung der Rechenschaftpflichten
            gem. Art. 5 auch die Rechtsgrundlage mitsamt ggfs. erforderlicher Abwägungen, Einwilligungsklauseln und
            Prüfvermerken, ob bspw. die Anforderungen an Widerspruchsmöglichkeiten oder die automatisierte
            Einzelentscheidung berücksichtigt wurden.
        </p>
        <p>
            Datenminimierung: Dies kann bspw. durch einen Prüfvermerk des Datenschutzbeauftragten, ob diese Grundsätze
            nach seiner Einschätzung ausreichend berücksichtigt wurde, dokumentiert werden.
        </p>
    </div>

    <p>
        Vorhandene interne Richtlinien zu dieser Verarbeitung
    <ul>
        {% for p in vvt.policies if p.activ %}
            <li>
                <a href="{{ path('policy_edit',{'id':p.id}) }}">{{ p.scope|nl2br }}</a>
            </li>
        {% endfor %}
    </ul>
    </p>

    {{ form_widget(form.save) }}


</div>
{{ form_end(form) }}