{% trans_default_domain 'vvt' %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<fieldset>
    <legend>{% trans %}dataForProcessing{% endtrans %}</legend>
    {% if activNummer %}
        {{ form_row(form.nummer) }}
    {% endif %}
    {{ form_row(form.name) }}
    {{ form_row(form.auftragsverarbeitung) }}
    {{ form_row(form.status) }}
    {{ form_row(form.abteilung) }}
    {{ form_row(form.produkt) }}
    {{ form_row(form.userContract) }}
    {{ form_row(form.verantwortlich) }}
    {{ form_row(form.grundlage) }}
    {{ form_row(form.zweck) }}
    {{ form_row(form.speicherung) }}
    {{ form_row(form.loeschfrist) }}
</fieldset>

<fieldset>
    <legend>{% trans %}collectedData{% endtrans %}</legend>
    {{ form_row(form.personengruppen) }}
    {{ form_row(form.kategorien) }}
</fieldset>

<fieldset>
    <legend>{% trans %}orderProcessing{% endtrans %}</legend>
    {{ form_row(form.jointControl) }}
    {{ form_row(form.weitergabe) }}
    {{ form_row(form.datenweitergaben) }}

    {% if vvt.datenweitergaben is defined and vvt.datenweitergaben is not null %}
        <h4>{% trans %}associatedDataTransfer{% endtrans %}</h4>
        <ul class="initial mb-5">
            {% for d in vvt.datenweitergaben %}
                {% if d.activ == 1 %}
                    {% if d.art == 1 %}
                        <li>
                            <a href="{{ path('datenweitergabe_edit',{'id':d.id}) }}">{{ d.gegenstand }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <hr class="my-5">
        <h4>{% trans %}associatedOrderProcessing{% endtrans %}</h4>
        <ul class="initial mb-5">
            {% for d in vvt.datenweitergaben %}
                {% if d.activ == 1 %}
                    {% if d.art == 2 %}
                        <li>
                            <a href="{{ path('datenweitergabe_edit',{'id':d.id}) }}">{{ d.gegenstand }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <hr class="my-5">
    {% endif %}

    {{ form_row(form.eu) }}
</fieldset>

<fieldset>
    <legend>{% trans %}technicalOrganizationalActions{% endtrans %}</legend>
    {{ form_row(form.software) }}
    {{ form_row(form.tomLink) }}
    {{ form_row(form.tom) }}
</fieldset>

<fieldset>
    <legend>{% trans %}riskAssessment{% endtrans %}</legend>
    {{ form_row(form.risiko) }}
    {{ form_row(form.beurteilungEintritt) }}
    <ul class="initial mb-5">
        <li>
            {% trans %}probability.highest{% endtrans %}
        </li>
        <li>
            {% trans %}probability.high{% endtrans %}
        </li>
        <li>
            {% trans %}probability.low{% endtrans %}
        </li>
        <li>
            {% trans %}probability.lowest{% endtrans %}
        </li>
    </ul>
    {{ form_row(form.beurteilungSchaden) }}
    <p class="mt-5">
        {% trans %}riskAssessmentDisclaimer{% endtrans %}
    </p>
</fieldset>

<fieldset>
    <legend>{% trans %}dutyToInform{% endtrans %}</legend>
    {{ form_row(form.source) }}
    {{ form_row(form.informationspflicht) }}
    {{ form_row(form.dsb) }}

    <p class="mt-5">
        {% trans %}processing.disclaimer{% endtrans %}
    </p>

    {% for p in vvt.policies | filter(p => p.activ) %}
        <a href="{{ path('policy_edit',{'id':p.id}) }}">{{ p.title }}</a>
    {% endfor %}
</fieldset>

{{ form_row(form.save, {row_attr: {class: 'form-buttons'}}) }}
{{ form_end(form) }}
