{% extends 'base.html.twig' %}
{% trans_default_domain 'vvt' %}

{% block CTA %}
    {% if vvt.activDsfa is null and isEditable %}
        <a class="btn btn-indigo btn-sm ml-1" href="{{ path('vvt_dsfa_new', {'vvt':vvt.id}) }}"
           title="{% trans %}dataProtectionImpactAssessment.create{% endtrans %}">
            <span>{% trans %}dsfa.create{% endtrans %}</span>
        </a>
    {% elseif vvt.activDsfa is not null %}
        <a class="btn btn-indigo ml-1 btn-sm " href="{{ path('vvt_dsfa_edit', {'dsfa':vvt.activDsfa.id}) }}"
           title="{% trans %}dataProtectionImpactAssessment.show{% endtrans %}">
            <span>{% trans %}dsfa.show{% endtrans %}</span>
        </a>
    {% endif %}
    {% if vvt.activ %}
        {% if isEditable %}
            <a class="btn btn-cyan btn-sm ml-1" href="{{ path('vvt_clone', {'id':vvt.id}) }}">
                <span>{% trans %}processing.duplicate{% endtrans %}</span>
            </a>
        {% endif %}
        <a class="btn btn-amber ml-1 btn-sm " href="{{ path('bericht_vvt', {'id':vvt.id}) }}">
            <span>{% trans from 'general' %}pdf.create{% endtrans %}</span>
        </a>
        <a class="btn btn-amber ml-1 btn-sm " href="{{ path('bericht_vvt', {'id':vvt.id, 'all':1}) }}">
            <span>{% trans from 'general' %}pdf.createWithHistory{% endtrans %}</span>
        </a>
        <a class="btn btn-amber ml-1 btn-sm" href="{{ path('bericht_vvt', {'id':vvt.id, 'min':1}) }}">
            <span>{% trans %}pdf.createExternal{% endtrans %}</span>
        </a>
        {% if not isEditable %}
            {{ include('vvt/__ignoreInheritanceBtn.html.twig',{'process':vvt,'team':currentTeam}) }}
        {% endif %}
        {% if isEditable %}
            {{ include('base/__approveBtn.html.twig',{'data':vvt,'dataLink':'vvt_approve'}) }}
            {{ include('base/__disableBtn.html.twig',{'data':vvt,'dataLink':'vvt_disable'}) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h2 class="h2-responsive">{{ title }} {% if not activNummer %}<span
                        class="small"> {% trans from 'general' %}id{% endtrans %}: {{ vvt.nummer }}{% endif %}</span></h2>
            {{ include('base/__approvedBy.html.twig', {'data':vvt}) }}

            {% if vvt.activDsfa is not null %}<h3 class="h3-responsive">{% trans %}dsfa.exists{% endtrans %}</h3>{% endif %}
        </div>
        {% if isEditable %}
            <div class="col-md-4 text-right">
                {{ include('assign/__assign.html.twig',{'data':vvt,'path':'assign_vvt'}) }}
            </div>
        {% endif %}
    </div>

    {% set used = vvt not in currentTeam.ignoredInheritances %}
    {% include 'base/__inheritanceInfo.html.twig' with {team:vvt.team, currentTeam:currentTeam, used:used, inherited:vvt.inherited, domain:'vvt'} %}
    {% include 'base/__flashMessage.html.twig' with {app:app} %}

    {{ include('vvt/__form.html.twig') }}
    <p>{% trans from 'general' %}createdBy{% endtrans %}: {{ vvt.user.email }}</p>
    {% if vvt.previous %}
        <div class="card card-body mt-2">
            <h2>{% trans from 'general' %}history{% endtrans %}</h2>
            {{ include('vvt/__history.html.twig', {'p':vvt.previous}) }}
        </div>
    {% endif %}

    {{ include('base/__snack.html.twig') }}

{% endblock %}

{% block javascript %}
{% endblock %}
