{% extends 'base.html.twig' %}
{% trans_default_domain 'vvt' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('vvt_edit',{'id':dsfa.vvt.id}) }}" class="btn btn-sm btn-secondary">{% trans %}processing.back{% endtrans %}</a>
            <h2 class="h2-responsive my-3">{{ title }} {% trans from 'general' %}to{% endtrans%} {{ dsfa.vvt.name }}</h2>
        </div>
        <div class="col-md-6 text-right">
            {% if assignForm is defined and isEditable %}{{ include('assign/__assign.html.twig',{'data':dsfa,'path':'assign_dsfa'}) }}{% endif %}
        </div>
        <div class="col-12">
            {% set used = dsfa.vvt not in currentTeam.ignoredInheritances %}
            {% include 'base/__inheritanceInfo.html.twig' with {team:dsfa.team, currentTeam:currentTeam, used:used, inherited:dsfa.vvt.inherited} %}
            {% include 'base/__flashMessage.html.twig' with {app:app} %}
        </div>
    </div>

    {{ form_start(form) }}
    <div class="card card-body {% if not dsfa.vvt.activ or dsfa.vvt.approved %}disabled{% endif %}">
        <div class="row">
            <div class="col-md-3">
                {{ form_label(form.beschreibung) }}
                {{ form_help(form.beschreibung) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.beschreibung) }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                {{ form_label(form.notwendigkeit) }}
                {{ form_help(form.notwendigkeit) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.notwendigkeit) }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                {{ form_label(form.risiko) }}
                {{ form_help(form.risiko) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.risiko) }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                {{ form_label(form.abhilfe) }}
                {{ form_help(form.abhilfe) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.abhilfe) }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                {{ form_label(form.standpunkt) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.standpunkt) }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                {{ form_label(form.dsb) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.dsb) }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                {{ form_label(form.ergebnis) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.ergebnis) }}
            </div>
        </div>
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
    <p>{% trans from 'general' %}createdBy{% endtrans %}: {{ dsfa.user.email }}</p>
    {% if dsfa.previous %}
        <div class="card card-body mt-2">
            <h2>{% trans from 'general' %}history{% endtrans %}</h2>
            {{ include('vvt/__dsfaHistory.html.twig', {'p':dsfa.previous}) }}
        </div>
    {% endif %}

    {{ include('base/__snack.html.twig') }}
{% endblock %}

{% block javascript %}
{% endblock %}
