{% extends 'base.html.twig' %}
{% trans_default_domain 'vvt' %}

{% block body %}
    <div>
        <div>
            <h2>{{ title }} {% trans from 'general' %}to{% endtrans%} {{ dsfa.vvt.name }}</h2>
            <a href="{{ path('vvt_edit',{'id':dsfa.vvt.id}) }}">{% trans %}processing.back{% endtrans %}</a>
        </div>
        <div>
            {% if assignForm is defined %}{{ include('assign/__assign.html.twig',{'data':dsfa,'path':'assign_dsfa'}) }}{% endif %}
        </div>
    </div>

    {{ form_start(form) }}
    <div>
        <div>
            <div>
                {{ form_label(form.beschreibung) }}
                {{ form_help(form.beschreibung) }}
            </div>
            <div>
                {{ form_widget(form.beschreibung) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.notwendigkeit) }}
                {{ form_help(form.notwendigkeit) }}
            </div>
            <div>
                {{ form_widget(form.notwendigkeit) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.risiko) }}
                {{ form_help(form.risiko) }}
            </div>
            <div>
                {{ form_widget(form.risiko) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.abhilfe) }}
                {{ form_help(form.abhilfe) }}
            </div>
            <div>
                {{ form_widget(form.abhilfe) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.standpunkt) }}
            </div>
            <div>
                {{ form_widget(form.standpunkt) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.dsb) }}
            </div>
            <div>
                {{ form_widget(form.dsb) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.ergebnis) }}
            </div>
            <div>
                {{ form_widget(form.ergebnis) }}
            </div>
        </div>
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
    <p>{% trans from 'general' %}createdBy{% endtrans %}: {{ dsfa.user.email }}</p>
    {% if dsfa.previous %}
        <div>
            <h2>{% trans from 'general' %}history{% endtrans %}</h2>
            {{ include('vvt/__dsfaHistory.html.twig', {'p':dsfa.previous}) }}
        </div>
    {% endif %}

    {{ include('base/__snack.html.twig') }}
{% endblock %}

{% block javascript %}
{% endblock %}
