{% extends 'base.html.twig' %}
{% trans_default_domain 'vvt' %}

{% block CTA %}
    <a class="btn btn-indigo ml-1 btn-sm" href="{{ path('vvt_new') }}">
        <span>{% trans %}processing.create{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">{% trans %}processing.directory{% endtrans %}</h2>

    <div class="card card-body">
        <div class="table-responsive">
            <table id="data-table" class="table display table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" title="{% trans %}processing.typeHelp{% endtrans %}">{% trans from 'general' %}type{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}name{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}basic{% endtrans %}</th>
                    <th scope="col" title="{% trans %}dataProtectionImpactAssessment.word{% endtrans %}">{% trans %}dsfa.exists{% endtrans %}</th>
                    <th scope="col">{% trans %}deleteDeadlineCategory{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}department.word{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}product{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}state{% endtrans %}</th>
                    <th scope="col">{% trans %}assessment{% endtrans %}</th>
                    {% include 'base/__inheritanceTHeaders.html.twig' with {currentTeam:currentTeam} %}
                </tr>
                </thead>
                <tbody>
                {% for v in vvt %}
                    <tr class="clickable-row" data-href='{{ path('vvt_edit',{'id':v.id}) }}'>
                        <th scope="row">{{ v.nummer }}</th>
                        <td>{{ v.auftragsverarbeitung? 'AV':'' }}<br>{{ v.jointControl? 'GV':'' }}</td>
                        <td>{{ v.name }}</td>
                        <td>{% for g in v.grundlage %}- {{ g.name }}<br>{% endfor %}</td>
                        <td>{{ v.activDsfa?'yes':'no' | trans([], 'general') }}</a></td>
                        <td>{% for k in v.kategorien %}{{k}}<br>{% endfor %}</td>
                        <td>{% if v.abteilung %}{{ v.abteilung.name }}{% endif %}</td>
                        <td>{% if v.produkt %}{% for p in v.produkt %}{{ p.name }}<br>{% endfor %}{% endif %}</td>
                        <td>
                            {% if v.approved %}
                                <span class="note-success p-1">{% trans from 'general' %}approved{% endtrans %}</span>
                            {% else %}
                                {{ v.status.name }}
                            {% endif %}
                        </td>
                        <td>| E: {{ v.beurteilungEintrittString }}<br>| S: {{ v.beurteilungSchadenString }}</td>
                        {% set used = v not in currentTeam.ignoredInheritances %}
                        {% include 'base/__inheritanceTCols.html.twig' with {team:v.team, currentTeam:currentTeam, used:used, inherited:v.inherited, domain:'vvt'} %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ include('base/__snack.html.twig') }}
{% endblock %}
