{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            {{ form_start(form) }}
            <h5>{{ question.label }}</h5>
            <div>
                {{ form_row( attribute(form, question.id)) }}
            </div>
            <div>
                {{ form_row(form.continue) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}