{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="card">
            {{ form_start(form) }}
            <h5 class="card-header">{{ question.label }}</h5>
            <div class="card-body">
                {{ form_row( attribute(form, question.id)) }}
            </div>
            <div class="card-footer">
                {{ form_row(form.continue) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}