{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input type="checkbox" required id="defaultUnchecked">
    <label for="defaultUnchecked">Ich akzeptiere die mit der Registrierung verbundene
        Verarbeitung meiner Daten. *<br>Ich habe meine Rechte als betroffene Person gelesen und akzeptiere diese.<br>Mehr
        Infos in den <u><a href="{{ dataPrivacy }}">Datenschutzhinweisen</a></u>.</label>
</div>
<div>
    <button type="submit"
            value="{{ 'registration.submit'|trans }}">{{ 'registration.submit'|trans }}</button>
</div>
{{ form_end(form) }}
<p>
    Nach der Registrierung erhalten Sie eine Email mit einem Aktivierungslink, den Sie anklicken müssen um das Konto
    freizuschalten.<br>
    Sie können erst auf Elemente in einem Team zugreifen, wenn ein Administrator Sie zu einem Team hinzugefügt hat.
</p>
