{% extends 'base.html.twig' %}
{% trans_default_domain 'external' %}
{% block CTA %}{% endblock %}

{% block body %}
    <div>
        <div>
            <div>
                <div>
                    <input id="checkboxDoc" type="checkbox" name="Doc"
                           value="Doc">
                    <label
                           for="checkboxDoc">{% trans %}externalCheck{% endtrans %}</label>
                </div>
            </div>
        </div>
        {% if team.video %}
            <div>

                <div>
                    <div>
                        <h3>{% trans with {'{video}': team.video} %}videoConference.about{% endtrans %}</h3>
                    </div>
                    <div>
                        <p>{% trans %}disclaimer.jitsi{% endtrans %}</p>
                        <a href="{{ team.video }}/{{ hash }}" target="_blank"
                           referrerpolicy="no-referrer">{% trans %}to.videoConference{% endtrans %}</a>
                    </div>
                    <div>
                        @ {{ team.video }}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if team.externalLink %}
            <div>
                <div>
                    <div>
                        <h3>{% trans %}externalResource{% endtrans %}</h3>
                    </div>
                    <div>
                        <p>{% trans %}disclaimer.external{% endtrans %}</p>

                        <a href="{{ team.externalLink }}" target="_blank"
                           referrerpolicy="no-referrer">{% trans %}to.document{% endtrans %}</a>
                    </div>
                    <div>
                        {{ team.externalLink }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
