{{ form_start(form) }}
<div {% if not activ or tom.approved %}class="disabled"{% endif %}>
    <div class="mb-4">
        {% if activTitel %}
            {{ form_label(form.titel) }}
            {{ form_widget(form.titel) }}
        {% endif %}
    </div>

    <div class="mb-4">
        {{ form_label(form.beschreibung) }}
        {{ form_widget(form.beschreibung) }}
    </div>

    <h3>A. Pseudonymisierung Verschlüsselung (Art. 32 Abs. 1 lit. a) DSGVO)</h3>
    <div class="mb-4">
        {{ form_label(form.tomPseudo) }}
        {{ form_widget(form.tomPseudo) }}
    </div>

    <h3>B. Vertraulichkeit (Art. 32 Abs. 1 lit. b) DSGVO) </h3>
    <div class="mb-4">
        {{ form_label(form.tomZutrittskontrolle) }}
        {{ form_widget(form.tomZutrittskontrolle) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomZugangskontrolle) }}
        {{ form_widget(form.tomZugangskontrolle) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomZugriffskontrolle) }}
        {{ form_widget(form.tomZugriffskontrolle) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomBenutzerkontrolle) }}
        {{ form_widget(form.tomBenutzerkontrolle) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomSpeicherkontrolle) }}
        {{ form_widget(form.tomSpeicherkontrolle) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomTrennbarkeit) }}
        {{ form_widget(form.tomTrennbarkeit) }}
    </div>

    <h3>C. Integrität (Art. 32 Abs. 1 lit. c) DSGVO) </h3>
    <div class="mb-4">
        {{ form_label(form.tomDatenintegritaet) }}
        {{ form_widget(form.tomDatenintegritaet) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomTransportkontrolle) }}
        {{ form_widget(form.tomTransportkontrolle) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomUebertragungskontrolle) }}
        {{ form_widget(form.tomUebertragungskontrolle) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomEingabekontrolle) }}
        {{ form_widget(form.tomEingabekontrolle) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomZuverlaessigkeit) }}
        {{ form_widget(form.tomZuverlaessigkeit) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomAuftragskontrolle) }}
        {{ form_widget(form.tomAuftragskontrolle) }}
    </div>

    <h3>D. Verfügbarkeit und Belastbarkeit (Art. 32 Abs. 1 lit. c) DSGVO) </h3>
    <div class="mb-4">
        {{ form_label(form.tomVerfuegbarkeitskontrolle) }}
        {{ form_widget(form.tomVerfuegbarkeitskontrolle) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.tomWiederherstellbarkeit) }}
        {{ form_widget(form.tomWiederherstellbarkeit) }}
    </div>

    <h3>E. Verfahren zur regelmässigen Überprüfung, Bewertung und Evaluierung (Art. 32 Abs. 1 lit. c) DSGVO)</h3>
    <div class="mb-4">
        {{ form_label(form.tomAudit) }}
        {{ form_widget(form.tomAudit) }}
    </div>

    {{ form_widget(form.save) }}
</div>
{{ form_end(form) }}