{% extends 'base.html.twig' %}
{% trans_default_domain 'tom' %}

{% block title %}
    {{ tom.titel }} - {{ title }}
{% endblock %}

{% block CTA %}
    {% if tom.activ %}
        <a href="{{ path('bericht_tom', {'id':tom.id}) }}" class="btn">
            {% trans from 'general' %}pdf.create{% endtrans %}
        </a>
        {% if isEditable %}
            {{ include('base/__approveBtn.html.twig',{'data':tom,'dataLink':'tom_approve'}) }}
            {{ include('base/__disableBtn.html.twig',{'data':tom,'dataLink':'tom_disable'}) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    {{ include('tom/__form.html.twig') }}
    <p class="created-by">{% trans from 'general' %}createdBy{% endtrans %}: {{ tom.user.email }}</p>
    {% if tom.previous %}
        <h3 class="mt-10">{% trans from 'general' %}history{% endtrans %}</h3>
        <ol class="item-history" reversed>
            {{ include('tom/__history.html.twig', {'p':tom.previous}) }}
        </ol>
    {% endif %}

{% endblock %}