{% extends 'base.html.twig' %}
{% trans_default_domain 'tom' %}

{% set fullWidthLayout = true %}

{% block title %}
    {% trans %}tom.overview{% endtrans %}
{% endblock %}

{% block CTA %}
    <a href="{{ path('tom_new') }}" class="btn btn-create">
        {% trans %}tom.create{% endtrans %}
    </a>
{% endblock %}

{% block body %}
    <table id="data-table" class="dataTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans %}processingActivities{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}createdAt{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}title{% endtrans %}</th>
{#                <th scope="col">{% trans from 'general' %}description{% endtrans %}</th>#}
                {% include 'base/__inheritanceTHeaders.html.twig' with {currentTeam:currentTeam} %}
            </tr>
        </thead>
        <tbody>
            {% for t in tom %}
                <tr data-href='{{ path('tom_edit',{'tom':t.id}) }}'>
                    <td>{{ t.id }}</td>
                    <td>{% for vv in t.Vvts | filter(vv => vv.activ) %}{{ vv.name }}<br>{% endfor %}</td>
                    <td>{{ t.createdAt|date('d.m.Y') }}</td>
                    <td>{{ t.titel }}</td>
{#                    <td>{{ t.beschreibung }}</td>#}
                    {% set inherited = tomInherited(t) %}
                    {% set used = teamUsesTom(currentTeam, t) %}
                    {% include 'base/__inheritanceTCols.html.twig' with {team:t.team, currentTeam:currentTeam, inherited:inherited, used:used} %}
                </tr>
            {% endfor %}
    </table>
{% endblock %}
