{% trans_default_domain 'forms' %}
{% set disabled = not activ or daten.approved %}
{{ form_start(form, {'attr': {'disabled': disabled }}) }}
<fieldset>
    {{ form_row(form.title) }}
    {{ form_row(form.version) }}
    {{ form_row(form.description) }}
</fieldset>
<fieldset>
    {{ form_row(form.products) }}
    {{ form_row(form.departments) }}
    {{ form_row(form.status) }}
</fieldset>
<fieldset>
    {{ form_label(form.uploadFile) }}
    {{ form_widget(form.uploadFile) }}
    {% if daten.upload %}
        <a href="{{ path('forms_download_file', {'id':daten.id}) }}">
            {% trans %}download{% endtrans %}
        </a>
    {% endif %}
</fieldset>
{{ form_row(form.save, { row_attr: {class: 'form-buttons'}, attr: {'disabled': disabled} }) }}
{{ form_rest(form) }}
{{ form_end(form) }}