{{ form_start(form) }}
<div class="row">
    <div class="col-md-8 {% if not activ or daten.approved %}disabled{% endif %}">
        <div class="mt-2">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="mt-2">
            {{ form_label(form.version) }}
            {{ form_widget(form.version) }}
        </div>
        <div class="mt-2">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mt-2">
                    {{ form_label(form.products) }}
                    {{ form_widget(form.products) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-2">
                    {{ form_label(form.departments) }}
                    {{ form_widget(form.departments) }}
                </div>
            </div>
        </div>
        <div class="mt-2">
            {{ form_label(form.status) }}
            {{ form_widget(form.status) }}
        </div>

    </div>

    <div class="col-md-4">
        <div class="mt-2 {% if not activ %}disabled{% endif %}">
            {{ form_label(form.uploadFile) }}
            {{ form_widget(form.uploadFile) }}
        </div>
        {% if daten.upload %}
            <a href="{{ path('forms_download_file', {'id':daten.id}) }}" download class="btn bg-forms">{{ daten.title }}
                herunterladen</a>
        {% endif %}
    </div>
</div>


{{ form_label(form.save) }}
    {% if not activ or daten.approved %}
        {{ form_widget(form.save, { 'disabled':'disabled' }) }}
    {% else %}
        {{ form_widget(form.save) }}
    {% endif %}

{{ form_end(form) }}