{% trans_default_domain 'forms' %}
<a href="{{ path('forms_edit',{'id':p.id}) }}">id: {{ p.id }} -- {{ p.createdAt|date('d.m.Y H:i') }}
    -- {{ p.user.email }} -- {% trans %}version{% endtrans %}: {{ p.version }} {% trans %}{{ p.approved?'approved' }}{% endtrans %}</a>
{% if p.previous %}
    {{ include('forms/__history.html.twig', {'p':p.previous}) }}
{% endif %}
