<h2 class="h2-responsive">{{ titel }}</h2>
<div class="card card-body">
    <div class="table-responsive">
        <table id="data-table" class="table display table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans %}title{% endtrans %}</th>
                <th scope="col">{% trans %}status{% endtrans %}</th>
                <th scope="col">{% trans %}version{% endtrans %}</th>
                <th scope="col">{% trans %}description{% endtrans %}</th>
                <th scope="col">{% trans %}products{% endtrans %}</th>
                <th scope="col">{% trans %}departments{% endtrans %}</th>
                <th scope="col">{% trans %}date{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for t in table %}
                <tr class="clickable-row" data-href='{{ path('forms_edit',{'id':t.id}) }}'>
                    <th scope="row">{{ t.id }}</th>
                    <td>{{ t.title }}</td>
                    <td>
                        {% if t.approved %}
                            {% trans %}approved{% endtrans %}
                        {% else %}
                            {{ t.statusString }}
                        {% endif %}
                    </td>
                    <td>{{ t.version }}</td>
                    <td>{{ t.description }}</td>
                    <td>{% if t.products %}{% for de in t.products %}{{ de.name }}<br>{% endfor %}{% endif %}</td>
                    <td>{% if t.departments %}{% for de in t.departments %}{{ de.name }}<br>{% endfor %}{% endif %}</td>
                    <td>{{ t.createdAt|date('Y.m.d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>