{% extends 'baseRegistration.html.twig' %}

{% block content %}
    <div>
        <div>
            <div>


                <!-- Count item widget-->

                <div>
                    <h1>{% block loginHead %}{% endblock %}</h1>
                </div>
                <div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}

                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>


                    <div>
                        <hr>
                        {% if app.user.email is defined and app.user.email is not null %}
                            <a href="{{ path('dashboard') }}">Zurück zum Dashboard</a>
                        {% endif %}
                        <a href="{{ path('fos_user_resetting_request') }}">Forgot Password?</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    </div>


{% endblock %}

