{% trans_default_domain 'task' %}
<div>
    <div>
        <div>
            <div>
                {% trans from 'general' %}regard{% endtrans %}:
            </div>
            <div>
                {{ task.title }}
            </div>
            <div>
                {% trans %}priority{% endtrans %}:
            </div>
            <div>
                {{ task.prioString }}
            </div>
            <div>
                {% trans from 'general' %}createdBy{% endtrans %}:
            </div>
            <div>
                {{ task.user.email }}
            </div>
            {% if task.updatedBy %}
                <div>
                    {% trans from 'general' %}editedBy{% endtrans %}:
                </div>
                <div>
                    {{ task.updatedBy.email }}
                </div>
            {% endif %}
        </div>
        <div>
            <div>
                {% trans from 'general' %}createdAt{% endtrans %}:
            </div>
            <div>
                {{ task.createdAt|date('d.m.Y') }}
            </div>

            <div>
                {% trans %}deadlineDue{% endtrans %}:
            </div>
            <div>
                {% if task.endDate %}
                    {{ task.endDate|date('d.m.Y') }}
                {% endif %}
            </div>

            <div>
                {% trans %}finishedAt{% endtrans %}:
            </div>
            <div>
                {% if task.doneDate %}
                    {{ task.doneDate|date('d.m.Y') }}
                {% endif %}
            </div>
        </div>
    </div>
    <div
         style="border-left-color: #3f4e5e; border-left-width: 1px; border-left-style: dashed">
        <p>{% trans %}task.word{% endtrans %}:</p>
        {{ task.task|raw }}
    </div>
</div>
