<div class="row">
    <div class="col-md-4">
        {% trans %}Betreff{% endtrans %}:
    </div>
    <div class="col-md-8">
        {{ task.title }}
    </div>

    <div class="col-md-4">
        {% trans %}Aufgabe{% endtrans %}:
    </div>
    <div class="col-md-8">
        {{ task.task|raw }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-4">
        {% trans %}Erstellt am{% endtrans %}:
    </div>
    <div class="col-md-8">
        {{ task.createdAt|date('d.m.Y') }}
    </div>

    <div class="col-md-4">
        {% trans %}Zu erledigen bis{% endtrans %}:
    </div>
    <div class="col-md-8">
        {{ task.endDate|date('d.m.Y') }}
    </div>

    <div class="col-md-4">
        {% trans %}Erledigt am{% endtrans %}:
    </div>
    <div class="col-md-8">
        {{ task.doneDate|date('d.m.Y') }}
    </div>

</div>