{% trans_default_domain 'task' %}

<div class="dl-wrapper">
    <div class="dl-head">
        <h3>{% trans %}task.word{% endtrans %}</h3>
        <p>{{ task.task|raw }}</p>
    </div>
    <div class="dl-content">
        <dl>
            <div>
                <dt>{% trans from 'general' %}regard{% endtrans %}</dt>
                <dd>{{ task.title }}</dd>
            </div>
            <div>
                <dt>{% trans %}priority{% endtrans %}</dt>
                <dd>{{ task.prioString }}</dd>
            </div>
            <div>
                <dt>{% trans from 'general' %}createdBy{% endtrans %}</dt>
                <dd>{{ task.user.email }}</dd>
            </div>
            {% if task.updatedBy %}
                <div>
                    <dt>{% trans from 'general' %}editedBy{% endtrans %}</dt>
                    <dd>{{ task.updatedBy.email }}</dd>
                </div>
            {% endif %}
            <div>
                <dt>{% trans from 'general' %}createdAt{% endtrans %}</dt>
                <dd>{{ task.createdAt|date('d.m.Y') }}</dd>
            </div>
            <div>
                <dt>{% trans %}deadlineDue{% endtrans %}</dt>
                <dd>{{ task.endDate ? task.endDate|date('d.m.Y') }}</dd>
            </div>
            <div>
                <dt>{% trans %}finishedAt{% endtrans %}</dt>
                <dd>{{ task.doneDate ? task.doneDate|date('d.m.Y') }}</dd>
            </div>
        </dl>
    </div>
</div>