{% extends 'base.html.twig' %}
{% trans_default_domain 'task' %}

{% block title %}
    {{ edit ? title : task.title }}
{% endblock %}

{% block CTA %}
    {% if not edit %}
        <a href="{{ path('task_edit', {'id':task.id,'edit':1}) }}"
           class="btn"
          >{% trans %}task.edit{% endtrans %}</a>
    {% endif %}
    {% if task.activ and not task.done %}
        <a onClick="return confirm('{% trans %}confirmAction{% endtrans %}')"
           href='{{ path('task_done',{'id':task.id}) }}' type='button'
           class='btn btn-success ml-1 btn-sm'>{% trans %}finish{% endtrans %}</a>
    {% endif %}
    {% if nextAudit is defined %}
        <a href="{{ path('audit_tom_edit',{'tom':nextAudit.id}) }}">
            {% trans %}nextQuestion{% endtrans %}
        </a>
    {% endif %}
    {% if not task.assignedUser %}
        <button class="btn" data-type="dialogs" data-target="#assignModal">{% trans from 'general' %}assign{% endtrans %}</button>
    {% endif %}
    <a onClick="return confirm('{% trans %}confirmAction{% endtrans %}')"
       href='{{ path('task_disable',{'id':task.id}) }}' type='button'
       class='btn btn-danger ml-1 btn-sm'>{% if task.activ == 1 %}{% trans from 'general' %}delete{% endtrans %}{% else %}{% trans from 'general' %}restore{% endtrans %}{% endif %}</a>
{% endblock %}

{% block body %}
    <div id="task-assign">
        {{ include('assign/__assign.html.twig',{'data':task,'path':'assign_task'}) }}
    </div>
    <div>
        {% if edit %}
            {{ include('task/__form.html.twig') }}
        {% else %}
            {{ include('task/__show.html.twig') }}
        {% endif %}
    </div>
    {{ include('base/__snack.html.twig') }}
{% endblock %}

{% block javascript %}
{% endblock %}
