{% extends 'base.html.twig' %}

{% block CTA %}
    {% if not edit %}
        <a href="{{ path('task_edit', {'id':task.id,'edit':1}) }}"
           class="btn btn-outline-elegant btn-sm">{% trans %}Aufgabe bearbeiten{% endtrans %}</a>
    {% endif %}
    <a onClick="return confirm('{% trans %}Möchten Sie diese Aktion wirklich durchführen?{% endtrans %}')"
       href='{{ path('task_disable',{'id':task.id}) }}' type='button'
       class='btn btn-danger ml-1 btn-sm'>{% if task.activ == 1 %}{% trans %}Löschen{% endtrans %}{% else %}{% trans %}Widerherstellen{% endtrans %}{% endif %}</a>
    {% if task.activ and not task.done %}
        <a onClick="return confirm('{% trans %}Möchten Sie diese Aktion wirklich durchführen?{% endtrans %}')"
           href='{{ path('task_done',{'id':task.id}) }}' type='button'
           class='btn btn-success ml-1 btn-sm'>{% trans %}Abschließen{% endtrans %}</a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h2 class="h2-responsive">{% if edit %}{{ title }}{% else %}{{ task.title }}{% endif %}</h2>
        </div>
        <div class="col-md-4 text-right">
            {{ include('assign/__assign.html.twig',{'data':task,'path':'assign_task'}) }}
        </div>
    </div>
    <div class="card card-body">
        {% if edit %}
            {{ include('task/__form.html.twig') }}
        {% else %}
            {{ include('task/__show.html.twig') }}
        {% endif %}
    </div>
    <p>Erstellt von: {{ task.user.email }}</p>
    {{ include('base/__snack.html.twig') }}
{% endblock %}

{% block javascript %}
{% endblock %}
