{% extends 'base.html.twig' %}
{% trans_default_domain 'task' %}

{% block title %}{% trans %}task.overview{% endtrans %}{% endblock %}

{% block CTA %}
    <a href="{{ path('task_new') }}" class="btn btn-create">
        <span class="material-symbols-outlined">add</span>
        {% trans %}task.create{% endtrans %}
    </a>
    {% if all == false %}
        <a href="{{ path('tasks',{'all':1}) }}" class="btn">{% trans %}task.show.all{% endtrans %}</a>
    {% else %}
        <a href="{{ path('tasks') }}" class="btn">{% trans %}task.show.open{% endtrans %}</a>
    {% endif %}
{% endblock %}

{% block body %}
    <table id="data-table" class="dataTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans from 'general' %}title{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}description{% endtrans %}</th>
                <th scope="col">{% trans %}priority{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}date{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}assignedTo{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for t in task %}
            {% set rowClass = t.done ? 'success' : (t.prio == 4 and not t.done ? 'important' : '') %}
            <tr class="{{ rowClass }}" data-href="{{ path('task_edit', {'id': t.id}) }}">
                <td>{{ t.id }}</td>
                <td>{{ t.title }}</td>
                <td>{{ t.task|raw }}</td>
                <td>{{ t.prioString }}</td>
                <td>
                    {% trans from 'general' %}createdAt{% endtrans %}: {{ t.createdAt|date('d.m.Y') }}{% if t.endDate %}
                    <br>{% trans %}deadlineDue{% endtrans %}: {{ t.endDate|date('d.m.Y') }}{% endif %}{% if t.doneDate %}
                    <br>{% trans %}finishedAt{% endtrans %}: {{ t.doneDate|date('d.m.Y') }}{% endif %}
                </td>
                <td>{% if t.assignedUser %}{{ t.assignedUser.username }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
