{% extends 'base.html.twig' %}

{% block CTA %}
    <h4 class="h4-responsive ml-4 mb-0 d-none d-md-block">
        {{ 'adminArea'|trans }}
        {% if currentTeam is defined and currentTeam %}{{ currentTeam.name }}{% endif %}
    </h4>
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">{% trans %}manageOdc{% endtrans %}</h2>

    <div class="card card-body ">
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block javascript %}
{% endblock %}
