{% extends 'base.html.twig' %}
{% trans_default_domain 'settings' %}

{% block title %}
    {% trans %}adminArea{% endtrans %}
    {% if currentTeam is defined and currentTeam %}{{ currentTeam.name }}{% endif %}
    :
    {% trans %}manageOdc{% endtrans %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <fieldset class="form-row">
        {{ form_label(form.groupMapping) }}
        {% for choice in form.groupMapping %}
            {{ form_widget(choice) }}
            {{ form_label(choice, '', {
                'label_attr': {'style': 'display: inline-block;'}
            }) }}
            <div class="help-text" style="margin-bottom: 0.75rem; margin-top: 0;">{{ (choice.vars.label~'Help')|trans({}, 'form') }}</div>
        {% endfor %}
    </fieldset>
    {{ form_end(form) }}
{% endblock %}