{% extends 'assistant/index.html.twig' %}
{% trans_default_domain 'assistant' %}

{% block body %}
    <div>
        <h2>{% trans %}step.word{% endtrans %} {{ step + 1}}: {{ title }}</h2>
        <div>
            <div role="alert">
                <p>{{ info }}</p>
            </div>
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div role="alert">
                            {{ message | trans }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if select %}
                <form name="select" method="post" action="{{ path('assistant_select') }}">
                    <div>
                        <label for="assistant_select" {% if not skip %}class="required"{% endif %}>
                            {{ select.label }}:
                        </label>
                    </div>
                    <div>
                        <select id="assistant_select" title="{% trans from 'general' %}nothingSelected{% endtrans%}" name="assistant_select[]" {% if select.multiple %}multiple="multiple"{% endif %} >
                            {% for item in select.items %}
                                <option {% if item.id in select.selected %}selected="selected"{% endif %} value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                            <option value="new">{% trans %}new.word{% endtrans %}</option>
                        </select>
                    </div>
                    <div>
                        <div>
                            <div>
                                {% if step > 0 %}
                                    <a href="{{ path('assistant_step',{'step': (step - 1) }) }}">{% trans from 'general' %}back{% endtrans %}</a>
                                {% endif %}
                            </div>
                            <div>
                                <button type="submit">{% trans from 'general' %}continue{% endtrans %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% else %}
                <div>
                    <div>
                        {% if step > 0 %}
                            <a href="{{ path('assistant_step',{'step': (step - 1) }) }}">{% trans from 'general' %}back{% endtrans %}</a>
                        {% endif %}
                    </div>
                    <div>
                        {% if skip %}
                            <a href="{{ path('assistant_step',{'step': (step + 1) }) }}">{% trans from 'general' %}skip{% endtrans %}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div>
                <h3>{{ newTitle }}</h3>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <p>
                <a href="{{ path('assistant_cancel') }}">{% trans from 'general' %}abort{% endtrans %}</a>
            </p>
        </div>
    </div>
{% endblock %}
