{% extends 'assistant/index.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="h2-responsive">{% trans %}step{% endtrans %} {{ step + 1}}: {{ title }}</h2>
        <div class="card card-body">
            <div class="alert alert-info" role="alert">
                <p>{{ info }}</p>
            </div>
            {% if select %}
                <form name="select" method="post" action="{{ path('assistant_contact_select') }}" class="select-container row mb-2">
                    <div class="col-md-4 pt-3 mb-3">
                        <label for="assistant_select">{{ select.label }}:</label>
                    </div>
                    <div class="col-md-8">
                        <select id="assistant_select" name="assistant_select" class="selectpicker" {% if select.multiple %}multiple="multiple"{% endif %} data-live-search="true" data-width="auto">
                            {% for item in select.items %}
                                <option {% if item.id == select.selected %}selected="selected"{% endif %} value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                            <option value="new">{% trans %}new{% endtrans %}</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2 button-container">
                        <div class="row">
                            <div class="col-md-4">
                                {% if step > 0 %}
                                    <a class="btn btn-outline-primary" href="{{ path('assistant_step',{'step': (step - 1) }) }}">{% trans %}back{% endtrans %}</a>
                                {% endif %}
                            </div>
                            <div class="col-md-4 text-center">
                                <button type="submit" class="btn btn-primary">{% trans %}save{% endtrans %}</button>
                            </div>
                            <div class="col-md-4 text-right">
                                {% if skip %}
                                    <a class="btn btn-outline-primary" href="{{ path('assistant_step',{'step': (step + 1) }) }}">{% trans %}skip{% endtrans %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="d-flex justify-content-between">
                    <div class="d-inline-block">
                        {% if step > 0 %}
                            <a class="btn btn-outline-primary" href="{{ path('assistant_step',{'step': (step - 1) }) }}">{% trans %}back{% endtrans %}</a>
                        {% endif %}
                    </div>
                    <div class="d-inline-block">
                        {% if skip %}
                            <a class="btn btn-outline-primary" href="{{ path('assistant_step',{'step': (step + 1) }) }}">{% trans %}skip{% endtrans %}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="form-container {% if select %}d-none{% endif %}">
                <h3 class="mt-4">{{ newTitle }}</h3>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <p class="text-right">
                <a class="btn btn-outline-danger" href="{{ path('assistant_cancel') }}">{% trans %}cancel{% endtrans %}</a>
            </p>
        </div>
    </div>
{% endblock %}
