{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="h2-responsive">{% trans %}academyCourses{% endtrans %}</h2>
    <div class="card card-body">
        <div class="table-responsive">
            <table id="data-table" class="table display table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans %}title{% endtrans %}</th>
                    <th scope="col">{% trans %}assigned{% endtrans %}</th>
                    <th scope="col">{% trans %}startDate{% endtrans %}</th>
                    <th scope="col">{% trans %}completed{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for b in buchungen %}
                    <tr {% if b.zugewiesen < today and b.user.akademieUser in b.kurs.team %}class="clickable-row"
                        data-href='{{ path('akademie_kurs',{'kurs':b.id}) }}'{% endif %}>
                        <th scope="row">{{ b.id }}</th>
                        <th>
                            {% if b.zugewiesen > today %}
                                {% trans %}noAutomaticResubmission{% endtrans %}
                            {% else %}
                                {{ b.kurs.title }} (id: {{ b.kurs.id }})
                            {% endif %}
                        </th>
                        <td>{{ b.zugewiesen|date('d.m.Y') }}</td>
                        <td>{{ b.start|date('d.m.Y') }}</td>
                        <td>
                            {% if b.abgeschlossen %}
                                <a href="{{ path('akademie_kurs_zertifikat', {'buchung':b.id}) }}" class="btn btn-sm bg-akademie">
                                    {% trans %}certificate{% endtrans %}
                                </a>
                            {% else %}
                                {% trans %}no{% endtrans %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}