{% extends 'base.html.twig' %}
{% trans_default_domain 'academy' %}

{% block title %}
    {{ kurs.title }}
{% endblock %}

{% block body %}
    {% if kurs.type == 1 %}
        <p class="alert-warning mb-2">{% trans %}video.vimeo{% endtrans %}</p>
    {% endif %}
    <div class="card card-outlined">
        {% if kurs.type == 0 %}
            {% if not buchung.abgeschlossen %}<p>{% trans %}video.uninterruptible{% endtrans %}</p>{% endif %}
            <div>
                <video style="width: 100%; text-align: center" {% if buchung.abgeschlossen %}
                    controls{% else %}autoplay{% endif %} id="akademie_video_kurs">
                    <source src="{{ kurs.video }}" type="video/mp4">
                    {% trans %}video.browserError{% endtrans %}
                </video>
            </div>
        {% elseif kurs.type == 1 %}
            <div class="mb-5 flex">
                <button class="btn startBtn flex mr-2"><span class="material-symbols-outlined">play_arrow</span>{#{% trans %}video.start{% endtrans %}#}</button>
                <button class="btn pauseBtn flex" disabled><span class="material-symbols-outlined">pause</span>{#{% trans %}video.pause{% endtrans %}#}</button>
            </div>
            <div id="vimeoVideo"></div>
        {% endif %}
        <p class="mt-5">{{ kurs.beschreibung|nl2br }}</p>
    </div>
    {% if not buchung.abgeschlossen %}
        <div id="finishModal" class="modal">
            <div data-close="#finishModal" class="modal-close"></div>
            <div class="modal-inner">
                <div class="modal-content">
                    <h3>{% trans %}lesson.finish{% endtrans %}</h3>
                    <p>{% trans %}lesson.disclaimer.finish{% endtrans %}</p>
                    <p>{% trans %}lesson.disclaimer.repeat{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn sendButton" disabled>{% trans from 'questionnaire' %}participation.start{% endtrans %}</button>
                </div>
            </div>
        </div>
        <button data-type="dialogs" data-target="#finishModal" id="open-modal" class="hidden">open modal</button>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% if kurs.type == 0 and not buchung.abgeschlossen %}
        <!-- Lokaler Storage -->
        <script>
            var vid = document.getElementById("akademie_video_kurs");
            vid.onended = function () {
                $('.sendButton').wrap('<a href="{{ path('participation_start',{'id':buchung.participations[0].id}) }}">');
                $('.sendButton').prop('disabled', false);
                $('#open-modal').trigger('click');
            };
        </script>
        <!-- Vimeo SDK -->
    {% elseif kurs.type == 1 %}
        <script src="https://player.vimeo.com/api/player.js"></script>
        <script>
            var options = {
                url: "{{ kurs.video }}",
                loop: false,
                {% if not buchung.abgeschlossen %}
                controls: true,
                title: false,
                {% endif %}
                responsive: true
            };
            var videoPlayer = new Vimeo.Player('vimeoVideo', options);
            {% if not buchung.abgeschlossen %}
            videoPlayer.on('ended', function () {
                $('.sendButton').wrap('<a href="{{ path('participation_start',{'id':buchung.participations[0].id}) }}">');
                $('.sendButton').prop('disabled', false);
                $('#open-modal').trigger('click');
            });
            {% endif %}
            $('.startBtn').click(function () {
                videoPlayer.play();
                $('.pauseBtn').prop('disabled', false);
                $('.startBtn').prop('disabled', true);
            });
            $('.pauseBtn').click(function () {
                videoPlayer.pause();
                $('.pauseBtn').prop('disabled', true);
                $('.startBtn').prop('disabled', false);
            });
        </script>
    {% endif %}
{% endblock %}