{% extends 'base.html.twig' %}
{% trans_default_domain 'academy' %}

{% block body %}
    <h2>{{ kurs.title }}</h2>
    <div>
        {% if kurs.type == 0 %}
            {% if not buchung.abgeschlossen %}<p>{% trans %}video.uninterruptible{% endtrans %}</p>{% endif %}
            <div>
                <video style="width: 100%; text-align: center" {% if buchung.abgeschlossen %}
                    controls{% else %}autoplay{% endif %} id="akademie_video_kurs">
                    <source src="{{ kurs.video }}" type="video/mp4">
                    {% trans %}video.browserError{% endtrans %}
                </video>
            </div>
        {% elseif kurs.type == 1 %}
            <p>{% trans %}video.vimeo{% endtrans %}</p>
            <div>
                <a>{% trans %}video.start{% endtrans %}</a>
                <a>{% trans %}video.pause{% endtrans %}</a>
            </div>
            <div id="vimeoVideo"></div>

        {% endif %}

        {% if not buchung.abgeschlossen %}
            <!-- Modal -->
            <div id="finishModal" tabindex="-1" role="dialog" aria-labelledby="finishModal"
                 aria-hidden="true">
                <div role="document">
                    <div>
                        <div>
                            <h5 id="finishModalLabel">{% trans %}lesson.finish{% endtrans %}</h5>
                            <button type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div>
                            <p>
                                {% trans %}lesson.disclaimer.finish{% endtrans %}
                            </p>
                            <p>
                                {% trans %}lesson.disclaimer.repeat{% endtrans %}
                            </p>

                        </div>
                        <div>
                            <button
                                    disabled>{% trans from 'questionnaire' %}participation.start{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        <p>{{ kurs.beschreibung|nl2br }}</p>
    </div>
{% endblock %}

{% block javascripts %}
    {% if kurs.type == 0 and not buchung.abgeschlossen %}
        <!-- Lokaler Storage -->
        <script>
            var vid = document.getElementById("akademie_video_kurs");
            vid.onended = function () {
                $('.sendButton').wrap('<a href="{{ path('participation_start',{'id':buchung.participations[0].id}) }}">');
                $('.sendButton').prop('disabled', false);
                $('#finishModal').modal('show', true);
            };
        </script>
        <!-- Vimeo SDK -->
    {% elseif kurs.type == 1 %}
        <script src="https://player.vimeo.com/api/player.js"></script>
        <script>
            var options = {
                url: "{{ kurs.video }}",
                {% if not buchung.abgeschlossen %}
                controls: false,
                title: false,
                {% endif %}
                responsive: true
            };
            var videoPlayer = new Vimeo.Player('vimeoVideo', options);
            {% if not buchung.abgeschlossen %}
            videoPlayer.on('ended', function () {
                $('.sendButton').wrap('<a href="{{ path('participation_start',{'id':buchung.participations[0].id}) }}">');
                $('.sendButton').prop('disabled', false);
                $('#finishModal').modal('show', true);
            });
            {% endif %}
            $('.startBtn').click(function () {
                videoPlayer.play();
                $('.pauseBtn').removeClass('disabled');
            });
            $('.pauseBtn').click(function () {
                videoPlayer.pause();
            });
        </script>
    {% endif %}
{% endblock %}