{% trans_default_domain 'assign' %}

<a href="
{% if a.name is defined %}
    {{ path('vvt_edit',{'id':a.id}) }}
{% elseif a.frage is defined %}
    {{ path('audit_tom_edit',{'tom':a.id}) }}
{% endif %}
">
    <div
            {% if a.name is defined %}

            {% elseif a.frage is defined %}

            {% elseif a.grundlage is defined %}

            {% elseif a.beschreibung is defined %}

            {% endif %}
    >
        <div>
            <div>
                {% if a.name is defined %}
                    <img style="width: 30px" src="{{ asset('icons/prozess.svg') }}">
                {% elseif a.frage is defined %}
                    <img style="width: 30px" src="{{ asset('icons/pruefung.svg') }}">
                {% elseif a.grundlage is defined %}
                    <img style="width: 30px" src="{{ asset('icons/prozess.svg') }}">
                {% elseif a.beschreibung is defined %}
                    <img style="width: 30px" src="{{ asset('icons/prozess.svg') }}">
                {% endif %}
            </div>
            <div>
                {% if a.name is defined %}
                    {{ a.name }}
                {% elseif a.frage is defined %}
                    {{ a.frage }}
                {% elseif a.grundlage is defined %}
                    {{ a.grundlage }}
                {% elseif a.beschreibung is defined %}
                    {{ a.beschreibung }}
                {% endif %}
            </div>
            <div>
                {% trans from 'general' %}createdAt{% endtrans %}: {{ a.createdAt|date('d.m.Y') }}
            </div>
            <div>
                {% if a.nummer is defined %}
                    {{ a.nummer }}
                {% endif %}
            </div>
            <div>
                {% if a.status is defined %}
                    {{ a.status.name }}
                {% endif %}
            </div>
        </div>
    </div>
</a>
