{% if data.assignedUser is null %}
    {% trans_default_domain 'assign' %}

    <!-- Button trigger modal -->
    <button type="button" data-toggle="modal" data-target="#assignModal">
        {% trans from 'general' %}assign{% endtrans %}
    </button>

    <!-- Modal -->
    <div id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModal"
         aria-hidden="true">
        <div role="document">
            <div>
                <div>
                    <h5 id="assignModalLabel">{% trans %}assignFurtherEditing{% endtrans %}</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(assignForm,{'action': path(path,{'id':data.id})}) }}
                {% if data.activ %}
                    <div>

                        {{ form_widget(assignForm.user) }}

                    </div>
                    <div>
                        {{ form_widget(assignForm.submit) }}
                    </div>
                {% endif %}
                {{ form_end(assignForm) }}
            </div>
        </div>
    </div>
{% else %}
    <h4>{% trans from 'general' %}assignedTo{% endtrans %}: </h4>
    <span>{{ data.assignedUser.email }}</span>  <a
                                                                 title="{{ 'removeAssign'|trans }}"
                                                                 href="{{ path(path,{'id':data.id}) }}">X</a>
{% endif %}
