{% if data.assignedUser is null %}
    {% trans_default_domain 'assign' %}

    <!-- Button trigger modal -->
    <button type="button" data-type="dialogs" data-target="#assignModal" id="btn-assign" class="btn">
        {% trans from 'general' %}assign{% endtrans %}
    </button>

    <div id="assignModal" class="modal">
        <div data-close="#assignModal" class="modal-close"></div>
        <!-- dialogs -->
        <div class="modal-inner">
            {{ form_start(assignForm,{'action': path(path,{'id':data.id})}) }}
                <div class="modal-content">
                    <h3>{% trans %}assignFurtherEditing{% endtrans %}</h3>
                    {{ form_widget(assignForm.user) }}
                </div>
                <div class="modal-footer">
                    <button type="button" data-close="#assignModal" class="btn btn-close">
                        {% trans %}Cancel{% endtrans %}
                    </button>
                    {{ form_widget(assignForm.submit, {attr: {class: 'btn btn-submit'}}) }}
                </div>
            {{ form_end(assignForm) }}
        </div>
    </div>
{% else %}
    <div class="card card-outlined bg-primary-50 block flex-none">
        <p class="text-sm">
            <strong>{% trans from 'general' %}assignedTo{% endtrans %}: </strong>
            <span>{{ data.assignedUser.email }}</span>
            <a href="{{ path(path,{'id':data.id}) }}" title="{{ 'removeAssign'|trans }}" class="float-right underline">
                {{ 'removeAssign'|trans }}
            </a>
        </p>
    </div>
{% endif %}
