{% extends 'base.html.twig' %}
{% trans_default_domain 'assign' %}

{% block CTA %}
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">{% trans %}myAssignments{% endtrans %}</h2>
    <div class="card card-body">
        <ul class="nav nav-tabs" id="audit-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-center" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab"
                   aria-controls="home"
                   aria-selected="true"><img style="height: 30px" src="{{ asset('images/task.png') }}">
                    <span
                            class="d-none d-xl-block">{% trans %}tasks{% endtrans %}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="home-tab" data-toggle="tab" href="#audit" role="tab"
                   aria-controls="home"
                   aria-selected="true"><img style="height: 30px" src="{{ asset('images/pruefung.png') }}"> <span
                            class="d-none d-sm-block">{% trans %}auditQuestions{% endtrans %}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="vvt-tab" data-toggle="tab" href="#vvt" role="tab"
                   aria-controls="profile"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/prozess.png') }}"> <span
                            class="d-none d-sm-block">{% trans %}processing{% endtrans %}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="dsfa-tab" data-toggle="tab" href="#dsfa" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/dsta.png') }}"> <span
                            class="d-none d-sm-block">{% trans %}dataProtectionImpactAssessment{% endtrans %}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="daten-tab" data-toggle="tab" href="#daten" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/data.png') }}"> <span
                            class="d-none d-sm-block">{% trans %}dataTransfers{% endtrans %}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="daten-tab" data-toggle="tab" href="#forms" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/information.png') }}"> <span
                            class="d-none d-sm-block">{% trans %}forms{% endtrans %}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="daten-tab" data-toggle="tab" href="#policies" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/contract.png') }}"> <span
                            class="d-none d-sm-block">{% trans %}policies{% endtrans %}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="daten-tab" data-toggle="tab" href="#software" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/monitor.png') }}"> <span
                            class="d-none d-sm-block">{% trans %}software{% endtrans %}</span></a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="home-tab">
                {% for a in tasks %}
                    <a href="{{ path('task_edit',{'id':a.id}) }}">
                        <div class="btn btn-block bg-tasks text-md-left mt-1">
                            <div class="row">
                                <div class="col-xl-1 d-none d-xl-block">
                                    <img style="width: 21px" src="{{ asset('images/task.png') }}">
                                </div>
                                <div class="col-xl-6 col-md-7">
                                    {{ a.team.name }}: {{ a.title }}
                                </div>
                                <div class="col-xl-3 col-md-5">
                                    {{ a.createdAt|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="audit" role="tabpanel" aria-labelledby="home-tab">
                {% for a in audits %}
                    <a href="{{ path('audit_tom_edit',{'tom':a.id}) }}">
                        <div class="btn btn-block bg-audit text-xl-left mt-1">
                            <div class="row">
                                <div class="col-md-1">
                                    <img style="width: 30px" src="{{ asset('images/pruefung.png') }}">
                                </div>
                                <div class="col-md-7">
                                    {{ a.team.name }}: {{ a.frage }}
                                </div>
                                <div class="col-md-4">
                                    {{ a.status.name }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="vvt" role="tabpanel" aria-labelledby="profile-tab">
                {% for a in processes %}
                    <a href="{{ path('vvt_edit',{'id':a.id}) }}">
                        <div class="btn btn-block bg-vvt text-xl-left mt-1">
                            <div class="row">
                                <div class="col-md-1">
                                    <img style="width: 30px" src="{{ asset('images/prozess.png') }}">
                                </div>
                                <div class="col-md-7">
                                    {{ a.team.name }}: {{ a.name }}
                                </div>
                                <div class="col-md-2">
                                    {{ a.status.name }}
                                </div>
                                <div class="col-md-2">
                                    {{ a.createdAt|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="dsfa" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in impactAssessments %}
                    <a href="{{ path('vvt_dsfa_edit',{'dsfa':a.id}) }}">
                        <div class="btn btn-block bg-dsfa text-xl-left mt-1">
                            <div class="row">
                                <div class="col-md-1">
                                    <img style="width: 30px" src="{{ asset('images/dsta.png') }}">
                                </div>
                                <div class="col-md-7">
                                    {{ a.vvt.team.name }}: {{ a.beschreibung }}
                                </div>
                                <div class="col-md-2">
                                    {{ a.vvt.name }}
                                </div>
                                <div class="col-md-2">
                                    {{ a.createdAt|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="daten" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in dataTransfers %}
                    <a href="{{ path('datenweitergabe_edit',{'id':a.id}) }}">
                        <div class="btn btn-block {% if a.art == 1 %}bg-daten{% else %}bg-av{% endif %} text-xl-left mt-1">
                            <div class="row">
                                <div class="col-md-1">
                                    <img style="width: 30px" src="{{ asset('images/data.png') }}">
                                </div>
                                <div class="col-md-9">
                                    {{ a.team.name }}: {{ a.gegenstand }}
                                </div>
                                <div class="col-md-2">
                                    {{ a.createdAt|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="forms" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in forms %}
                    <a href="{{ path('forms_edit',{'id':a.id}) }}">
                        <div class="btn btn-block bg-forms text-xl-left mt-1">
                            <div class="row">
                                <div class="col-md-1">
                                    <img style="width: 30px" src="{{ asset('images/information.png') }}">
                                </div>
                                <div class="col-md-9">
                                    {{ a.team.name }}: {{ a.title }}
                                </div>
                                <div class="col-md-2">
                                    {{ a.createdAt|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="policies" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in policies %}
                    <a href="{{ path('policy_edit',{'id':a.id}) }}">
                        <div class="btn btn-block bg-policy text-xl-left mt-1">
                            <div class="row">
                                <div class="col-md-1">
                                    <img style="width: 30px" src="{{ asset('images/contract.png') }}">
                                </div>
                                <div class="col-md-9">
                                    {{ a.team.name }}: {{ a.title }}
                                </div>
                                <div class="col-md-2">
                                    {{ a.createdAt|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="tab-pane fade" id="software" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in software %}
                    <a href="{{ path('software_edit',{'id':a.id}) }}">
                        <div class="btn btn-block bg-software text-xl-left mt-1">
                            <div class="row">
                                <div class="col-md-1">
                                    <img style="width: 30px" src="{{ asset('images/monitor.png') }}">
                                </div>
                                <div class="col-md-5">
                                    {{ a.team.name }}: {{ a.name }}
                                </div>
                                <div class="col-md-4">
                                    {% trans %}configurations{% endtrans %}: {{ a.config|length }}
                                </div>
                                <div class="col-md-2">
                                    {{ a.createdAt|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
