{% extends 'base.html.twig' %}

{% block CTA %}
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">Meine Zuweisungen</h2>
    <div class="card card-body">
        <ul class="nav nav-tabs" id="audit-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-center" id="home-tab" data-toggle="tab" href="#audit" role="tab"
                   aria-controls="home"
                   aria-selected="true"><img style="height: 30px" src="{{ asset('images/pruefung.png') }}"> <span
                            class="d-none d-sm-block">Auditfragen</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="vvt-tab" data-toggle="tab" href="#vvt" role="tab"
                   aria-controls="profile"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/prozess.png') }}"> <span
                            class="d-none d-sm-block">Verarbeitungen</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="dsfa-tab" data-toggle="tab" href="#dsfa" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/dsta.png') }}"> <span
                            class="d-none d-sm-block">Datenschutzfolgeabschätzungen</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="daten-tab" data-toggle="tab" href="#daten" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/data.png') }}"> <span
                            class="d-none d-sm-block">Datenweitergaben</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="daten-tab" data-toggle="tab" href="#forms" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/information.png') }}"> <span
                            class="d-none d-sm-block">Formulare</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="daten-tab" data-toggle="tab" href="#policies" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 30px" src="{{ asset('images/contract.png') }}"> <span
                            class="d-none d-sm-block">Richtlinien</span></a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="audit" role="tabpanel" aria-labelledby="home-tab">
                {% for a in assignAudit %}
                    {% if a.activ %}
                        <a href="{{ path('audit_tom_edit',{'tom':a.id}) }}">
                            <div class="btn btn-block bg-audit text-left mt-1">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width: 30px" src="{{ asset('images/pruefung.png') }}">
                                    </div>
                                    <div class="col-md-7">
                                        {{ a.frage }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ a.status.name }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="vvt" role="tabpanel" aria-labelledby="profile-tab">
                {% for a in assignVvt %}
                    {% if a.activ %}
                        <a href="{{ path('vvt_edit',{'id':a.id}) }}">
                            <div class="btn btn-block bg-vvt text-left mt-1">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width: 30px" src="{{ asset('images/prozess.png') }}">
                                    </div>
                                    <div class="col-md-7">
                                        {{ a.name }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ a.status.name }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="dsfa" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in assignDsfa %}
                    {% if a.activ %}
                        <a href="{{ path('vvt_dsfa_edit',{'dsfa':a.id}) }}">
                            <div class="btn btn-block bg-dsfa text-left mt-1">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width: 30px" src="{{ asset('images/dsta.png') }}">
                                    </div>
                                    <div class="col-md-7">
                                        {{ a.beschreibung }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ a.vvt.name }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="daten" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in assignDaten %}
                    {% if a.activ %}
                        <a href="{{ path('datenweitergabe_edit',{'id':a.id}) }}">
                            <div class="btn btn-block {% if a.art == 1 %}bg-daten{% else %}bg-av{% endif %} text-left mt-1">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width: 30px" src="{{ asset('images/data.png') }}">
                                    </div>
                                    <div class="col-md-9">
                                        {{ a.gegenstand }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="forms" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in assignForms %}
                    {% if a.activ %}
                        <a href="{{ path('forms_edit',{'id':a.id}) }}">
                            <div class="btn btn-block bg-forms text-left mt-1">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width: 30px" src="{{ asset('images/information.png') }}">
                                    </div>
                                    <div class="col-md-9">
                                        {{ a.title }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="policies" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in assignPolicies %}
                    {% if a.activ %}
                        <a href="{{ path('policy_edit',{'id':a.id}) }}">
                            <div class="btn btn-block bg-policy text-left mt-1">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width: 30px" src="{{ asset('images/contract.png') }}">
                                    </div>
                                    <div class="col-md-9">
                                        {{ a.scope }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
