{% extends 'base.html.twig' %}
{% trans_default_domain 'assign' %}

{% block title %}{% trans %}myAssignments{% endtrans %}{% endblock %}

{% block body %}
<div class="card-outlined mb-5">
    {% set tabWidth = (1/tabs|length)*100|round(2) %}
    <div class="tabs flex flex-col w-full">
        <div class="tabs-nav">
            {% for tab, data in tabs %}
                <button data-type="tabs" data-target="#tab-{{ tab }}" class="{{ loop.first ? ' active' }}" style="width: {{ tabWidth }}%">
                    <span>
                        <img src="{{ asset(data.image) }}" alt="" />
                    </span>
                    <p>{{ tab|trans }}</p>
                </button>
            {% endfor %}
            <div role="indicator" class="tabs-indicator" style="width: {{ tabWidth }}%"></div>
        </div>
        <hr>
        <div class="tabs-content">
            <div id="tab-tasks" role="tabpanel" class="tab-content active">
                <ul class="stacked-list compressed">
                    {% for a in tasks %}
                        <li>
                            <a href="{{ path('task_edit',{'id':a.id}) }}">{{ a.team.name }}: {{ a.title }}</a>
                            <div>{{ a.createdAt|date('d.m.Y') }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-auditQuestions" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in audits %}
                        {% if a.activ %}
                            <li>
                                <a href="{{ path('audit_tom_edit',{'tom':a.id}) }}">{{ a.team.name }}: {{ a.frage }}</a>
                                <div>{{ a.status.name }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-processing" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in processings %}
                        {% if a.activ %}
                            <li>
                                <a href="{{ path('vvt_edit',{'id':a.id}) }}">{{ a.team.name }}: {{ a.name }}</a>
                                <div>{{ a.status.name }}</div>
                                <div>{{ a.createdAt|date('d.m.Y') }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-dataProtectionImpactAssessment" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in impactAssessments %}
                        {% if a.vvt.team == currentTeam %}
                            <li>
                                <a href="{{ path('vvt_dsfa_edit',{'dsfa':a.id}) }}">{{ a.vvt.team.name }}: {{ a.beschreibung }}</a>
                                <div>{{ a.vvt.name }}</div>
                                <div>{{ a.createdAt|date('d.m.Y') }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-dataTransfers" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in dataTransfers %}
                        {% if a.activ %}
                            <li>
                                <a href="{{ path('datenweitergabe_edit',{'id':a.id}) }}">{{ a.team.name }}: {{ a.gegenstand }}</a>
                                <div>{{ a.createdAt|date('d.m.Y') }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-forms" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in forms %}
                        {% if a.activ %}
                            <li>
                                <a href="{{ path('forms_edit',{'id':a.id}) }}">{{ a.team.name }}: {{ a.title }}</a>
                                <div>{{ a.createdAt|date('d.m.Y') }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-policies" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in policies %}
                        {% if a.activ %}
                            <li>
                                <a href="{{ path('policy_edit',{'id':a.id}) }}">{{ a.team.name }}: {{ a.title }}</a>
                                <div>{{ a.createdAt|date('d.m.Y') }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-software" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in software %}
                        {% if a.activ %}
                            <li>
                                <a href="{{ path('software_edit',{'id':a.id}) }}">{{ a.team.name }}: {{ a.name }}</a>
                                <div>{% trans %}configurations{% endtrans %}: {{ a.config|length }}</div>
                                <div>{{ a.createdAt|date('d.m.Y') }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
