<a href="{{ path('audit_tom_edit',{'tom':p.id}) }}"><span
            style="color: {{ p.status.color }}">{{ p.createdAt|date('d.m.Y H:i') }} -- {{ p.status.name }} -- {{ p.frage }} -- {{ p.user.email }}</span></a>
{% if p.previous %}
    {{ include('audit_tom/__history.html.twig', {'p':p.previous}) }}
{% endif %}