{% trans_default_domain 'client_request' %}
<!DOCTYPE html>
<html>

{{ include('base/__head.html.twig') }}

<body>
{% block back %}{% endblock %}
<div style="background-image: url('{{ asset('images/login.jpg') }}'); background-size: cover; min-height: 100vh">
    <div>
        <div>
            {% block content %}{% endblock %}
        </div>
        <div>
            <div>
                <div>
                    <a href="https://open-datenschutzcenter.de" target="_blank"><img
                                src="{{ asset('logo.png') }}" style="height: 50px"></a>
                </div>
                <div>
                    <a href="{{ dataPrivacy }}" target="_blank">{% trans %}dataPrivacyDisclaimer{% endtrans %}</a><br>
                    <a href="https://open-datenschutzcenter.de" target="_blank">{% trans %}poweredBy{% endtrans %}</a><br>
                    <a href="https://h2-invent.com" target="_blank">{% trans %}salutation{% endtrans %} •
                        2019-{{ 'now'|date('Y') }}
                        • v{{ laf_version }}</a>
                </div>
                <div>
                    <img src="{{ asset('images/open-source-logo.png') }}" style="height: 50px">
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="{{ asset('build/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/popper.min.js') }}"></script>

{% block webpack %}
    {{ encore_entry_script_tags('frontend') }}
{% endblock %}

<script type="text/javascript" src="{{ asset('build/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/mdb.min.js') }}"></script>

</body>

</html>
