{% extends 'client_request/base.html.twig' %}
{% trans_default_domain 'client_request' %}

{% block title %}{% trans %}greeting{% endtrans %}{% endblock %}

{% block content %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="card card-body">
        <h1 class="h1-responsive text-center">{% trans %}customerPortalOf{% endtrans%} {{ team.name }}</h1>
        <hr>
        <div class="text-center">
            <h4 class="h4-responsive">{{ team.name }}</h4>
            <p>
                {{ team.strasse }}<br>
                {{ team.plz }} {{ team.stadt }}<br>
            </p>
            <hr>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <p>{% trans %}request.create.disclaimer{% endtrans%}
                </p>
                <ul>
                    <li>
                        {% trans %}fillInForm{% endtrans%}
                    </li>
                    <li>
                        {% trans %}confirmEmail{% endtrans%}
                    </li>
                    <li>
                        {% trans with {'{teamName}': team.name} %}identify{% endtrans%}
                    </li>
                    <li>
                        {% trans with {'{teamName}': team.name} %}encryptedConnection{% endtrans%}
                    </li>
                    <li>
                        {% trans %}request.response{% endtrans%}
                    </li>
                </ul>
                <a href="{{ path('client_new', {'slug':team.slug}) }}" class="btn btn-primary">{% trans %}request.create.link{% endtrans %}</a>
            </div>
            <div class="col-md-6">
                <p>
                    {% trans %}request.find{% endtrans%}
                </p>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        {% trans with {'{teamName}': team.name} | raw %}gdpr{% endtrans %}
    </div>
    {{ include('base/__snack.html.twig') }}
{% endblock %}
