{% extends 'base.html.twig' %}
{% trans_default_domain 'client_request' %}

{% set fullWidthLayout = true %}

{% block title %}
    {% trans %}request.all{% endtrans %}
{% endblock %}

{% block CTA %}
    {% if currentTeam.slug %}
        <a target="_blank" href="{{ path('client_new',{'slug':currentTeam.slug}) }}" class="btn btn-create">
            {% trans %}request.create.link{% endtrans %}
        </a>
        <a target="_blank" href="{{ path('client_index',{'slug':currentTeam.slug}) }}" class="btn">
            {% trans %}customerPortal{% endtrans %}
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <table id="data-table" class="dataTable">
        <thead>
            <tr>
                <th scope="col">{% trans from 'general' %}uuid{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}regard{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}date{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}email{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}name{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}reason{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}state{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for a in client %}
            <tr data-href='{{ path('client_requests_show',{'id':a.id}) }}'>
                <td>{{ a.uuid }}</td>
                <td>{{ a.title }}</td>
                <td>{{ a.createdAt|date('d.m.Y') }}</td>
                <td>{{ a.email }}</td>
                <td>{{ a.name }}</td>
                <td>{{ a.itemString }}</td>
                <td>{{ a.activ?'Aktiv':'Archiviert' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
