{% extends 'client_request/base.html.twig' %}
{% trans_default_domain 'client_request' %}

{% block title %}
    <title>{% trans %}dataPrivacyCenter{% endtrans%} {% trans %}customerPortal{% endtrans %}</title>
{% endblock %}

{% block content %}
    <div>
        <a href="{{ path('client_index', {'slug':team.slug}) }}"
           class="btn btn-primary btn-sm">{% trans %}backToPortal{% endtrans %}</a>
        <div class="card card-body">
            <h1 class="h1-responsive text-center">{% trans %}request.create.link{% endtrans %}</h1>
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.item) }}
            {{ form_row(form.email) }}
            {{ form_row(form.name) }}
            {{ form_row(form.password) }}
            {{ form_row(form.description) }}
            {{ form_row(form.pgp) }}


            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="h4-responsive">{% trans %}request.additionalInformation{% endtrans %}</h4>
                </div>

                <div class="card-body">
                    <p>
                        {% trans %}askForVerification{% endtrans %}:
                    </p>
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.street) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.birthday) }}
                </div>

            </div>
            {{ form_row(form.gdpr) }}
            {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
