{% extends 'client_request/base.html.twig' %}
{% trans_default_domain 'client_request' %}

{% block title %}{% trans %}greeting{% endtrans %}{% endblock %}

{% block content %}
    <div>
        <a href="{{ path('client_index', {'slug':team.slug}) }}">{% trans %}backToPortal{% endtrans %}</a>
        <div>
            <h1>{{ data.title }}</h1>
            {% if not data.activ %}
                <div>
                    {% trans %}request.closed{% endtrans %}
                </div>
            {% endif %}
            {% if not data.emailValid %}
                <div>
                    {% trans %}emailVerificationDisclaimer{% endtrans %}
                </div>
            {% endif %}
            {% if not data.validUser %}
                <div>
                    {% trans %}cannotVerify{% endtrans %}
                </div>
            {% endif %}
            {% if data.pgp %}
                <div>
                    {% trans %}openPGP.disclaimer{% endtrans %}
                </div>
            {% endif %}
            <p>
                {% trans %}issueId{% endtrans %}: {{ data.uuid }}<br>
                {% trans from 'general' %}email{% endtrans %}
                : {{ data.email }} {% if data.pgp %}🔒 {% endif %}{% if data.emailValid %}✅{% endif %}<br>
                {% trans from 'general' %}name{% endtrans %}: {{ data.name }} {% if data.validUser %}✅{% endif %}<br>
                {% trans from 'general' %}createdAt{% endtrans %}: {{ data.createdAt|date('d.m.Y H:i') }}<br>
                {% trans from 'general' %}reason{% endtrans %}: {{ data.itemstring }}
            </p>
            <p>
                <i>{% trans from 'general' %}additionalInformation{% endtrans %}</i><br>
                {% trans from 'general' %}name{% endtrans %}: {{ data.firstname }} {{ data.lastname }}<br>
                {% trans from 'general' %}address{% endtrans %}: {{ data.street }}, {{ data.city }}<br>
                {% if data.birthday %}{% trans from 'general' %}birthday{% endtrans %}: {{ data.birthday|date('d.m.Y') }}
                    <br>{% endif %}
            </p>
            <p>
                {% trans from 'general' %}description{% endtrans %}:<br> {{ data.description|nl2br }}
            </p>
        </div>
    </div>
    <div>
        <div>
            {% if data.activ == 1 %}
                <div>
                    {{ form_start(form,{'action': path('client_comment',{'slug':data.team.slug, 'token':data.token})}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            {% else %}
                <div>
                    {% trans %}request.closed{% endtrans %}
                </div>
            {% endif %}
        </div>
        <div>
            <div>
                <h2>
                    {% trans from 'general' %}comments{% endtrans %}
                </h2>
            </div>
            {% for c in data.clientComments|sort((b, a) => a.createdAt <=> b.createdAt) %}
                <div
                     style="{% if c.internal %}border-left-style: solid; border-left-width: 17px;{% else %}border-right-style: solid; border-right-width: 17px;{% endif %}">
                    {{ c.name }} - {{ c.createdAt|date('d.m.Y H:i') }}<br>
                    <hr>
                    {{ c.comment|nl2br }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
