{% extends 'client_request/base.html.twig' %}

{% block title %}Hello ClientRequestController!{% endblock %}

{% block content %}
    <div>
        <a href="{{ path('client_index', {'slug':team.slug}) }}" class="btn btn-primary btn-sm">Zurück zum Portal</a>
        <div class="card card-body">
            <h1 class="h1-responsive text-center">{{ data.title }}</h1>
            {% if not data.activ %}
                <div class="note-info text-center">
                    {% trans %}Diese Anfrage ist geschlossen.{% endtrans %}
                </div>
            {% endif %}
            {% if not data.emailValid %}
                <div class="note-warning text-center">
                    ACHTUNG!<br>
                    Bevor wir die Anfrage weiter bearbeiten können, müssen Sie die Email Adresse verifizieren. Wir haben
                    gerade eine Email mit einem Link an Ihre Email Adresse geschickt. Klicken Sie auf den Link oder
                    kopieren diesen in eine Browser und bestätigen Sie Ihre Email Adresse.
                </div>
            {% endif %}
            <p>
                {% trans %}Email Adresse{% endtrans %}: {{ data.email }} {% if data.emailValid %}✅{% endif %}<br>
                {% trans %}Name{% endtrans %}: {{ data.name }} {% if data.validUser %}✅{% endif %}<br>
                {% trans %}Erstellt am{% endtrans %}: {{ data.createdAt|date('d.m.Y H:i') }}<br>
                {% trans %}Grund der Anfrage{% endtrans %}: {{ data.itemstring }}
            </p>
            <p>
                {% trans %}Beschreibung{% endtrans %}: {{ data.description|raw }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if data.activ == 1 %}
                <div class="card-body card mt-2">
                    {{ form_start(form,{'action': path('client_comment',{'slug':data.team.slug, 'token':data.token})}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            {% else %}
                <div class="note-info text-center mt-2">
                    {% trans %}Diese Anfrage ist geschlossen.{% endtrans %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6 mb-4">
            {% for c in data.clientComments|sort((b, a) => a.createdAt <=> b.createdAt) %}
                <div class="card-body card mt-2"
                     style="{% if c.internal %}border-left-style: solid; border-left-width: 17px;{% else %}border-right-style: solid; border-right-width: 17px;{% endif %}">
                    {{ c.name }} - {{ c.createdAt|date('d.m.Y H:i') }}<br>
                    <hr>
                    {{ c.comment|raw }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
