{% extends 'client_request/base.html.twig' %}
{% trans_default_domain 'client_request' %}

{% block title %}{% trans %}greeting{% endtrans %}{% endblock %}

{% block back %}
    <a href="{{ path('client_index', {'slug':team.slug}) }}" class="flex">
        <span class="material-symbols-outlined">arrow_left_alt</span>
        {% trans %}backToPortal{% endtrans %}
    </a>
{% endblock %}

{% block content %}
    <h1>{{ data.title }}</h1>
    {% if not data.activ %}
        <div class="card-outlined mb-5">
            {% trans %}request.closed{% endtrans %}
        </div>
    {% endif %}
    {% if not data.emailValid %}
        <div class="card-outlined mb-5">
            {% trans %}emailVerificationDisclaimer{% endtrans %}
        </div>
    {% endif %}
    {% if not data.validUser %}
        <div class="card-outlined mb-5">
            {% trans %}cannotVerify{% endtrans %}
        </div>
    {% endif %}
    {% if data.pgp %}
        <div class="card-outlined mb-5">
            {% trans %}openPGP.disclaimer{% endtrans %}
        </div>
    {% endif %}

    {% include 'client_request/__show.html.twig' %}

    <h2>{% trans from 'general' %}comments{% endtrans %}</h2>

    {% if data.activ == 1 %}
        {{ form_start(form,{'action': path('client_comment',{'slug':data.team.slug, 'token':data.token})}) }}
        <fieldset>
            {{ form_row(form.comment) }}
            {{ form_row(form.save) }}
        </fieldset>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% else %}
        <div class="card-outlined">{% trans %}request.closed{% endtrans %}</div>
    {% endif %}

    {% include 'client_request/__comments.html.twig' %}

{% endblock %}
