{% extends 'base.html.twig' %}
{% trans_default_domain 'dsb' %}
{% block body %}
    <div>
        <h2>{% trans %}dsbTeams{% endtrans %}</h2>

        <div>
            {% for t in teams %}
                <div>
                    <div>
                        <b>{{ t.name }}</b>, {{ t.strasse }} {{ t.plz }} {{ t.stadt }}
                    </div>
                    <div>
                        {% if currentTeam == t %}
                            <span>{% trans %}currentTeam{% endtrans %}</span>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{{ path('dsb_change', {'id':t.id}) }}">{% trans %}change{% endtrans %}</a>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div>
            {% trans %}footer.disclaimer{% endtrans %}
        </div>
    </div>
{% endblock %}
