{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="card mt-4">
    <div class="card-body">
        

        <div class="mt-4 row">
            <div class="col-md-3">
            {{ form_label(form.name) }}
            {{ form_help(form.name) }}
            </div>
            <div class="col-md-9">
            {{ form_widget(form.name) }}
            </div>
        </div>

        <div class="mt-4 row">
            <div class="col-md-3">
                {{ form_label(form.datenarten) }}
                {{ form_help(form.datenarten) }}
            </div>
            <div class="col-md-9">
                {{ form_widget(form.datenarten) }}
            </div>
        </div>
                <div class="row">
            <div class="col-md-3">
                <p>
                </p>
            </div>
        </div>

        <div>
            {{ form_widget(form) }}
            <button class="btn btn-success btn-block btn waves-effect waves-light">{{ button_label|default('Speichern') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
