{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div>
    <div>
        <div>
            <div>
            {{ form_label(form.name) }}
            {{ form_help(form.name) }}
            </div>
            <div>
            {{ form_widget(form.name) }}
            </div>
        </div>

        <div>
            <div>
                {{ form_label(form.datenarten) }}
                {{ form_help(form.datenarten) }}
            </div>
            <div>
                {{ form_widget(form.datenarten) }}
            </div>
        </div>
                <div>
            <div>
                <p>
                </p>
            </div>
        </div>

        <div>
            {{ form_widget(form) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
