{% extends 'base.html.twig' %}
{% trans_default_domain 'vvt_datenkategorie' %}

{% block CTA %}
    <a class="btn btn-primary ml-1 btn-sm" href="{{ path('app_vvtdatenkategorie_new') }}">
        <span>{% trans %}dataCategory.create{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">{% trans %}dataCategory.overview{% endtrans %}</h2>
    <div class="card card-body">
        <div class="table-responsive">
            <table id="data-table" class="table display table-striped">
                <thead>
                <tr>
                    <th scope="col">{% trans from 'general' %}id{% endtrans %}</th>
                    <th scope="col">{% trans %}dataCategory.word{% endtrans %}</th>
                    <th scope="col">{% trans %}dataType{% endtrans %}</th>
                    <th scope="col">{% trans %}deletion.deadline{% endtrans %}</th>
                    <th scope="col">{% trans %}deletion.concept{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}overview{% endtrans %}</th>
                    {% include 'base/__inheritanceTHeaders.html.twig' with {currentTeam:currentTeam} %}
                </tr>
                </thead>
                <tbody>
                {% for d in annotatedCategories %}
                    <tr class="clickable-row" data-href='{{ path('app_vvtdatenkategorie_edit', {'id': d.entity.id}) }}'>
                        <td>{{ d.entity.id }}</td>
                        <td>{{ d.entity.name }}</td>
                        <td>{{ d.entity.datenarten }}</td>
                        <td>{% if d.entity.loeschkonzept %}
                                {{ d.entity.loeschkonzept|last }}
                            {% else %}
                                {{ 'X' }}
                            {% endif %}
                        </td>
                        <td>
                            {% if d.entity.loeschkonzept %}
                                {% if d.entity.loeschkonzept|last %}
                                    <a href="{{ path('app_loeschkonzept_show', {'id': d.entity.loeschkonzept|last.id}) }}">{% trans from 'general' %}show{% endtrans %}</a>
                                {% else %}
                                    {% for l in d.entity.loeschkonzept %}
                                    <a href="{{ path('app_loeschkonzept_show', {'id': l.id}) }}">{% trans from 'general' %}show{% endtrans %}</a>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{ 'X' }}
                            {% endif %}

                        </td>
                        <td>
                            <a href="{{ path('app_vvtdatenkategorie_show', {'id': d.entity.id}) }}">{% trans from 'general' %}show{% endtrans %}</a>
                        </td>
                        {% include 'base/__inheritanceTCols.html.twig' with {team:d.entity.team, currentTeam:currentTeam, inherited:d.isVvtInheriting, used:d.isVvtInheritanceEnabled} %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

