{% extends 'base.html.twig' %}
{% trans_default_domain 'vvt_datenkategorie' %}

{% block title %}
    {% trans %}dataCategory.word{% endtrans %}
{% endblock %}

 {% block CTA %}
    <a href="{{ path('app_vvtdatenkategorie_index') }}" class="btn">
        <span>{% trans from 'general' %}back{% endtrans %}</span>
    </a>
    <a href="{{ path('app_vvtdatenkategorie_edit',{'id': vvtdatenkategorie.id}) }}" class="btn">
        <span>{% trans from 'general' %}edit{% endtrans %}</span>
    </a>
    {{ include('vvt_datenkategorie/_delete_form.html.twig') }}
{% endblock %}

{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{% trans from 'general' %}name{% endtrans %}</th>
                <td>{{ vvtdatenkategorie.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}dataType{% endtrans %}</th>
                <td>{{ vvtdatenkategorie.datenarten }}</td>
            </tr>
            <tr>
                <th>{% trans %}deletion.deadline{% endtrans %}</th>
                <td>{{ vvtdatenkategorie.loeschkonzept|last }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
