{% extends 'base.html.twig' %}
{% trans_default_domain 'vvt_datenkategorie' %}

{% block title %}
    {% trans %}dataCategory.word{% endtrans %}
{% endblock %}

{% block CTA %}
    {# TODO Can vvtdatenkategorie.team really be null? #}
    {% if vvtdatenkategorie.team is null or current_team == vvtdatenkategorie.team %}
        <a href="{{ path('app_vvtdatenkategorie_edit',{'id': vvtdatenkategorie.id}) }}" class="btn">
            <span>{% trans from 'general' %}edit{% endtrans %}</span>
        </a>
        {{ include('vvt_datenkategorie/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="dl-wrapper">
        <div class="dl-content">
            <dl>
                <div>
                    <dt>{% trans from 'general' %}name{% endtrans %}</dt>
                    <dd>{{ vvtdatenkategorie.name }}</dd>
                </div>
                <div>
                    <dt>{% trans %}dataType{% endtrans %}</dt>
                    <dd>{{ vvtdatenkategorie.datenarten }}</dd>
                </div>
                <div>
                    <dt>{% trans %}deletion.deadline{% endtrans %}</dt>
                    <dd>{{ vvtdatenkategorie.loeschkonzept|last }}</dd>
                </div>
            </dl>
        </div>
    </div>
{% endblock %}
