{{ form_start(form) }}
<div class="row">
    <div class="col-md-8">
        {% if activNummer %}
            {{ form_label(form.nummer) }}
            {{ form_widget(form.nummer) }}
        {% endif %}
        <div class="mb-4">
            {{ form_label(form.frage) }}
            {% if activ %}
                {{ form_widget(form.frage) }}
            {% else %}
                {{ form_widget(form.frage, { 'disabled':'disabled' }) }}
            {% endif %}
        </div>
        <div class="mb-4">
            {{ form_label(form.bemerkung) }}
            {% if activ %}
                {{ form_widget(form.bemerkung) }}
            {% else %}
                {{ form_widget(form.bemerkung, { 'disabled':'disabled' }) }}
            {% endif %}
        </div>
        <div class="mb-4">
            {{ form_label(form.empfehlung) }}
            {% if activ %}
                {{ form_widget(form.empfehlung) }}
            {% else %}
                {{ form_widget(form.empfehlung, { 'disabled':'disabled' }) }}
            {% endif %}
        </div>

        {{ form_label(form.save) }}
        {% if activ %}
            {{ form_widget(form.save) }}
        {% else %}
            {{ form_widget(form.save, { 'disabled':'disabled' }) }}
        {% endif %}
        {% if nextAudit is defined %}
        <a class="btn btn-info" href="{{ path('audit_tom_edit',{'tom':nextAudit.id}) }}">Zur nächsten Frage</a>
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="mb-4">
            <div class="danger-color">
                {{ form_label(form.status) }}
            </div>
            {% if activ %}
                {{ form_widget(form.status) }}
            {% else %}
                {{ form_widget(form.status, { 'disabled':'disabled' }) }}
            {% endif %}
        </div>

        <div class="mb-4">
            {{ form_label(form.kategorie) }}
            {% if activ %}
                {{ form_widget(form.kategorie) }}
            {% else %}
                {{ form_widget(form.kategorie, { 'disabled':'disabled' }) }}
            {% endif %}
        </div>

        <div class="mb-4">
            {{ form_label(form.abteilung) }}
            {% if activ %}
                {{ form_widget(form.abteilung) }}
            {% else %}
                {{ form_widget(form.abteilung, { 'disabled':'disabled' }) }}
            {% endif %}
        </div>

        <div class="mb-4">
            {{ form_label(form.ziele) }}
            {% if activ %}
                {{ form_widget(form.ziele) }}
            {% else %}
                {{ form_widget(form.ziele, { 'disabled':'disabled' }) }}
            {% endif %}
        </div>

        <div class="mb-4">
            {{ form_label(form.tomAttribut) }}
            {% if activ %}
                {{ form_widget(form.tomAttribut) }}
            {% else %}
                {{ form_widget(form.tomAttribut, { 'disabled':'disabled' }) }}
            {% endif %}
        </div>

        <div class="mb-4">
            {{ form_label(form.tomZiel) }}
            {% if activ %}
                {{ form_widget(form.tomZiel) }}
            {% else %}
                {{ form_widget(form.tomZiel, { 'disabled':'disabled' }) }}
            {% endif %}
        </div>
    </div>
</div>
{{ form_end(form) }}