{{ form_start(form) }}
{% trans_default_domain 'audit_tom' %}
<div>
    <div>
        <div {% if not activ %}class="disabled"{% endif %}>
            {% if activNummer %}
                {{ form_label(form.nummer) }}
                {{ form_widget(form.nummer) }}
            {% endif %}
            <div>
                {{ form_label(form.frage) }}
                {{ form_widget(form.frage) }}
            </div>
            <div>
                {{ form_label(form.bemerkung) }}
                {{ form_widget(form.bemerkung) }}
            </div>
            <div>
                {{ form_label(form.empfehlung) }}
                {{ form_widget(form.empfehlung) }}
            </div>
        </div>
        {{ form_label(form.save) }}
        {% if activ %}
            {{ form_widget(form.save) }}
        {% else %}
            {{ form_widget(form.save, { 'disabled':'disabled' }) }}
        {% endif %}
        {% if nextAudit is defined %}
            <a href="{{ path('audit_tom_edit',{'tom':nextAudit.id}) }}">{% trans %}nextQuestion{% endtrans %}</a>
        {% endif %}
    </div>
    <div>
        <div>
            <div>
                {{ form_label(form.status) }}
            </div>
            {{ form_widget(form.status) }}
        </div>

        <div>
            {{ form_label(form.kategorie) }}
            {{ form_widget(form.kategorie) }}
        </div>

        <div>
            {{ form_label(form.abteilung) }}
            {{ form_widget(form.abteilung) }}
        </div>

        <div>
            {{ form_label(form.ziele) }}
            {{ form_widget(form.ziele) }}
        </div>

        <div>
            {{ form_label(form.tomAttribut) }}
            {{ form_widget(form.tomAttribut) }}
        </div>

        <div>
            {{ form_label(form.tomZiel) }}
            {{ form_widget(form.tomZiel) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
