{% extends 'base.html.twig' %}
{% trans_default_domain 'audit_tom' %}

{% block title %}
    {{ title }} ({% trans from 'general' %}number{% endtrans %}: {{ audit.nummer }})
{% endblock %}

{% block CTA %}
    {% if audit.activ %}
        <a href="{{ path('bericht_audit', {'id':audit.id}) }}" class="btn">
            {% trans %}pdf.create{% endtrans %}
        </a>
        <a href="{{ path('bericht_audit', {'id':audit.id, 'all':1}) }}" class="btn">
            {% trans %}pdf.createWithHistory{% endtrans %}
        </a>
    {% endif %}
    {{ include('assign/__assign.html.twig',{'data':audit,'path':'assign_audit'}) }}
{% endblock %}

{% block body %}
    {{ include('audit_tom/__form.html.twig') }}
    <p class="created-by">{% trans %}createdBy{% endtrans %}: {{ audit.user.email }}</p>
    {% if audit.previous %}
        <div>
            <h2>{% trans %}history{% endtrans %}</h2>
            {{ include('audit_tom/__history.html.twig', {'p':audit.previous}) }}
        </div>
    {% endif %}
    {{ include('base/__snack.html.twig') }}
{% endblock %}