{% extends 'base.html.twig' %}

{% block CTA %}
    {% if audit.activ %}
        <a class="btn btn-amber ml-1 btn-sm" href="{{ path('bericht_audit', {'id':audit.id}) }}">
            <span>PDF erstellen</span>
        </a>
        <a class="btn btn-amber ml-1 btn-sm" href="{{ path('bericht_audit', {'id':audit.id, 'all':1}) }}">
            <span>PDF mit Historie erstellen</span>
        </a>
    {% endif %}
{% endblock %}

{% block body %}

    <h2 class="h2-responsive">{{ title }} (Nummer: {{ audit.nummer }})</h2>
    <div class="card card-body">
        {{ include('audit_tom/__form.html.twig') }}
    </div>
    <p>Erstellt von: {{ audit.user.email }}</p>
    {% if audit.previous %}
        <div class="card card-body mt-2">
            <h2>Historie</h2>
            {{ include('audit_tom/__history.html.twig', {'p':audit.previous}) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
