{% extends 'base.html.twig' %}
{% trans_default_domain 'audit_tom' %}

{% block title %}
    {% trans %}allTomAuditQuestions{% endtrans %}
{% endblock %}

{% block CTA %}
    <a href="{{ path('audit_tom_new') }}" class="btn btn-create">
        {% trans %}newAudit{% endtrans %}
    </a>
    <a href="{{ path('audit_tom_clone') }}" title="{{ 'dsgvoDisclaimer'|trans }}" class="btn">
        {% trans %}cloneDefault{% endtrans %}
    </a>
{% endblock %}

{% block body %}
    <div>
        <div>
            <table id="data-table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans %}question{% endtrans %}</th>
                    <th scope="col">{% trans %}department{% endtrans %}</th>
                    <th scope="col">{% trans %}category{% endtrans %}</th>
                    <th scope="col">{% trans %}auditGoals{% endtrans %}</th>
                    <th scope="col">{% trans %}status{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for a in audit %}
                    <tr data-href='{{ path('audit_tom_edit',{'tom':a.id}) }}'
                        style="background-color: {{ a.status.color }}">
                        <th scope="row">{{ a.nummer }}</th>
                        <td>{{ a.frage }}</td>
                        <td>{% for ab in a.abteilung %}{{ ab.name }}<br>{% endfor %}</td>
                        <td>{{ a.kategorie | trans }}</td>
                        <td>{% for z in a.ziele %}{{ z.name }}<br>{% endfor %}</td>
                        <td>{{ a.status.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
