{% trans_default_domain 'software' %}
<a href="{{ path('software_config_new',{'id':software.id}) }}">
    {% trans %}config.create{% endtrans %}
</a>
<!-- Button trigger modal -->
<button type="button" data-toggle="modal" data-target="#centralModalMd">
    {% trans from 'general' %}info{% endtrans %}
</button>
{% for c in software.config %}
    {% if not c.activ %}
        <div>
            <a
               href="{{ path('software_config_new',{'id':software.id,'config':c.id}) }}">
                <div>
                    <del>
                        {{ c.id }}: {{ c.name }}<br>
                        {{ c.createdAt|date('d.m.Y') }}
                    </del>
                </div>
            </a>
            {% if software.team in app.user.adminRoles %}
                <div>
                    <a href="{{ path('software_config_delete',{'config':c.id}) }}"
                      >{% trans %}config.delete{% endtrans %}
                    </a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div>
            <a
               href="{{ path('software_config_new',{'id':software.id,'config':c.id}) }}">
                <div>
                    <b>{{ c.id }}: {{ c.name }}</b><br>
                    {{ c.config|raw }}
                </div>
                <div>
                    {% trans from 'general' %}createdAt{% endtrans %}: {{ c.createdAt|date('d.m.Y') }}
                </div>
            </a>
        </div>
    {% endif %}
{% endfor %}

<!-- Central Modal Medium -->
<div id="centralModalMd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!-- Change class .modal-sm to change the size of the modal -->
    <div role="document">
        <div>
            <div>
                <h4 id="myModalLabel">{% trans %}config.explanation{% endtrans %}</h4>
                <button type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                {% trans %}config.disclaimer{% endtrans %}
            </div>
            <div>
                <button type="button"
                        data-dismiss="modal">{% trans from 'general' %}close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Medium -->
