{% trans_default_domain 'software' %}
<div class="mb-5">
    {% if isEditable %}
        <a href="{{ path('software_config_new',{'id':software.id}) }}" class="btn">
            {% trans %}config.create{% endtrans %}
        </a>
    {% endif %}
    <button class="btn" type="button" data-type="dialogs" data-target="#modal-software-config-info">
        {% trans from 'general' %}info{% endtrans %}
    </button>
</div>
<ul class="stacked-list">
{% for c in software.config %}
    {% if not c.activ %}
        <li>
            <div>
                <p>
                    <a href="{{ path('software_config_new',{'id':software.id,'config':c.id}) }}">
                        {{ c.id }}: {{ c.name }}
                    </a>
                </p>
                <p>
                    {% trans from 'general' %}createdAt{% endtrans %}: {{ c.createdAt|date('d.m.Y') }}
                </p>
            </div>
            <div>
                {% if software.team in app.user.adminRoles %}
                    <a href="{{ path('software_config_delete',{'config':c.id}) }}" class="text-danger">
                        {% trans %}config.delete{% endtrans %}
                    </a>
                {% endif %}
            </div>
        </li>
    {% else %}
        <li>
            <div>
                <p>
                    <a href="{{ path('software_config_new',{'id':software.id,'config':c.id}) }}">{{ c.id }}: {{ c.name }}</a>
                </p>
                <p>
                    {{ c.config|raw }}<br>
                    {% trans from 'general' %}createdAt{% endtrans %}: {{ c.createdAt|date('d.m.Y') }}
                </p>
            </div>
            <div>

            </div>
        </li>
    {% endif %}
{% endfor %}
</ul>

<div id="modal-software-config-info" class="modal">
    <div data-close="#modal-software-config-info" class="modal-close"></div>
    <div class="modal-inner">
        <div class="modal-content">
            <h3>{% trans %}config.explanation{% endtrans %}</h3>
            <p>{% trans %}config.disclaimer{% endtrans %}</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-close="#modal-software-config-info">{% trans from 'general' %}close{% endtrans %}</button>
        </div>
    </div>
</div>