<a class="btn btn-primary btn-sm" href="{{ path('software_config_new',{'id':software.id}) }}">Neue
    Konfiguration hinzufügen</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-elegant btn-sm" data-toggle="modal" data-target="#centralModalMd">
    Info
</button>
{% for c in software.config %}
    {% if not c.activ %}
        <div class="row">
            <a class="card card-body bg-danger mb-1"
               href="{{ path('software_config_new',{'id':software.id,'config':c.id}) }}">
                <div class="col-xl-10">
                    <del>
                        {{ c.id }}: {{ c.name }}<br>
                        {{ c.createdAt|date('d.m.Y') }}
                    </del>
                </div>
            </a>
            {% if software.team in app.user.adminRoles %}
                <div class="col-xl-2">
                    <a href="{{ path('software_config_delete',{'config':c.id}) }}"
                       class="btn btn-danger btn-block mb-2">Konfiguration löschen
                    </a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="row">
            <a class="card card-body bg-success mb-1"
               href="{{ path('software_config_new',{'id':software.id,'config':c.id}) }}">
                <div class="col-md-8">
                    <b>{{ c.id }}: {{ c.name }}</b><br>
                    {{ c.config|raw }}
                </div>
                <div class="col-md-4">
                    Erstellt: {{ c.createdAt|date('d.m.Y') }}
                </div>
            </a>
        </div>
    {% endif %}
{% endfor %}

<!-- Central Modal Medium -->
<div class="modal fade" id="centralModalMd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Erklärung: Konfiguration</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% trans %}
                    In den Konfigurationen kann die IT Abteilung datenschutz- und informationssicherheitsrelevante Konfigurationen
                    dokumentieren, das ist sozusagen ein IT Handbuch mit allen wichtigen Konfigurationen. Mit den Konfigurationen können
                    die technischen und organisatorischen Maßnahmen technisch untermauert und dokumentiert werden.
                    Die Konfiguration kann z.B. die Firewall oder der Antivirus auf einem Server sein, die Firewall des Unternehmens,…
                {% endtrans %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm"
                        data-dismiss="modal">{% trans %}Schließen{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Medium -->