{% extends 'base.html.twig' %}
{% trans_default_domain 'software' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block CTA %}
    {% if software.activ %}
        <a href="{{ path('bericht_software', {'id':software.id}) }}" class="btn">
            <span>{% trans from 'general' %}pdf.create{% endtrans %}</span>
        </a>
        <a href="{{ path('bericht_software', {'id':software.id, 'all':1}) }}" class="btn">
            <span>{% trans from 'general' %}pdf.createWithHistory{% endtrans %}</span>
        </a>
        {% if isEditable %}
            {{ include('base/__approveBtn.html.twig',{'data':software,'dataLink':'software_approve'}) }}
            {{ include('assign/__assign.html.twig',{'data':software,'path':'assign_software'}) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    {{ include('base/__approvedBy.html.twig', {'data':software}) }}

    <div class="grid grid-cols-12">
        <div class="col-span-4">
            <h3>{% trans %}software.baseData{% endtrans %}</h3>
            {{ include('software/__form.html.twig') }}
            <p class="created-by">{% trans from 'general' %}createdBy{% endtrans %}: {{ software.user.email }}</p>
        </div>
        <div class="col-span-8">
            <h3>{% trans %}config.attached{% endtrans %}</h3>
            {{ include('software/__config.html.twig') }}
        </div>
        <div class="col-span-12">
            {% set inherited = softwareInherited(software) %}
            {% set used = teamUsesSoftware(currentTeam, software) %}
            {% include 'base/__inheritanceInfo.html.twig' with {team:software.team, currentTeam:currentTeam, used:used, inherited:inherited} %}
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="card z-depth-0 bordered">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                        <h4 class="h4-responsive">{% trans %}software.baseData{% endtrans %}</h4>
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse{% if not isEditable %} show{% endif %}" aria-labelledby="headingOne"
                 data-parent="#accordionExample">
                <div class="card-body {% if not activ or software.approved %}disabled{% endif %}">
                    {{ include('software/__form.html.twig') }}
                    <p>{% trans from 'general' %}createdBy{% endtrans %}: {{ software.user.email }}</p>
                </div>
            </div>
        </div>
        {% if isEditable %}
            <div class="card z-depth-0 bordered">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link " type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h4 class="h4-responsive">{% trans %}config.attached{% endtrans %}</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body {% if not activ or software.approved %}disabled{% endif %}">
                        {{ include('software/__config.html.twig') }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% if software.previous %}
        <h3 class="mt-10">{% trans from 'general' %}history{% endtrans %}</h3>
        <ol class="item-history" reversed>
            {{ include('software/__history.html.twig', {'p':software.previous}) }}
        </ol>
    {% endif %}



{% endblock %}
