{% extends 'base.html.twig' %}
{% trans_default_domain 'software' %}

{% block CTA %}
    {% if software.activ %}
        <a class="btn btn-amber ml-1 btn-sm " href="{{ path('bericht_software', {'id':software.id}) }}">
            <span>{% trans from 'general' %}pdf.create{% endtrans %}</span>
        </a>
        <a class="btn btn-amber ml-1 btn-sm " href="{{ path('bericht_software', {'id':software.id, 'all':1}) }}">
            <span>{% trans from 'general' %}pdf.createWithHistory{% endtrans %}</span>
        </a>
        {% if isEditable %}
            {{ include('base/__approveBtn.html.twig',{'data':software,'dataLink':'software_approve'}) }}
        {% endif %}
    {% endif %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h2 class="h2-responsive">{{ software.name }}: {{ title }}</h2>
            {{ include('base/__approvedBy.html.twig', {'data':software}) }}
        </div>
        <div class="col-md-4 text-right">
            {% if isEditable %}
                {{ include('assign/__assign.html.twig',{'data':software,'path':'assign_software'}) }}
            {% endif %}
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="card z-depth-0 bordered">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                        <h4 class="h4-responsive">{% trans %}software.baseData{% endtrans %}</h4>
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse{% if not isEditable %} show{% endif %}" aria-labelledby="headingOne"
                 data-parent="#accordionExample">
                <div class="card-body {% if not activ or software.approved %}disabled{% endif %}">
                    {{ include('software/__form.html.twig') }}
                    <p>{% trans from 'general' %}createdBy{% endtrans %}: {{ software.user.email }}</p>
                </div>
            </div>
        </div>
        {% if isEditable %}
            <div class="card z-depth-0 bordered">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link " type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h4 class="h4-responsive">{% trans %}config.attached{% endtrans %}</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body {% if not activ or software.approved %}disabled{% endif %}">
                        {{ include('software/__config.html.twig') }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% if software.previous %}
        <div class="card card-body mt-2">
            <h2>{% trans from 'general' %}history{% endtrans %}</h2>
            {{ include('software/__history.html.twig', {'p':software.previous}) }}
        </div>
    {% endif %}

    {{ include('base/__snack.html.twig') }}

{% endblock %}

{% block javascript %}
{% endblock %}
