{% extends 'base.html.twig' %}
{% trans_default_domain 'software' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block CTA %}
    {% if software.activ %}
        <a href="{{ path('bericht_software', {'id':software.id}) }}" class="btn">
            <span>{% trans from 'general' %}pdf.create{% endtrans %}</span>
        </a>
        <a href="{{ path('bericht_software', {'id':software.id, 'all':1}) }}" class="btn">
            <span>{% trans from 'general' %}pdf.createWithHistory{% endtrans %}</span>
        </a>
        {% if isEditable %}
            {{ include('base/__approveBtn.html.twig',{'data':software,'dataLink':'software_approve'}) }}
            {{ include('assign/__assign.html.twig',{'data':software,'path':'assign_software'}) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    {{ include('base/__approvedBy.html.twig', {'data':software}) }}

    <div class="grid grid-cols-5 gap-4">
        <div class="col-span-3">
            <h3>{% trans %}software.baseData{% endtrans %}</h3>
            {{ include('software/__form.html.twig') }}
            <p class="created-by">{% trans from 'general' %}createdBy{% endtrans %}: {{ software.user.email }}</p>
        </div>
        <div class="col-span-2">
            <h3>{% trans %}config.attached{% endtrans %}</h3>
            {{ include('software/__config.html.twig') }}
        </div>
    </div>

    {% if software.previous %}
        <h3 class="mt-10">{% trans from 'general' %}history{% endtrans %}</h3>
        <ol class="item-history" reversed>
            {{ include('software/__history.html.twig', {'p':software.previous}) }}
        </ol>
    {% endif %}



{% endblock %}
