{% extends 'base.html.twig' %}
{% trans_default_domain 'software' %}

{% block CTA %}
    <a class="btn btn-indigo ml-1 btn-sm" href="{{ path('software_new') }}">
        <span>{% trans %}config.create{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">{% trans %}software.inventory{% endtrans %}</h2>

    <div class="card card-body">
        <div class="table-responsive">
            <table id="data-table" class="table display table-striped ">
                <thead>
                <tr>
                    <th scope="col">{% trans from 'general' %}name{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}fileNumber{% endtrans %}</th>
                    <th scope="col">{% trans %}inventory{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}processings{% endtrans %}</th>
                    <th scope="col">{% trans %}dataTransfers{% endtrans %}</th>
                    <th scope="col">{% trans %}purchaseDate{% endtrans %}</th>
                    <th scope="col">{% trans %}licence.word{% endtrans %}</th>
                    <th scope="col">{% trans %}expiration.date{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}state{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}inheritance.fromTeam{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                    <tr class="clickable-row" data-href='{{ path('software_edit',{'id':d.id}) }}'>
                        <th scope="row">{{ d.name }}</th>
                        <td>{{ d.reference }}</td>
                        <td>{{ d.nummer }}</td>
                        <td>{% for p in d.vvts | filter(p => p.activ) %}{{ p.name }}<br>{% endfor %}</td>
                        <td>{% for p in d.datenweitergabe | filter(p => p.activ) %}{{ p.gegenstand }}<br>{% endfor %}
                        </td>
                        <td>{{ d.purchase|date('d.m.Y') }}</td>
                        <td>{{ d.licenseTypeString }}</td>
                        <td>{% if d.licenseExpiration %}{{ d.licenseExpiration|date('d.m.Y') }}{% else %}{% trans %}expiration.without{% endtrans %}{% endif %}</td>
                        <td>{% if d.licenseExpiration < date() and d.licenseExpiration is not null %}
                                <span class="bg-danger p-1 text-uppercase">{% trans %}expiration.expired{% endtrans %}</span>
                            {% elseif d.approved %}
                                {% trans %}software.approved{% endtrans %}
                            {% elseif d.status == 60 %}
                                <span class="bg-info p-1">{{ d.statusString }}</span>
                            {% else %}
                                {{ d.statusString }}
                            {% endif %}
                        </td>
                        <td{% if d.team != currentTeam %} title="{% trans from 'general' %}inheritance.infoText{% endtrans %}"{% endif %}>
                            {% if d.team != currentTeam %}{{ d.team }}{% else %}-{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ include('base/__snack.html.twig') }}
{% endblock %}
