{% extends 'base.html.twig' %}
{% trans_default_domain 'software' %}

{% set fullWidthLayout = true %}

{% block title %}
    {% trans %}software.inventory{% endtrans %}
{% endblock %}

{% block CTA %}
    <a href="{{ path('software_new') }}" class="btn btn-create">
        {% trans %}config.create{% endtrans %}
    </a>
{% endblock %}

{% block body %}
    <table id="data-table" class="dataTable">
        <thead>
            <tr>
                <th scope="col">{% trans from 'general' %}name{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}fileNumber{% endtrans %}</th>
                <th scope="col">{% trans %}inventory{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}processings{% endtrans %}</th>
                <th scope="col">{% trans %}dataTransfers{% endtrans %}</th>
                <th scope="col">{% trans %}purchaseDate{% endtrans %}</th>
                <th scope="col">{% trans %}licence.word{% endtrans %}</th>
                <th scope="col">{% trans %}expiration.date{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}state{% endtrans %}</th>
                {% include 'base/__inheritanceTHeaders.html.twig' with {currentTeam:currentTeam} %}
            </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr data-href='{{ path('software_edit',{'id':d.id}) }}'>
                <td>{{ d.name }}</td>
                <td>{{ d.reference }}</td>
                <td>{{ d.nummer }}</td>
                <td>{% for p in d.vvts | filter(p => p.activ) %}{{ p.name }}<br>{% endfor %}</td>
                <td>{% for p in d.datenweitergabe | filter(p => p.activ) %}{{ p.gegenstand }}<br>{% endfor %}
                </td>
                <td>{{ d.purchase|date('d.m.Y') }}</td>
                <td>{{ d.licenseTypeString }}</td>
                <td>{% if d.licenseExpiration %}{{ d.licenseExpiration|date('d.m.Y') }}{% else %}{% trans %}expiration.without{% endtrans %}{% endif %}</td>
                <td>{% if d.licenseExpiration < date() and d.licenseExpiration is not null %}
                        <span>{% trans %}expiration.expired{% endtrans %}</span>
                    {% elseif d.approved %}
                        {% trans %}software.approved{% endtrans %}
                    {% elseif d.status == 60 %}
                        <span>{{ d.statusString }}</span>
                    {% else %}
                        {{ d.statusString }}
                    {% endif %}
                </td>
                {% set inherited = softwareInherited(d) %}
                {% set used = teamUsesSoftware(currentTeam, d) %}
                {% include 'base/__inheritanceTCols.html.twig' with {team:d.team, currentTeam:currentTeam, inherited:inherited, used:used} %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
