{% trans_default_domain 'base' %}
<!DOCTYPE html>
<html>
    {{ include('base/__head.html.twig') }}
    <body {{ stimulus_controller('appUi') }}>
        <main class="flex">
            <aside class="flex-none fixed">
                {{ include('base/__sidenav.html.twig') }}
            </aside>
            <article class="grow p-3 ml-60">
                <div id="topbar" class="flex mb-3">
                    {% if urlBack is defined %}
                        <a href="{{ urlBack }}" class="material-symbols-outlined">
                            arrow_left_alt
                        </a>
                    {% endif %}
                    <h2 class="flex flex-grow justify-start text-[1.375rem] leading-7 mb-0">{% block title %}{% endblock %}</h2>
                    {{ include('base/__teamToggle.html.twig') }}
                    {{ include('base/__topnav.html.twig') }}
                </div>
                <div>
                    <div id="bock-cta" class="flex flex-row rounded flex gap-2 items-center justify-start">
                        {% block CTA %}{% endblock %}
                    </div>
                    <div id="content">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </article>
        </main>
        <footer>
            {{ include('base/__footer.html.twig') }}
        </footer>
        <div id="modal-remote-content" class="modal">
            <div data-close="#modal-remote-content" class="modal-close"></div>
            <div class="modal-inner"></div>
        </div>
        {{ encore_entry_script_tags('app') }}
        <script>
            window.translations = {
                'confirmAction': '{{ 'confirmAction'|trans }}',
            }
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>