<!DOCTYPE html>
<html>
    {{ include('base/__head.html.twig') }}
    <body>
        <header>
            {% block CTA %}{% endblock %}
            {{ include('base/__topnav.html.twig') }}
        </header>
        <main>
            <aside>
                {{ include('base/__sidenav.html.twig') }}
            </aside>
            <article>
                {% block body %}{% endblock %}
            </article>
        </main>
        <footer>
            {{ include('base/__footer.html.twig') }}
        </footer>
{#        {% block javascripts %}#}
            {{ encore_entry_script_tags('app') }}
{#        {% endblock %}#}
    </body>
</html>