<h2 style="page-break-before: always;">{% if not d.activ %} Historie: Löschkonzept (id: {{ d.id }}) {% else %} <a href="{{ absolute_url(path('app_loeschkonzept_edit', {'id':d.id})) }}">Löschkonzept (id: {{ d.id }}) {% endif %}</a></h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            Datenkategorien
        </td>
        <td>{% for vv in d.vvtdatenkategories %}{% if vv.activ %}<a href="{{ absolute_url(path('app_vvtdatenkategorie_edit', {'id':vv.id})) }}">{{ vv.name }}{% else %}{{ vv.name }} (inaktiv){% endif %}{% if not loop.last %},{% endif %}<br>{% endfor %}</a></td>
    </tr>
    <tr>
        <td>
            Datenarten
        </td>
        <td>{% for vv in d.vvtdatenkategories %}{% if vv.activ %}{{ vv.datenarten|raw }}{% else %}{{ vv.datenarten|raw }} (inaktiv){% endif %}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            Standard Löschfrist
        </td>
        <td>{{ d.standartlf|raw}}</td>
    </tr>
    <tr>
        <td>
            gesetzliche Löschfrist
        </td>
        <td>{{ d.loeschfrist|raw}}</td>
    </tr>
    <tr>
        <td>
            Speicherorte
        </td>
        <td>{{ d.speicherorte|raw}}</td>
    </tr>
    <tr>
        <td>
            Löschbeauftragter
        </td>
        <td>{{ d.loeschbeauftragter|raw}}</td>
    </tr>
      <tr>
        <td>
            Beschreibung
        </td>
        <td>{{ d.beschreibung|raw}}</td>
    </tr>
    </tr>
      <tr>
        <td>
            Activ
        </td>
        <td>{{ d.activ|raw}}</td>
    </tr>
    
    
</table>
{{ d.createAt|date('d.m.Y H:i') }} by {{ d.user.email }}

{% if d.previous and all == 1 %}
    {{ include('bericht/__berichtLoeschkonzept.html.twig', {'d':d.previous}) }}
{% endif %}

