<h2 style="page-break-before: always;">{% if not d.activ %}{{ d.approved?'Freigegebene':'' }} Historie: {% endif %}{{ d.reference }}
    : {{ d.gegenstand }}
    (id:{{ d.id }})</h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            Nummer der Datenweitergabe
        </td>
        <td>{{ d.nummer }}</td>
    </tr>
    <tr>
        <td>
            Art der Datenweitergabe
        </td>
        <td>{% if d.art == 1 %}Datenweitergabe{% elseif d.art == 2 %}Auftragsdatenverarbeitung{% endif %}</td>
    </tr>
    <tr>
        <td>
            Freigabe
        </td>
        <td>{% if d.approved %}Freigegeben von {{ d.approvedBy.username }}{% endif %}</td>
    </tr>
    <tr>
        <td>
            Aktenzeichen
        </td>
        <td>{{ d.reference }}</td>
    </tr>
    <tr>
        <td>
            Zeichnungsdatum
        </td>
        <td>{{ d.zeichnungsdatum|date('d.m.Y') }}</td>
    </tr>
    <tr>
        <td>
            Gegenstand der Datenweitergabe
        </td>
        <td>{{ d.gegenstand }}</td>
    </tr>
    <tr>
        <td>
            Verantwortlich für die Datenweitergabe (Intern)
        </td>
        <td>{{ d.verantwortlich }}</td>
    </tr>
    <tr>
        <td>
            Vertragsform
        </td>
        <td>{{ d.vertragsform }}</td>
    </tr>
    <tr>
        <td>
            Auftragsverarbeitungsvertrag vorhanden und hochgeladen
        </td>
        <td>{% if d.upload %}Ja{% else %}Nein{% endif %}</td>
    </tr>
    <tr>
        <td>
            Kontakt
        </td>
        <td>{{ d.kontakt.firma }} - {{ d.kontakt.nachname }}</td>
    </tr>
    <tr>
        <td>
            Zugehörige Verarbeitungstätigkeit
        </td>
        <td>{% for p in d.verfahren if p.activ %}{{ p.name }},<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            Zugehörige Software und verbundene Verarbeitungstätigkeit
        </td>
        <td>
            {% for p in d.software if p.activ %}
                {{ p.name }}
                <ul>
                    {% for d in p.vvts if d.activ %}
                        <li>{{ d.name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>
            Grundlage für die Datenweitergabe
        </td>
        <td>{{ d.grundlage.name }}</td>
    </tr>
    <tr>
        <td>
            Stand
        </td>
        <td>{{ d.stand.name }}</td>
    </tr>
    <tr>
        <td>
            Der Vertrag zur Auftragsverarbeitung nach Art. 28 Abs. 3 DSGVO berücksichtigt folgende Punkte
        </td>
        <td>
            {{ d.checkItems ? 'Gegenstand und Dauer der Verarbeitung, Art und Zweck der Verarbeitung<br><br>' }}
            {{ d.checkPeople ? 'Die Kategorien betroffener Personen<br><br>' }}
            {{ d.checkData ? 'Die Art der per-sonenbezogenen Daten <br><br>' }}
            {{ d.checkDocumentation ? 'Verarbeitung auf dokumentierte Weisung des Verantwortlichen<br><br>' }}
            {{ d.checkTrust ? 'Vertraulichkeitsverpflichtung<br><br>' }}
            {{ d.checkTom ? 'Ergreifen erforderlicher technischer und organisatorischer Maßnahmen<br><br>' }}
            {{ d.checkSubcontractor ? 'Inanspruchnahme von Unterauftragnehmern nach Art. Art. 28 Abs. 2 und Abs. 4 DSGVO<br><br>' }}
            {{ d.checkSupport ? 'Unterstützung des Verantwortlichen bei der Beantwortung von Betroffenenanfragen<br><br>' }}
            {{ d.checkSupport3236 ? 'Unterstützung des Verantwortlichen bei den Pflichten nach Art. 32 – 36 DSGVO<br><br>' }}
            {{ d.checkEnding ? 'Umgang mit personenbezogenen Daten nach Beendigung der Auftragsverarbeitung<br><br>' }}
            {{ d.checkAudit ? 'Zurverfügungstellung von Informationen und Ermöglichung von Überprüfungen<br><br>' }}
            {{ d.checkNotes ? 'Hinweispflicht<br>' }}


        </td>
    </tr>

</table>
{{ d.createdAt|date('d.m.Y H:i') }} by {{ d.user.email }}
{% if d.previous and all == 1 %}
    {{ include('bericht/__datenBericht.html.twig', {'d':d.previous}) }}
{% endif %}