{% trans_default_domain 'datenweitergabe' %}
<h2 style="page-break-before: always;">
    {% if not d.activ %}{{ d.approved?'approved':'' |trans([], 'general') }} {% trans from 'general' %}history{% endtrans %}: {% endif %}{{ d.reference }}: {{ d.gegenstand }}({% trans from 'general' %}id{% endtrans %}:{{ d.id }})
</h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            {% trans %}dataTransfer.count{% endtrans %}
        </td>
        <td>{{ d.nummer }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}dataTransfer.type{% endtrans %}
        </td>
        <td>{% if d.art == 1 %}
                {% trans %}dataTransfer.word{% endtrans %}
            {% elseif d.art == 2 %}
                {% trans %}requestProcessing.word{% endtrans %}
            {% endif %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}approval{% endtrans %}
        </td>
        <td>{% if d.approved %}{% trans %}approvedBy{% endtrans%} {{ d.approvedBy.username }}{% endif %}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}fileNumber{% endtrans %}
        </td>
        <td>{{ d.reference }}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}subscriptionDate{% endtrans %}
        </td>
        <td>{{ d.zeichnungsdatum|date('d.m.Y') }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}dataTransfer.object{% endtrans%}
        </td>
        <td>{{ d.gegenstand }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}dataTransfer.responsible{% endtrans%}
        </td>
        <td>{{ d.verantwortlich }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}contractType{% endtrans %}
        </td>
        <td>{{ d.vertragsform }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}requestProcessing.contractExists{% endtrans %}
        </td>
        <td>{% if d.upload %}{% trans from 'general' %}yes{% endtrans %}{% else %}{% trans from 'general' %}no{% endtrans %}{% endif %}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}contact{% endtrans %}
        </td>
        <td>{{ d.kontakt.firma }} - {{ d.kontakt.nachname }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}associatedProcessing{% endtrans %}
        </td>
        <td>{% for p in d.verfahren | filter(p => p.activ) %}{{ p.name }},<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}associatedSoftware{% endtrans %}
        </td>
        <td>
            {% for p in d.software | filter(p => p.activ) %}
                {{ p.name }}
                <ul>
                    {% for d in p.vvts | filter(d => d.activ) %}
                        <li>{{ d.name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>
            {% trans %}dataTransfer.basics{% endtrans %}
        </td>
        <td>{{ d.grundlage.name }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}state{% endtrans %}
        </td>
        <td>{{ d.stand.name }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}requestProcessing.report.contract{% endtrans %}
        </td>
        <td>
            {{ d.checkItems ? 'requestProcessing.report.items' |trans }}
            {{ d.checkPeople ? 'requestProcessing.report.people' |trans }}
            {{ d.checkData ? 'requestProcessing.report.data' |trans }}
            {{ d.checkDocumentation ? 'requestProcessing.report.documentation' |trans }}
            {{ d.checkTrust ? 'requestProcessing.report.trust' |trans }}
            {{ d.checkTom ? 'requestProcessing.report.tom' |trans }}
            {{ d.checkSubcontractor ? 'requestProcessing.report.subcontractor' |trans }}
            {{ d.checkSupport ? 'requestProcessing.report.support' |trans }}
            {{ d.checkSupport3236 ? 'requestProcessing.report.support3236' |trans }}
            {{ d.checkEnding ? 'requestProcessing.report.ending' |trans }}
            {{ d.checkAudit ? 'requestProcessing.report.audit' |trans }}
            {{ d.checkNotes ? 'requestProcessing.report.notes' |trans }}
        </td>
    </tr>

</table>
{{ d.createdAt|date('d.m.Y H:i') }} by {{ d.user.email }}
{% if d.previous and all == 1 %}
    {{ include('bericht/__datenBericht.html.twig', {'d':d.previous}) }}
{% endif %}
