<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>

<h4 style="text-align: center">Interne Dateschutzrichtlinie
    von {{ d.team.name }} {% if not d.activ %}Historie {% endif %}</h4>

<h1 style="margin-bottom: 20px; text-align: center">
    {{ d.title }}
</h1>
<p>
    Referenz: {{ d.reference }}
</p>
<p>
    {{ d.scope|raw }}
</p>

<p>
    Status: {% if d.approved %}Richtlinie freigegeben von {{ d.approvedBy.username }}{% else %}{{ d.statusString }}{% endif %}
    <br>
    Datum: {{ d.createdAt|date('d.m.Y') }}
</p>

<p>
    <b>Risiken:</b><br>
    {{ d.risk|raw }}
</p>

<p>
    <b>Bezug zu Gesetzen, Verordnungen und Standards:</b> <br>
    {{ d.foundation|raw }}
</p>

<p>
    <b>Zu ergreifende Schutzmaßnahmen:</b> <br>
    {{ d.protection|raw }}
</p>

<p>
    {{ d.consequences|raw }}
</p>

<p style="margin-bottom: 60px">
    <b>Hinweis:</b><br>
    {{ d.notes|raw }}
</p>

<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            Betroffene Arbeitsvorgänge und Fachverfahren
        </td>
        <td>{% for p in d.processes if p.activ %}{{ p.name }}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            Betroffene Personen und Datenkategorien
        </td>
        <td>
            {% for p in d.people %}{{ p.name }},<br>{% endfor %}<br>
            {% for p in d.categories %}{{ p.name }},<br>{% endfor %}

        </td>
    </tr>
</table>

<p>
    Verantwortlichkeiten für die Schutzmaßnahmen: <br>
    {{ d.person.username }} ({{ d.createdAt|date('d.m.Y') }})
</p>
<p>
    {{ d.contact|nl2br }}
</p>
{% if d.previous and all == 1 %}
    <span style="page-break-after: always;"></span>
    {{ include('bericht/__policyBericht.html.twig', {'d':d.previous}) }}
{% endif %}