{% trans_default_domain 'policies' %}
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>

<h4 style="text-align: center; page-break-before: always;">{% trans %}policies.dataPrivacyBy{% endtrans%} {{ d.team.name }} {% if not d.activ %}{% trans from 'general' %}history{% endtrans %} {% endif %}</h4>

<h1 style="margin-bottom: 20px; text-align: center">
    {{ d.title }}
</h1>
<p>
    {% trans %}reference{% endtrans %}: {{ d.reference }}
</p>
<p>
    {{ d.scope|raw }}
</p>

<p>
    {% trans from 'general' %}state{% endtrans %}: {% if d.approved %}{% trans %}policies.approvedBy{% endtrans %} {{ d.approvedBy.username }}{% else %}{{ d.statusString }}{% endif %}
    <br>
    {% trans from 'general' %}date{% endtrans %}: {{ d.createdAt|date('d.m.Y') }}
</p>

<p>
    <b>{% trans %}risks{% endtrans %}:</b><br>
    {{ d.risk|raw }}
</p>

<p>
    <b>{% trans %}referring{% endtrans %}:</b> <br>
    {{ d.foundation|raw }}
</p>

<p>
    <b>{% trans %}protectiveMeasure{% endtrans %}:</b> <br>
    {{ d.protection|raw }}
</p>

<p>
    {{ d.consequences|raw }}
</p>

<p style="margin-bottom: 60px">
    <b>{% trans %}clue{% endtrans %}:</b><br>
    {{ d.notes|raw }}
</p>

<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            {% trans %}affected.processes{% endtrans %}
        </td>
        <td>{% for p in d.processes | filter(p => p.activ) %}{{ p.name }}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}affected.people{% endtrans %}
        </td>
        <td>
            {% for p in d.people %}{{ p.name }},<br>{% endfor %}<br>
            {% for p in d.categories %}{{ p.name }},<br>{% endfor %}

        </td>
    </tr>
</table>

<p>
    {% trans %}responsibleForProtectiveMeasure{% endtrans %}: <br>
    {{ d.person.username }} ({{ d.createdAt|date('d.m.Y') }})
</p>
<p>
    {{ d.contact|nl2br }}
</p>
{% if d.previous and all == 1 %}
    <span style="page-break-after: always;"></span>
    {{ include('bericht/__policyBericht.html.twig', {'d':d.previous}) }}
{% endif %}
