{% trans_default_domain 'bericht' %}
<h2>{% if not d.activ %}{{ d.approved?'approved':'' |trans([], 'general') }} {% trans from 'general' %}history{% endtrans %}: {% endif %}{{ d.nummer }}: {{ d.name }}
    ({% trans from 'general' %}id{% endtrans %}:{{ d.id }})</h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            {% trans %}softwareName{% endtrans %}
        </td>
        <td><a href="{{ absolute_url(path('software_edit', {'id':d.id})) }}">{{ d.name }}</a></td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}fileNumber{% endtrans %}
        </td>
        <td>{{ d.reference }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}inventoryNumber{% endtrans %}
        </td>
        <td>{{ d.nummer }}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}state{% endtrans %}
        </td>
        <td>
            {% if d.licenseExpiration < date() and d.licenseExpiration is not null %}
                {% trans %}expired{% endtrans %}
            {% elseif d.approved %}
                {% trans %}publishSoftwareAndConfig{% endtrans %}
            {% else %}
                {{ d.statusString }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% trans %}archiving{% endtrans %}
        </td>
        <td>{{ d.archiving|nl2br }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}restorationConcept{% endtrans %}
        </td>
        <td>{{ d.recovery|nl2br }}</td>
    </tr>
</table>


{{ d.createdAt|date('d.m.Y H:i') }} by {{ d.user.email }}
