{% trans_default_domain 'bericht' %}
<h2 style="page-break-before: always;">{{ d.title }} ({% trans from 'general' %}uuid{% endtrans %}:{{ d.uuid }})</h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            {% trans from 'general' %}name{% endtrans %}:
        </td>
        <td>{{ d.name }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}reasonForRequest{% endtrans %}
        </td>
        <td>{{ d.itemString }}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}email{% endtrans %}
        </td>
        <td>{{ d.email }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}pgpKey.exists{% endtrans %}
        </td>
        <td>{% trans from 'general' %}{{ d.pgp?'yes':'no' }}{% endtrans %}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}state{% endtrans %}
        </td>
        <td>
            {% trans %}active{% endtrans %}: {% trans from 'general' %}{{ d.activ?'yes':'no' }}{% endtrans %}<br>
            {% trans %}openToCustomer{% endtrans %}: {% trans from 'general' %}{{ d.open?'yes':'no' }}{% endtrans %}

        </td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}createdAt{% endtrans %}
        </td>
        <td>{{ d.createdAt|date('d.m.Y H:i') }}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}description{% endtrans %}
        </td>
        <td>{{ d.description|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}internalNotice{% endtrans %}
        </td>
        <td>{{ d.notes|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}validateIdentity{% endtrans %}
        </td>
        <td>
            {% trans from 'general' %}{{ d.validUser?'yes':'no' }}{% endtrans %} {% if d.validuser %}{% trans %}at{% endtrans %} {{ d.userValidBy.email }}{% endif %}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}additionalInformation{% endtrans %}
        </td>
        <td>
            {% trans from 'general' %}name{% endtrans %}: {{ d.firstname }} {{ d.lastname }}<br>
            {% trans from 'general' %}address{% endtrans %}: {{ d.street }}, {{ d.city }}<br>
            {% trans from 'general' %}birthday{% endtrans %}: {% if d.birthday %}{{ d.birthday|date('d.m.Y') }}{% endif %}
        </td>
    </tr>
</table>
<h3>
    {% trans %}protocol{% endtrans %}
</h3>
<table style="table-layout:fixed; width: 100%">
    {% for c in d.clientComments|reverse %}
        <tr>
            <td>{{ c.name }}<br>{{ c.createdAt|date('d.m.Y H:i') }}</td>
            <td>{{ c.comment|nl2br }}</td>
        </tr>
    {% endfor %}
</table>
