{% trans_default_domain 'software' %}
<h2 style="page-break-before: always;">{% if not d.activ %}{% trans from 'bericht' %}{{ d.approved?'approved':'' }}{% endtrans %}{% trans from 'general' %}history{% endtrans %}: {% endif %}{{ d.nummer }}: {{ d.name }}
    ({% trans from 'general' %}id{% endtrans %}:{{ d.id }})</h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            {% trans from 'bericht' %}softwareName{% endtrans %}
        </td>
        <td><a href="{{ absolute_url(path('software_edit', {'id':d.id})) }}">{{ d.name }}</a></td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}fileNumber{% endtrans %}
        </td>
        <td>{{ d.reference }}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'bericht' %}inventoryNumber{% endtrans %}
        </td>
        <td>{{ d.nummer }}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}state{% endtrans %}
        </td>
        <td>
            {% if d.licenseExpiration < date() and d.licenseExpiration is not null %}
                {% trans from 'bericht' %}expired{% endtrans %}
            {% elseif d.approved %}
                {% trans from 'bericht' %}publishSoftwareAndConfig{% endtrans %}
            {% else %}
                {{ d.statusString }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% trans %}purchaseDate{% endtrans %}
        </td>
        <td>{{ d.purchase|date('d.m.Y') }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}software.description{% endtrans %}
        </td>
        <td>{{ d.description|nl2br }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}licence.type{% endtrans %}
        </td>
        <td>{{ d.LicenseTypeString }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}licence.word{% endtrans %}
        </td>
        <td>{{ d.license|nl2br }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}licence.expirationDate{% endtrans %}
        </td>
        <td>{% if d.licenseExpiration %}{{ d.licenseExpiration|date('d.m.Y') }}{% endif %}</td>
    </tr>

    <tr>
        <td>
            {% trans %}software.location{% endtrans %}
        </td>
        <td>{{ d.location }}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'bericht' %}archiveConcept{% endtrans %}
        </td>
        <td>{{ d.archiving|nl2br }}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'bericht' %}restorationConcept{% endtrans %}
        </td>
        <td>{{ d.recovery|nl2br }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}permissionConcept{% endtrans %}
        </td>
        <td>{{ d.permissions|nl2br }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}connected.processing{% endtrans %}
        </td>
        <td>{% for data in d.vvts | filter(data => data.activ) %}{{ data.name }}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}connected.dataTransfer{% endtrans %}
        </td>
        <td>{% for data in d.datenweitergabe | filter(data => data.activ) %}{{ data.gegenstand }}<br>{% endfor %}</td>
    </tr>
</table>
<h4>{% trans %}config.word{% endtrans %}</h4>
<table style="width: 100%">
    {% for c in d.config | filter(c => c.activ) %}
        <tr>
            <td>
                <p>
                    <b>{{ c.id }}: {{ c.name }} ({{ c.createdAt|date('d.m.Y') }})</b>
                </p>
                <p>
                    {{ c.config|raw }}
                </p>
                {% if c.upload %}
                    <a href="{{ absolute_url(path('software_config_new',{'id':d.id, 'config':c.id})) }}">
                        {% trans %}showImage{% endtrans %}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>


{{ d.createdAt|date('d.m.Y H:i') }} by {{ d.user.email }}
{% if d.previous and all == 1 %}
    {{ include('bericht/__softwareBericht.html.twig', {'d':d.previous}) }}
{% endif %}
