{% trans_default_domain 'bericht' %}
<h2 style="page-break-before: always;">{% trans from 'general' %}id{% endtrans %}:{{ d.id }}</h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            {% trans from 'general' %}date{% endtrans %}
        </td>
        <td>{{ d.date|date('d.m.Y') }}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}time{% endtrans %}
        </td>
        <td>{{ d.start|date('H:i') }} - {{ d.end|date('H:i') }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}billedTime{% endtrans %}
        </td>
        <td>{{ d.calcTime }} {% trans %}minutes{% endtrans %}</td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}description{% endtrans %}
        </td>
        <td>{{ d.description }}</td>
    </tr>
</table>
