{% trans_default_domain 'vorfall' %}
<h2 style="page-break-before: always;">{% if not d.activ %}{{ d.approved?'approved':'' |trans([], 'general') }}{% trans from 'general' %}history{% endtrans %}: {% endif %}{{ d.nummer }}
    ({% trans from 'general' %}id{% endtrans %}:{{ d.id }})
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            {% trans %}incident.date{% endtrans %}
        </td>
        <td>{{ d.datum|date('d.m.Y H:i') }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}incident.uuid{% endtrans %}
        </td>
        <td>{{ d.nummer }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}approval{% endtrans %}
        </td>
        <td>{% if d.approved %}{% trans %}incident.approvedBy{% endtrans %} {{ d.approvedBy.username }}{% endif %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}incident.factsAndDescription{% endtrans %}
        </td>
        <td>{{ d.fakten|nl2br }}</td>
    </tr>

    <tr>
        <td>
            {% trans %}affected.personCategory{% endtrans %}
        </td>
        <td>{% for person in d.personen %}{{ person.name }}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}affected.dataCategory{% endtrans %}
        </td>
        <td>{% for data in d.daten %}{{ data.name }}<br>{% endfor %}</td>
    </tr>

    <tr>
        <td>
            {% trans %}incident.effects{% endtrans %}
        </td>
        <td>{{ d.auswirkung|nl2br }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}measuresTaken{% endtrans %}
        </td>
        <td>{{ d.massnahmen|nl2br }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}incident.reportedToStateAgency{% endtrans %}
        </td>
        <td>{{ d.gemeldet?'yes':'no' |trans([], 'general') }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}incident.reportedToAffectedPerson{% endtrans %}
        </td>
        <td>{{ d.betroffeneGemeldet?'yes':'no' |trans([], 'general') }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}incident.reportedToAffectedClient{% endtrans %}
        </td>
        <td>{{ d.auftraggeberGemeldet?'yes':'no' |trans([], 'general') }}</td>
    </tr>

</table>
{{ d.createdAt|date('d.m.Y H:i') }} by {{ d.user.email }}
{% if d.previous and all == 1 %}
    {{ include('bericht/__vorfallBericht.html.twig', {'d':d.previous}) }}
{% endif %}
