{% trans_default_domain 'vvt' %}
<h2 style="page-break-before: always;">{% if not d.activ %}{% trans from 'bericht' %}{{ d.approved?'approved':'' }}{% endtrans%} {% trans from 'general' %}history{% endtrans %}: {% endif %} {{ d.name }}</h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<h4>{% trans %}processingDirectory{% endtrans%} {{ d.nummer }} ({% trans from 'general' %}id{% endtrans %}:{{ d.id }})</h4>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            {% trans from 'general' %}number{% endtrans %}
        </td>
        <td><a href="{{ absolute_url(path('vvt_edit', {'id':d.id})) }}">{{ d.nummer }}</a></td>
    </tr>
    <tr>
        <td>
            {% trans from 'general' %}state{% endtrans %}
        </td>
        <td>{% if d.approved %}{% trans %}processing.approvedBy{% endtrans%} {{ d.approvedBy.username }}{% else %}{{ d.status.name }}{% endif %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.responsible.internal{% endtrans %}
        </td>
        <td>{{ d.userContract.username }} ({{ d.userContract.email }})</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.responsible.additional{% endtrans %}
        </td>
        <td>{{ d.verantwortlich|nl2br }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.reason{% endtrans %}
        </td>
        <td>{{ d.zweck|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.describeReason{% endtrans %}
        </td>
        <td>{% for g in d.grundlage %}{{ g.name }}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.target.person{% endtrans %}
        </td>
        <td>{% for p in d.personengruppen %}{{ p.name }}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.target.dataCategory{% endtrans %}
        </td>
        <td>{% for k in d.kategorien %}{{ k }}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.target.saveDirectory{% endtrans %}
        </td>
        <td>{{ d.speicherung|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}dataTransferTo{% endtrans %}
        </td>
        <td>{{ d.weitergabe|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.jointControl{% endtrans %}
        </td>
        <td>{% trans from 'general' %}{{ d.jointControl?'yes':'no' }}{% endtrans %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.requestProcessing{% endtrans %}
        </td>
        <td>{% trans from 'general' %}{{ d.auftragsverarbeitung?'yes':'no' }}{% endtrans %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}connected.dataTransfer{% endtrans %}
        </td>
        <td>{% for dd in d.datenweitergaben %}{% if dd.activ and dd.art == 1 %}{{ dd.gegenstand }}
                <br>{% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}connected.requestDataProcessing{% endtrans %}
        </td>
        <td>{% for dd in d.datenweitergaben %}{% if dd.activ and dd.art == 2 %}{{ dd.gegenstand }}
                <br>{% endif %}{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans | raw %}usedSoftware{% endtrans %}
        </td>
        <td>{% for dd in d.software | filter(dd => dd.activ) %}
                <a
                href="{{ absolute_url(path('software_edit',{'id':dd.id})) }}">{{ dd.name }}</a>{% if dd.approved %} {% trans from 'general' %}approved{% endtrans %}{% endif %}
                <ul>
                    {% for d in dd.datenweitergabe | filter(d => d.activ) %}
                        <li>{{ d.gegenstand }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.outsideEU{% endtrans %}
        </td>
        <td>{% trans from 'general' %}{{ d.eu?'yes':'no' }}{% endtrans %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}measuresTaken{% endtrans %}
        </td>
        <td>{% if d.tomLink %}{{ d.tomLink.titel }}
                <br>{{ d.tomLink.beschreibung }}{% else %}{% trans %}tom.noLink{% endtrans %}{% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% trans %}tom.additionalInfo{% endtrans %}
        </td>
        <td>{{ d.tom|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}risk.source{% endtrans %}
        </td>
        <td>{% for p in d.risiko %}{{ p.name }}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}risk.evaluation{% endtrans %}
        </td>
        <td>
            {% trans %}risk.probability{% endtrans %}: {{ d.beurteilungEintrittString }}<br>
            {% trans %}risk.damagePotential{% endtrans %}: {{ d.beurteilungSchadenString }}<br>
        </td>
    </tr>
    <tr>
        <td>
            {% trans %}dataCollection{% endtrans %}
        </td>
        <td>{{ d.source|nl2br }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}dutyToInform{% endtrans %}
        </td>
        <td>{{ d.informationspflicht|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}existingInternalRegulations{% endtrans %}
        </td>
        <td>{% for p in d.policies | filter(p => p.activ) %}- <a
                    href="{{ absolute_url(path('policy_edit',{'id':p.id})) }}">{{ p.title }}</a>{% if p.approved %} {% trans from 'general' %}approved{% endtrans %}{% endif %}
            <br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}oldDeletionDeadline{% endtrans %}
        </td>
        <td>{{ d.loeschfrist|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}dataPrivacyResponsibleComment{% endtrans %}
        </td>
        <td>{{ d.dsb|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}dataPrivacyFollowUpEstimation.exists{% endtrans %}
        </td>
        <td>{% trans from 'general' %}{{ d.activDsfa?'yes':'no' }}{% endtrans %}</td>
    </tr>

</table>
{{ d.createdAt|date('d.m.Y H:i') }} by {{ d.user.email }}
{% if d.previous and all == 1 %}
    {{ include('bericht/__vvtBericht.html.twig', {'d':d.previous}) }}
{% endif %}

{% if d.activDsfa and min is null %}
    {{ include('bericht/__vvtDsfaBericht.html.twig', {'dsfa':d.activDsfa, 'd':d}) }}
{% endif %}
