{% trans_default_domain 'vvt' %}
<h2 style="page-break-before: always;">{% if not d.activ %}{% trans from 'general' %}history{% endtrans %}: {% endif %} {{ d.name }}</h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<h4>{% trans %}dataPrivacyFollowUpEstimation.about{% endtrans %} {{ d.nummer }} (id:{{ dsfa.id }})</h4>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            {% trans %}processing.directoryNumber{% endtrans %}
        </td>
        <td>{{ d.nummer }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.responsible.word{% endtrans %}
        </td>
        <td>{{ d.userContract.username }} ({{ d.userContract.email }})</td>
    </tr>
    <tr>
        <td>
            {% trans %}dataPrivacyFollowUpEstimation.description{% endtrans %}
        </td>
        <td>{{ dsfa.beschreibung|raw }}</td>
    </tr>
    <tr>
        <td>
             {% trans %}processing.prerequisite{% endtrans %}
        </td>
        <td>{{ dsfa.notwendigkeit|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.risk{% endtrans %}
        </td>
        <td>{{ dsfa.risiko|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}risk.minimize{% endtrans %}
        </td>
        <td>{{ dsfa.abhilfe|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}additionalStands{% endtrans %}
        </td>
        <td>{{ dsfa.standpunkt|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}dsbStatement{% endtrans %}
        </td>
        <td>{{ dsfa.dsb|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}dataPrivacyFollowUpEstimation.result{% endtrans %}
        </td>
        <td>{{ dsfa.ergebnis|raw }}</td>
    </tr>

</table>
{{ d.createdAt|date('d.m.Y H:i') }} by {{ d.user.email }}
{% if dsfa.previous and all == 1 %}
    {{ include('bericht/__vvtDsfaBericht.html.twig', {'dsfa':dsfa.previous,'d':d}) }}
{% endif %}
