<h2 style="page-break-before: always;"></h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<h4>Verarbeitungsverzeichnis {{ d.name }}</h4>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            Bezeichnung der Verarbeitung
        </td>
        <td>{{ d.name }}</td>
    </tr>
    <tr>
        <td>
            Zweck der Verarbeitung
        </td>
        <td>{{ d.zweck|raw }}</td>
    </tr>
    <tr>
        <td>
            Rechtsgrundlage für die Verarbeitung
        </td>
        <td>{% for p in d.grundlage %}{{ p.name }}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            Die Daten welcher Personen werden verarbeitet?
        </td>
        <td>{% for p in d.personengruppen %}{{ p.name }}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            Verarbeitet Daten(kategorien)
        </td>
        <td>{% for p in d.kategorien %}{{ p.name }}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            Die Daten werden an folgenden Stellen gespeichert/abgelegt.
        </td>
        <td>{{ d.speicherung|raw }}</td>
    </tr>
    <tr>
        <td>
            An folgende Unternehmen/Stellen/Funktionen werden die Daten weitergegeben
        </td>
        <td>{{ d.weitergabe|raw }}</td>
    </tr>
    <tr>
        <td>
            Werden Daten außerhalb der EU verarbeitet?
        </td>
        <td>{{ d.eu?'Ja':'Nein' }}</td>
    </tr>
    <tr>
        <td>
            Welche technischen und organisatorischen Maßnahmen werden umgesetzt?
        </td>
        <td>{% if d.tomLink %}{{ d.tomLink.titel }}{% else %}Keine Zuordnung zu einer bestehenden digitalen TOM vorgenommen.{% endif %}</td>
    </tr>
    <tr>
        <td>
            Weitere Hinweise zur TOM
        </td>
        <td>{{ d.tom|raw }}</td>
    </tr>
</table>