{% trans_default_domain 'vvt' %}
<h2 style="page-break-before: always;"></h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<h4>{% trans %}processingDirectory{% endtrans %} {{ d.name }}</h4>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            {% trans %}processing.name{% endtrans %}
        </td>
        <td>{{ d.name }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.reason{% endtrans %}
        </td>
        <td>{{ d.zweck|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.legalBasis{% endtrans %}
        </td>
        <td>{% for g in d.grundlage %}{{ g.name }}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.target.person{% endtrans %}
        </td>
        <td>{% for p in d.personengruppen %}{{ p.name }}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.target.dataCategory{% endtrans %}
        </td>
        <td>{% for k in d.kategorien %}{{ k }}{% if not loop.last %},{% endif %}<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.target.saveDirectory{% endtrans %}
        </td>
        <td>{{ d.speicherung|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}dataTransferTo{% endtrans %}
        </td>
        <td>{{ d.weitergabe|raw }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}processing.outsideEU{% endtrans %}
        </td>
        <td>{{ d.eu?'yes':'no' |trans([], 'general') }}</td>
    </tr>
    <tr>
        <td>
            {% trans %}measuresTaken{% endtrans %}
        </td>
        <td>{% if d.tomLink %}{{ d.tomLink.titel }}{% else %}{% trans %}tom.noLink{% endtrans %}{% endif %}</td>
    </tr>
    <tr>
        <td>
            {% trans %}tom.additionalInfo{% endtrans %}
        </td>
        <td>{{ d.tom|raw }}</td>
    </tr>
</table>
