<h2 style="page-break-before: always;"></h2>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<h4>Verarbeitungsverzeichnis {{ d.name }}</h4>
<table style="table-layout:fixed; width: 100%">
    <tr>
        <td>
            Bezeichnung der Verarbeitung
        </td>
        <td>{{ d.name }}</td>
    </tr>
    <tr>
        <td>
            Zweck der Verarbeitung
        </td>
        <td>{{ d.zweck|nl2br }}</td>
    </tr>
    <tr>
        <td>
            Rechtsgrundlage für die Verarbeitung
        </td>
        <td>{% for p in d.grundlage %}{{ p.name }},<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            Die Daten welcher Personen werden verarbeitet?
        </td>
        <td>{% for p in d.personengruppen %}{{ p.name }},<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            Welche Daten(kategorien) werden verarbeitet?
        </td>
        <td>{% for p in d.kategorien %}{{ p.name }},<br>{% endfor %}</td>
    </tr>
    <tr>
        <td>
            Wo werden die Daten gespeichert?
        </td>
        <td>{{ d.speicherung|nl2br }}</td>
    </tr>
    <tr>
        <td>
            Werden die Daten weitergegeben? An wen?
        </td>
        <td>{{ d.weitergabe|nl2br }}</td>
    </tr>
    <tr>
        <td>
            Werden Daten außerhalb der EU verarbeitet?
        </td>
        <td>{{ d.eu?'Ja':'Nein' }}</td>
    </tr>
    <tr>
        <td>
            Welche technischen und organisatorischen Maßnahmen werden umgesetzt?
        </td>
        <td>{% if d.tomLink %}{{ d.tomLink.titel }}<br>{{ d.tomLink.beschreibung }}{% else %}Keine Zuordnung zu einer bestehenden digitalen TOM vorgenommen.{% endif %}</td>
    </tr>
    <tr>
        <td>
            Weitere Hinweise zur TOM
        </td>
        <td>{{ d.tom|nl2br }}</td>
    </tr>
</table>