{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="h2-responsive">Übersicht über alle Akademiebuchungen</h2>
    <div class="card card-body table-responsive">
        <table id="data-table" class="table display table-striped">
            <thead>
            <tr>
                <th scope="col">Kurs</th>
                <th scope="col">Name</th>
                <th scope="col">Zugewiesen</th>
                <th scope="col">Abgeschlossen</th>
                <th scope="col">Wiedervorlage</th>
                <th scope="col">Startdatum</th>
                <th scope="col">Enddatum</th>
                <th scope="col">BuchungsID</th>
            </tr>
            </thead>
            <tbody>
            {% for b in daten %}
                <tr>
                    <th scope="row">{{ b.kurs.title }} (id:{{ b.kurs.id }})</th>
                    <th>{{ b.user.username }} ({{ b.user.email }})</th>
                    <td>{{ b.zugewiesen|date('d.m.Y') }}</td>
                    <td>{{ b.abgeschlossen?'Ja':'Nein' }}</td>
                    <td>{{ b.vorlage }}</td>
                    <td>{% if b.start is not null %}{{ b.start|date('d.m.Y') }}{% endif %}</td>
                    <td>{% if b.ende is not null %}{{ b.ende|date('d.m.Y') }}{% endif %}</td>
                    <td>{{ b.buchungsId }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}