{% extends 'base.html.twig' %}
{% trans_default_domain 'academy' %}

{% block body %}
    <h2>{% trans %}lesson.overview{% endtrans %}</h2>
    <div>
        <div>
            <table id="data-table">
                <thead>
                <tr>
                    <th scope="col">{% trans %}lesson.word{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}name{% endtrans %}</th>
                    <th scope="col">{% trans from 'general' %}assignedTo{% endtrans %}</th>
                    <th scope="col">{% trans %}completed{% endtrans %}</th>
                    <th scope="col">{% trans %}followUp{% endtrans %}</th>
                    <th scope="col">{% trans %}startDate{% endtrans %}</th>
                    <th scope="col">{% trans %}endDate{% endtrans %}</th>
                    <th scope="col">{% trans %}billingId{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for b in daten %}
                    <tr>
                        <th scope="row">{{ b.kurs.title }} (id:{{ b.kurs.id }})</th>
                        <th>{{ b.user.username }} ({{ b.user.email }})</th>
                        <td>{{ b.zugewiesen|date('d.m.Y') }}</td>
                        <td>{{ b.abgeschlossen?'yes':'no' |trans([], 'general') }}</td>
                        <td>{{ b.vorlage }}</td>
                        <td>{% if b.start is not null %}{{ b.start|date('d.m.Y') }}{% endif %}</td>
                        <td>{% if b.ende is not null %}{{ b.ende|date('d.m.Y') }}{% endif %}</td>
                        <td>{{ b.buchungsId }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
