<!DOCTYPE html>
<style>
    /** Define the margins of your page **/
    @page {
        margin: 90px 60px;
    }

    header {
        position: fixed;
        top: -50px;
        left: 0px;
        right: 0px;
        height: 40px;

        /** Extra personal styles **/
        text-align: center;
        line-height: 20px;
    }

    footer {
        position: fixed;
        bottom: -50px;
        left: 0px;
        right: 0px;
        height: 30px;

        /** Extra personal styles **/
        text-align: center;
        line-height: 20px;
    }
</style>
<body>
<header>
    {% if daten[0].nummer is defined %}{{ daten[0].nummer }} - {% endif %}{{ team.displayName }}
</header>

<main>
    <div style="font-family: Helvetica">
        <h1 style="margin-top: 200px">{{ titel }}</h1>
        <h3 style="margin-top: 50px">Verantwortliche Stelle:</h3>
        <h4>
            {{ team.displayName }}<br>
            {{ team.strasse }}<br>
            {{ team. plz }} {{ team.stadt }}
        </h4>

        <p>-------------------------</p>
        <h4>
            {% trans %}Tel.{% endtrans %}: {{ team.telefon }}<br>
            {% trans %}Email{% endtrans %}: {{ team.email }}
        </h4>
        <p>-------------------------</p>
        <h4>
            {% trans %}Vertreten durch{% endtrans %}: {{ team.ceo }}<br>
            {% if team.dsb %}{% trans %}Datenschutzbeauftragter{% endtrans %}: {{ team.dsb }}{% endif %}
        </h4>
        <p>-------------------------</p>

        <h5 style="margin-top: 40px">Export erstellt am: {{ "now"|date('d.m.Y H:i') }}</h5>
        <h5>Version erstellt von: {{ app.user.email }}</h5>

        {% block body %}{% endblock %}
    </div>
</main>

<footer>
    Erstellt am: {{ "now"|date("d.m.Y H:i") }} mit <strong>Open-Datenschutz Center</strong><br>
    <small>Open-Datenschutz Center ist die Open Source Lösung um Datenschutzdokumente schnell, einfach und sicher zu
        erstellen</small>
</footer>
</body>