{% trans_default_domain 'tom' %}
<style>
    /** Define the margins of your page **/
    @page {
        margin: 90px 60px;
    }

    header {
        position: fixed;
        top: -50px;
        left: 0px;
        right: 0px;
        height: 40px;

        /** Extra personal styles **/
        text-align: center;
        line-height: 20px;
    }

    footer {
        position: fixed;
        bottom: -50px;
        left: 0px;
        right: 0px;
        height: 30px;

        /** Extra personal styles **/
        text-align: center;
        line-height: 20px;
    }

    .page-head {
        background-color: whitesmoke;
        margin: -60px;
        padding: 60px;
    }
</style>
<style>
    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<body>
<header>
    {% trans %}lawParagraph.technicalAndOrganizationalMeasures.title{% endtrans %} - {{ team.name }}
</header>

<main>
    <div style="font-family: Helvetica">
        <div class="page-head" style="margin-bottom: 70px">
            <h2 style="text-align: center">{% trans %}lawParagraph.technicalAndOrganizationalMeasures.title{% endtrans %}</h2>
            <h5 style="text-align: center">{{ team.name }} - {{ team.strasse }} - {{ team.plz }} {{ team.stadt }} -
                {% trans from 'general' %}email{% endtrans %}: <a href="mailto:{{ team.email }}">{{ team.email }}</a> -
                {% trans from 'general' %}phone{% endtrans %}: <a href="tel:{{ team.telefon }}">{{ team.telefon }}</a>
            </h5>

            <p style="text-align: center">
                {% trans %}lawParagraph.technicalAndOrganizationalMeasures.excerpt{% endtrans %}
            </p>
        </div>

        {% for daten in datenAll %}
            {% if not daten.activ %}
                <h3>{% trans from 'general' %}history{% endtrans %}</h3>
            {% endif %}

            <h3>{% trans %}lawParagraph.pseudo.title{% endtrans %}</h3>
            <p></p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 1}) }}

            <h3>{% trans %}lawParagraph.confidentiality.title{% endtrans %}</h3>
            <h4>{% trans %}lawParagraph.entryControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.entryControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 2}) }}

            <h4>{% trans %}lawParagraph.entranceControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.entranceControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 3}) }}

            <h4>{% trans %}lawParagraph.accessControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.accessControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 4}) }}

            <h4>{% trans %}lawParagraph.userControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.userControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 5}) }}

            <h4>{% trans %}lawParagraph.saveControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.saveControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 6}) }}

            <h4>{% trans %}lawParagraph.separability.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.separability.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 7}) }}

            <h3>{% trans %}lawParagraph.integrity.title{% endtrans %}</h3>
            <h4>{% trans %}lawParagraph.dataIntegrity.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.dataIntegrity.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 8}) }}

            <h4>{% trans %}lawParagraph.transportControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.transportControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 9}) }}

            <h4>{% trans %}lawParagraph.transmissionControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.transmissionControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 10}) }}

            <h4>{% trans %}lawParagraph.inputControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.inputControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 11}) }}

            <h4>{% trans %}lawParagraph.reliability.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.reliability.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 12}) }}

            <h4>{% trans %}lawParagraph.requestControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.requestControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 13}) }}

            <h3>{% trans %}lawParagraph.availability.title{% endtrans %}</h3>
            <h4>{% trans %}lawParagraph.availableControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.availableControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 14}) }}

            <h4>{% trans %}lawParagraph.recoverabilityControl.title{% endtrans %}</h4>
            <p>{% trans %}lawParagraph.recoverabilityControl.excerpt{% endtrans %}:</p>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 15}) }}

            <h3>{% trans %}lawParagraph.evaluation.title{% endtrans %}</h3>
            {{ include('bericht/__berichtTomItems.html.twig', {'item': 16}) }}


            {{ daten.createdAt|date('d.m.Y H:i') }} by {{ daten.user.email }}
        {% endfor %}

    </div>
</main>


{{ include('bericht/__berichtFooter.html.twig') }}
</body>


