{% extends 'base.html.twig' %}
{% trans_default_domain 'bericht' %}

{% block CTA %}
{% endblock %}
{% block body %}
    <h1>{% trans %}report.create{% endtrans %}</h1>
    <div>
        <div>
            <div>
                <h4>{% trans %}vvt{% endtrans %}</h4>

                <a href="{{ path('bericht_vvt') }}">
                    <span>{% trans with {'{target}': 'VVTs'} %}pdf.create{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_vvt', {'all':1}) }}">
                    <span>{% trans with {'{target}': 'VVTs'} %}pdf.createWithHistory{% endtrans %}</span>
                </a>
            </div>


            <div>
                <h4>{% trans %}dw{% endtrans %}</h4>
                <a href="{{ path('bericht_weitergabe', {'art':1}) }}">
                    <span>{% trans with {'{target}': 'DWs'} %}pdf.create{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_weitergabe', {'all':1, 'art':1}) }}">
                    <span>{% trans with {'{target}': 'DWs'} %}pdf.createWithHistory{% endtrans %}</span>
                </a>
            </div>


            <div>
                <h4>{% trans %}avv{% endtrans %}</h4>
                <a href="{{ path('bericht_weitergabe', {'art':2}) }}">
                    <span>{% trans with {'{target}': 'AVVs'} %}pdf.create{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_weitergabe', {'all':1, 'art':2}) }}">
                    <span>{% trans with {'{target}': 'AVVs'} %}pdf.createWithHistory{% endtrans %}</span>
                </a>
            </div>


            <div>
                <h4>{% trans %}auditQuestions.word{% endtrans %}</h4>
                <a href="{{ path('bericht_audit') }}"
                   title="{% trans %}auditQuestions.exportCurrent{% endtrans %}">
                    <span>{% trans with {'{target}': 'Audit-Fragen'} %}pdf.create{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_audit', {'all':1}) }}"
                   title="{% trans %}auditQuestions.exportCurrentWithRevisions{% endtrans %}">
                    <span>{% trans with {'{target}': 'Audit-Fragen'} %}pdf.createWithHistory{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_audit', {'activ':1}) }}"
                   title="{% trans %}auditQuestions.exportRelevant.title{% endtrans %}">
                    <span>{% trans %}auditQuestions.exportRelevant.all{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_audit', {'open':1}) }}"
                   title="{% trans %}auditQuestions.exportUnedited.title{% endtrans %}">
                    <span>{% trans %}auditQuestions.exportUnedited.all{% endtrans %}</span>
                </a>
            </div>

            <div>
                <h4>{% trans %}tom.word{% endtrans %}</h4>
                <a href="{{ path('bericht_global_tom') }}"
                   title="{% trans %}tom.create.general.export{% endtrans %}">
                    <span>{% trans %}tom.create.general.word{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_tom') }}"
                   title="{% trans %}tom.create.all.export{% endtrans %}">
                    <span>{% trans %}tom.create.all.word{% endtrans %}</span>
                </a>
            </div>

            <div>
                <h4>{% trans %}dataProtection.word{% endtrans %}</h4>
                <a href="{{ path('bericht_vorfall') }}"
                   title="{% trans %}dataProtection.create.all.export{% endtrans %}">
                    <span>{% trans %}dataProtection.create.all.word{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_vorfall', {'all':1}) }}"
                   title="{% trans %}dataProtection.create.allWithHistory.export{% endtrans %}">
                    <span>{% trans %}dataProtection.create.allWithHistory.word{% endtrans %}</span>
                </a>
            </div>

            <div>
                <h4>{% trans %}software.word{% endtrans %}</h4>
                <a href="{{ path('bericht_software') }}"
                   title="{% trans %}software.export.config.title{% endtrans %}">
                    <span>{% trans %}software.export.config.export{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_software', {'all':1}) }}"
                   title="{% trans %}software.export.history.title{% endtrans %}">
                    <span>{% trans %}software.export.history.export{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_backupconcept') }}"
                   title="{% trans %}software.export.archiveConcept.title{% endtrans %}">
                    <span>{% trans %}software.export.archiveConcept.export{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_recoveryconcept') }}"
                   title="{% trans %}software.export.recoveryConcept.title{% endtrans %}">
                    <span>{% trans %}software.export.recoveryConcept.export{% endtrans %}</span>
                </a>
            </div>

            {% if currentTeam in app.user.adminRoles %}
                <div>
                    <h4>{% trans %}academy.word{% endtrans %}</h4>
                    <a href="{{ path('bericht_akademie') }}">
                        <span>{% trans %}academy.allDoneBills{% endtrans %}</span>
                    </a>
                </div>
            {% endif %}

            <div>
                <h4>{% trans %}dataProtectionGuideline.word{% endtrans %}</h4>
                <a href="{{ path('bericht_policy') }}">
                    <span>{% trans %}dataProtectionGuideline.export{% endtrans %}</span>
                </a>
            </div>

            <div>
                <h4>Kundenanfragen</h4>
                <a href="{{ path('bericht_request') }}">
                    <span>Alle Anfragen exportieren</span>
                </a>
            </div>

            <div>
                <h4>{% trans %}customerRequest.word{% endtrans %}</h4>
                <a
                   href="{{ path('bericht_reports', {'team':currentTeam.id}) }}">
                    <span>{% trans %}customerRequest.create{% endtrans %}</span>
                </a>
            </div>

           <div>
                <h4>{% trans %}deletionConcept{% endtrans %}</h4>

                <a href="{{ path('bericht_loeschkonzept') }}">
                    <span>{% trans with {'{target}': 'deletionConcept'|trans} %}pdf.create{% endtrans %}</span>
                </a>
                <a href="{{ path('bericht_loeschkonzept', {'all':1}) }}">
                    <span>{% trans with {'{target}': 'deletionConcept'|trans} %}pdf.createWithHistory{% endtrans %}</span>
                </a>
            </div>
        </div>
    </div>
    {{ include('base/__snack.html.twig') }}
{% endblock %}
