{% trans_default_domain 'academy' %}
<style>
    /** Define the margins of your page **/
    @page {
        margin: 90px 60px;
    }

    header {
        position: fixed;
        top: -50px;
        left: 0px;
        right: 0px;
        height: 40px;

        /** Extra personal styles **/
        text-align: center;
        line-height: 20px;
    }

    footer {
        position: fixed;
        bottom: -50px;
        left: 0px;
        right: 0px;
        height: 30px;

        /** Extra personal styles **/
        text-align: center;
        line-height: 20px;
    }

    .page-head {
        background-color: whitesmoke;
        margin: -60px;
        padding: 60px;
    }

    th, td {
        padding: 5px;
        border: 1px solid black;
        width: 50%;
    }
</style>
<body>
<header>
    {% trans %}certification.title{% endtrans %}
</header>


<main>
    <div style="font-family: Helvetica; margin-top: 200px">
        <div class="page-head" style="margin-bottom: 70px">
            <h2 style="text-align: center">{% trans %}certification.title{% endtrans %}</h2>
            <h5 style="text-align: center">{{ team.name }} - {{ team.strasse }} - {{ team.plz }} {{ team.stadt }} -
                {% trans from 'general' %}email{% endtrans %}: <a href="mailto:{{ team.email }}">{{ team.email }}</a> -
                {% trans from 'general' %}phone{% endtrans %}: <a href="tel:{{ team.telefon }}">{{ team.telefon }}</a>
            </h5>

            <p style="text-align: center">
                {% trans with {
                    '%username%': user.username,
                    '%email%': user.email,
                    '%lessonTitle%': daten.kurs.title,
                    '%finishedAt%': daten.ende|date('d.m.Y')
                } %}
                    certification.text
                {% endtrans %}
            </p>
            <p style="text-align: center">
                {% trans with {'%billingId%': daten.buchungsID} |raw %}certification.disclaimer{% endtrans %}
            </p>
        </div>


    </div>
</main>

{{ include('bericht/__berichtFooter.html.twig') }}
</body>
