{% trans_default_domain 'datenweitergabe' %}
{% set disabled = not activ or daten.approved %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'disabled': disabled }}) }}
<fieldset>
    {% if activNummer %}
        {{ form_row(form.nummer) }}
    {% endif %}
    {{ form_row(form.gegenstand) }}
    {{ form_row(form.stand) }}
    {{ form_row(form.reference) }}
    {{ form_row(form.verantwortlich) }}
    {{ form_row(form.vertragsform) }}
    {{ form_row(form.zeichnungsdatum) }}
    {{ form_row(form.kontakt) }}
    {{ form_row(form.verfahren) }}

    {{ form_row(form.software, {row_attr: {class: daten.art != 1 ? 'hidden '}}) }}

    {{ form_row(form.grundlage) }}
    {{ form_row(form.notes) }}
</fieldset>

<fieldset>
    <legend>{% trans %}requestProcessing.disclaimer{% endtrans %}</legend>
    {{ form_row(form.checkItems) }}
    {{ form_row(form.checkPeople) }}
    {{ form_row(form.checkData) }}
    {{ form_row(form.checkDocumentation) }}
    {{ form_row(form.checkTom) }}
    {{ form_row(form.checkSubcontractor) }}
    {{ form_row(form.checkTrust) }}
    {{ form_row(form.checkSupport) }}
    {{ form_row(form.checkSupport3236) }}
    {{ form_row(form.checkEnding) }}
    {{ form_row(form.checkAudit) }}
    {{ form_row(form.checkNotes) }}
</fieldset>

<fieldset>
    {{ form_label(form.uploadFile) }}
    {{ form_widget(form.uploadFile) }}
    {% if daten.upload %}
        <a href="{{ path('datenweitergabe_download_file', {'id':daten.id}) }}">
            {% trans %}avvDownload{% endtrans %}
        </a>
    {% endif %}
</fieldset>

{{ form_row(form.save, { attr: {'disabled': disabled} }) }}
{{ form_rest(form) }}
{{ form_end(form) }}