{% trans_default_domain 'datenweitergabe' %}
<li>
    <a href="{{ path('datenweitergabe_edit',{'id':p.id}) }}">{{ p.createdAt|date('d.m.Y H:i') }} -- {{ p.nummer }}
        -- {{ p.stand.name }} -- {{ p.gegenstand }}
        -- {{ p.user.email }} {{ p.approved? 'versionApproved' | trans }}</a>
</li>
{% if p.previous %}
    {{ include('datenweitergabe/__history.html.twig', {'p':p.previous}) }}
{% endif %}