<h2 class="h2-responsive">{{ titel }}</h2>
<div class="card card-body table-responsive">
    <table id="data-table" class="table display table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Gegenstand</th>
            <th scope="col">Verantwortlich</th>
            <th scope="col">Kontakt</th>
            <th scope="col">Datum</th>
        </tr>
        </thead>
        <tbody>
        {% for t in table %}
            <tr class="clickable-row" data-href='{{ path('datenweitergabe_edit',{'id':t.id}) }}'>
                <th scope="row">{{ t.nummer }}</th>
                <td>{{ t.gegenstand }}</td>
                <td>{{ t.verantwortlich }}</td>
                <td>{{ t.kontakt.firma }} (id:{{ t.kontakt.id }})</td>
                <td>{{ t.zeichnungsdatum|date('Y.m.d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>