{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div>
    <div>
        <div>
            <div>
            {{ form_label(form.vvtdatenkategories) }}
            </div>
            <div>
            {{ form_widget(form.vvtdatenkategories) }}
            </div>
        </div>

        <div>
            <div>
                {{ form_label(form.standartlf) }}
                {{ form_help(form.standartlf) }}
            </div>
            <div>
                {{ form_widget(form.standartlf) }}
            </div>
        </div>

        <div>
            <div>
                {{ form_label(form.loeschfrist) }}
                {{ form_help(form.loeschfrist) }}
            </div>
            <div>
                {{ form_widget(form.loeschfrist) }}
            </div>
        </div>

        <div>
            <div>
                {{ form_label(form.speicherorte) }}
                {{ form_help(form.speicherorte) }}
            </div>
            <div>
                {{ form_widget(form.speicherorte) }}
            </div>
        </div>

        <div>
            <div>
                {{ form_label(form.loeschbeauftragter) }}
                {{ form_help(form.loeschbeauftragter) }}
            </div>
            <div>
                {{ form_widget(form.loeschbeauftragter) }}
            </div>
        </div>

        <div>
            <div>
                {{ form_label(form.beschreibung) }}
                {{ form_help(form.beschreibung) }}
            </div>
            <div>
                {{ form_widget(form.beschreibung) }}
            </div>
        </div>

        <div>
            <div>
                <p>
                </p>
            </div>
        </div>

        <div>
            {{ form_widget(form) }}
            <button>{{ button_label|default('Speichern') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
