{% extends 'base.html.twig' %}

{% block CTA %}
    <a class="btn btn-primary ml-1 btn-sm" href="{{ path('app_loeschkonzept_new') }}">
        <span>{% trans %}newDeleteConcept{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">{% trans %}deleteConceptOverview{% endtrans %}</h2>
    <div class="card card-body">
        <div class="table-responsive">
            <table id="data-table" class="table display table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans %}dataCategories{% endtrans %}</th>
                    <th scope="col">{% trans %}dataTypes{% endtrans %}</th>
                    <th scope="col">{% trans %}standardDeletionDeadline{% endtrans %}</th>
                    <th scope="col">{% trans %}legalDeletionDeadline{% endtrans %}</th>
                    <th scope="col">{% trans %}dataStorageLocations{% endtrans %}</th>
                    <th scope="col">{% trans %}deleteOfficial{% endtrans %}</th>
                    <th scope="col">{% trans %}overiew{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for l in loeschkonzepte %}
                    <tr class="clickable-row" data-href='{{ path('app_loeschkonzept_edit', {'id': l.id}) }}'>
                        <td>{{ l.id }}</td>
                        <td>{% for vv in l.vvtdatenkategories %}{{ vv.name }}<br>{% endfor %}</td>
                        <td>{% for vv in l.vvtdatenkategories %}{{ vv.datenarten }}<br>{% endfor %}</td>
                        <td>{{ l.standartlf }}</td>
                        <td>{{ l.loeschfrist }}</td>
                        <td>{{ l.speicherorte }}</td>
                        <td>{{ l.loeschbeauftragter }}</td>
                        <td>
                    <a href="{{ path('app_loeschkonzept_show', {'id': l.id}) }}">anzeigen</a>
                </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

