{% extends 'base.html.twig' %}
{% trans_default_domain 'loeschkonzept' %}

{% block title %}
    {% trans %}deletionConcept.word{% endtrans %}
{% endblock %}

{% block CTA %}
    <a href="{{ path('app_loeschkonzept_edit',{'id': loeschkonzept.id}) }}" class="btn">
        <span>{% trans from 'general' %}edit{% endtrans %}</span>
    </a>
    {{ include('loeschkonzept/_delete_form.html.twig') }}
{% endblock %}

{% block body %}
    <div class="dl-wrapper">
        <div class="dl-head">
            <h3>{% trans %}deletionConcept.word{% endtrans %} {{loeschkonzept.id}}</h3>
        </div>
        <div class="dl-content">
            <dl>
                 <div>
                    <dt>{% trans %}data.categories{% endtrans %}</dt>
                    <dd>{% for vv in loeschkonzept.vvtdatenkategories %}{% if vv.activ %}{{ vv.name }}<br>{% endif %}{% endfor %}</dd>
                </div>
                <div>
                    <dt>{% trans %}deletionConcept.deadline.standard{% endtrans %}</dt>
                    <dd>{{ loeschkonzept.standartlf }}</dd>
                </div>
                <div>
                    <dt>{% trans %}deletionConcept.deadline.legal{% endtrans %}</dt>
                    <dd>{{ loeschkonzept.loeschfrist }}</dd>
                </div>
                <div>
                    <dt>{% trans %}data.storageLocations{% endtrans %}</dt>
                    <dd>{{ loeschkonzept.speicherorte }}</dd>
                </div>
                <div>
                    <dt>{% trans %}deletionConcept.official{% endtrans %}</dt>
                    <dd>{{ loeschkonzept.loeschbeauftragter }}</dd>
                </div>
                <div>
                    <dt>{% trans from 'general' %}description{% endtrans %}</dt>
                    <dd>{{ loeschkonzept.beschreibung }}</dd>
                </div>
            </dl>
        </div>
    </div>
{% endblock %}
