{% trans_default_domain 'dashboard' %}
<!--Card-->
<div>
    <!-- Card header -->
    <div>
        {% trans %}myAssignment{% endtrans %}
    </div>
    <!--Card content-->
    <div>
        <ul id="audit-tab" role="tablist">
            <li>
                <a id="tasks-tab" data-toggle="tab" href="#tasks" role="tab"
                   aria-controls="home"
                   aria-selected="true"><img style="height: 1.5rem" src="{{ asset('images/task.png') }}">
                    <span
                           >{% trans %}tasks{% endtrans %}</span></a>
            </li>
            <li>
                <a id="home-tab" data-toggle="tab" href="#akademie" role="tab"
                   aria-controls="home"
                   aria-selected="true"><img style="height: 1.5rem" src="{{ asset('images/online-learning.png') }}">
                    <span
                           >{% trans %}academy{% endtrans %}</span></a>
            </li>
            <li>
                <a id="home-tab" data-toggle="tab" href="#audit" role="tab"
                   aria-controls="home"
                   aria-selected="true"><img style="height: 1.5rem" src="{{ asset('images/pruefung.png') }}"> <span
                           >{% trans %}audit{% endtrans %}</span></a>
            </li>
            <li>
                <a id="vvt-tab" data-toggle="tab" href="#vvt" role="tab"
                   aria-controls="profile"
                   aria-selected="false"><img style="width: 1.5rem" src="{{ asset('images/prozess.png') }}"> <span
                           >{% trans %}vvt{% endtrans %}</span></a>
            </li>
            <li>
                <a id="dsfa-tab" data-toggle="tab" href="#dsfa" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 1.5rem" src="{{ asset('images/dsta.png') }}"> <span
                           >{% trans %}dsfa{% endtrans %}</span></a>
            </li>
            <li>
                <a id="daten-tab" data-toggle="tab" href="#daten" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 1.5rem" src="{{ asset('images/data.png') }}"> <span
                           >{% trans %}dw{% endtrans %}</span></a>
            </li>
        </ul>

        <div id="myTabContent">
            <div id="tasks" role="tabpanel" aria-labelledby="home-tab">
                {% for a in assignTasks %}
                    <a href="{{ path('task_edit',{'id':a.id}) }}">
                        <div>
                            <div>
                                <div>
                                    <img style="width: 21px" src="{{ asset('images/task.png') }}">
                                </div>
                                <div>
                                    {{ a.team.name }}: {{ a.title }}
                                </div>
                                <div>
                                    {{ a.createdAt|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div id="akademie" role="tabpanel" aria-labelledby="home-tab">
                {% for a in akademie %}
                    <a href="{{ path('akademie_kurs',{'kurs':a.id}) }}">
                        <div>
                            <div>
                                <div>
                                    <img style="width: 21px" src="{{ asset('images/online-learning.png') }}">
                                </div>
                                <div>
                                    {{ a.kurs.title }}
                                </div>
                                <div>
                                    {{ a.zugewiesen|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div id="audit" role="tabpanel" aria-labelledby="home-tab">
                {% for a in assignAudit %}
                    {% if a.activ %}
                        <a href="{{ path('audit_tom_edit',{'tom':a.id}) }}">
                            <div>
                                <div>
                                    <div>
                                        <img style="width: 21px" src="{{ asset('images/pruefung.png') }}">
                                    </div>
                                    <div>
                                        {{ a.team.name }}: {{ a.frage }}
                                    </div>
                                    <div>
                                        {{ a.status.name }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="vvt" role="tabpanel" aria-labelledby="profile-tab">
                {% for a in assignVvt %}
                    {% if a.activ %}
                        <a href="{{ path('vvt_edit',{'id':a.id}) }}">
                            <div>
                                <div>
                                    <div>
                                        <img style="width: 21px" src="{{ asset('images/prozess.png') }}">
                                    </div>
                                    <div>
                                        {{ a.team.name }}: {{ a.name }}
                                    </div>
                                    <div>
                                        {{ a.status.name }}
                                    </div>
                                    <div>
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="dsfa" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in assignDsfa %}
                    {% if a.activ %}
                        <a href="{{ path('vvt_dsfa_edit',{'dsfa':a.id}) }}">
                            <div>
                                <div>
                                    <div>
                                        <img style="width: 21px" src="{{ asset('images/dsta.png') }}">
                                    </div>
                                    <div>
                                        {{ a.vvt.team.name }}: {{ a.beschreibung }}
                                    </div>
                                    <div>
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="daten" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in assignDaten %}
                    {% if a.activ %}
                        <a href="{{ path('datenweitergabe_edit',{'id':a.id}) }}">
                            <div>
                                <div>
                                    <div>
                                        <img style="width: 21px" src="{{ asset('images/data.png') }}">
                                    </div>
                                    <div>
                                        {{ a.team.name }}: {{ a.gegenstand }}
                                    </div>
                                    <div>
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <a href="{{ path('assign') }}">{% trans %}showAllAssignments{% endtrans %}</a>

    </div>

</div>
<!--/.Card-->
