{% trans_default_domain 'dashboard' %}
<h3>{% trans %}myAssignment{% endtrans %}</h3>
<div class="card-outlined mb-5">
    {% set tabWidth = (1/tabsAssignments|length)*100|round(2) %}
    <div class="tabs flex flex-col w-full">
        <div class="tabs-nav">
            {% for tab, data in tabsAssignments %}
                <button data-type="tabs" data-target="#tab-{{ tab }}" class="{{ loop.first ? ' active' }}" style="width: {{ tabWidth }}%">
                    <span>
                        <img src="{{ asset(data.image) }}" alt="" />
                    </span>
                    <p>{{ tab|trans }}</p>
                </button>
            {% endfor %}
            <div role="indicator" class="tabs-indicator" style="width: {{ tabWidth }}%"></div>
        </div>
        <hr>
        <div class="tabs-content">
            <div id="tab-tasks" role="tabpanel" class="tab-content active">
                <ul class="stacked-list compressed">
                    {% for a in assignTasks %}
                        <li>
                            <a href="{{ path('task_edit',{'id':a.id}) }}">{{ a.team.name }}: {{ a.title }}</a>
                            <div>{{ a.createdAt|date('d.m.Y') }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-academy" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in akademie %}
                        <li>
                            <a href="{{ path('akademie_kurs',{'kurs':a.id}) }}">{{ a.kurs.title }}</a>
                            <div>{{ a.zugewiesen|date('d.m.Y') }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-audit" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in assignAudit %}
                        {% if a.activ %}
                            <li>
                                <a href="{{ path('audit_tom_edit',{'tom':a.id}) }}">{{ a.team.name }}: {{ a.frage }}</a>
                                <div>{{ a.status.name }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-vvt" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in assignVvt %}
                        {% if a.activ %}
                            <li>
                                <a href="{{ path('vvt_edit',{'id':a.id}) }}">{{ a.team.name }}: {{ a.name }}</a>
                                <div>{{ a.status.name }}</div>
                                <div>{{ a.createdAt|date('d.m.Y') }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-dsfa" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in assignDsfa %}
                        {% if a.activ %}
                            <li>
                                <a href="{{ path('vvt_dsfa_edit',{'dsfa':a.id}) }}">{{ a.vvt.team.name }}: {{ a.beschreibung }}</a>
                                <div>{{ a.createdAt|date('d.m.Y') }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="tab-dw" role="tabpanel" class="tab-content">
                <ul class="stacked-list compressed">
                    {% for a in assignDaten %}
                        {% if a.activ %}
                            <li>
                                <a href="{{ path('datenweitergabe_edit',{'id':a.id}) }}">{{ a.team.name }}: {{ a.gegenstand }}</a>
                                <div>{{ a.createdAt|date('d.m.Y') }}</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-5">
    <p class="text-right">
        <a href="{{ path('assign') }}" class="text-sm text-muted">{% trans %}showAllAssignments{% endtrans %}</a>
    </p>
</div>