{% trans_default_domain 'dashboard' %}
<h3>{% trans %}myAssignment{% endtrans %}</h3>
<div class="card-outlined mb-5">
    <div class="tabs flex flex-col w-full">
        <div class="tabs-nav">
            {% for tab, data in tabsAssignments %}
                <button data-type="tabs" data-target="#tab-{{ tab }}" class="{{ loop.first ? ' active' }}">
                <span>
                    <img src="{{ asset(data.image) }}" alt="">
                </span>
                    <p>{{ tab|trans }}</p>
                </button>
            {% endfor %}
            <div role="indicator" class="tabs-indicator"></div>
        </div>
        <hr>
        <div class="tabs-content">
            <div id="tab-tasks" role="tabpanel" class="tab-content active">
                {% for a in assignTasks %}
                    <a href="{{ path('task_edit',{'id':a.id}) }}">
                        <div>
                            <div>
                                <div>
                                    <img style="width: 21px" src="{{ asset('images/task.png') }}">
                                </div>
                                <div>
                                    {{ a.team.name }}: {{ a.title }}
                                </div>
                                <div>
                                    {{ a.createdAt|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div id="tab-academy" role="tabpanel" class="tab-content">
                {% for a in akademie %}
                    <a href="{{ path('akademie_kurs',{'kurs':a.id}) }}">
                        <div>
                            <div>
                                <div>
                                    <img style="width: 21px" src="{{ asset('images/online-learning.png') }}">
                                </div>
                                <div>
                                    {{ a.kurs.title }}
                                </div>
                                <div>
                                    {{ a.zugewiesen|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div id="tab-audit" role="tabpanel" class="tab-content">
                {% for a in assignAudit %}
                    {% if a.activ %}
                        <a href="{{ path('audit_tom_edit',{'tom':a.id}) }}">
                            <div>
                                <div>
                                    <div>
                                        <img style="width: 21px" src="{{ asset('images/pruefung.png') }}">
                                    </div>
                                    <div>
                                        {{ a.team.name }}: {{ a.frage }}
                                    </div>
                                    <div>
                                        {{ a.status.name }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="tab-vvt" role="tabpanel" class="tab-content">
                {% for a in assignVvt %}
                    {% if a.activ %}
                        <a href="{{ path('vvt_edit',{'id':a.id}) }}">
                            <div>
                                <div>
                                    <div>
                                        <img style="width: 21px" src="{{ asset('images/prozess.png') }}">
                                    </div>
                                    <div>
                                        {{ a.team.name }}: {{ a.name }}
                                    </div>
                                    <div>
                                        {{ a.status.name }}
                                    </div>
                                    <div>
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="tab-dsfa" role="tabpanel" class="tab-content">
                {% for a in assignDsfa %}
                    {% if a.activ %}
                        <a href="{{ path('vvt_dsfa_edit',{'dsfa':a.id}) }}">
                            <div>
                                <div>
                                    <div>
                                        <img style="width: 21px" src="{{ asset('images/dsta.png') }}">
                                    </div>
                                    <div>
                                        {{ a.vvt.team.name }}: {{ a.beschreibung }}
                                    </div>
                                    <div>
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="tab-dw" role="tabpanel" class="tab-content">
                {% for a in assignDaten %}
                    {% if a.activ %}
                        <a href="{{ path('datenweitergabe_edit',{'id':a.id}) }}">
                            <div>
                                <div>
                                    <div>
                                        <img style="width: 21px" src="{{ asset('images/data.png') }}">
                                    </div>
                                    <div>
                                        {{ a.team.name }}: {{ a.gegenstand }}
                                    </div>
                                    <div>
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<a href="{{ path('assign') }}" class="btn btn-elevated">{% trans %}showAllAssignments{% endtrans %}</a>