<!--Card-->
<div class="card">
    <!-- Card header -->
    <div class="card-header text-center">
        Meine Zuweisungen
    </div>
    <!--Card content-->
    <div class="card-body">
        <ul class="nav nav-tabs" id="audit-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-center" id="home-tab" data-toggle="tab" href="#akademie" role="tab"
                   aria-controls="home"
                   aria-selected="true"><img style="height: 1.5rem" src="{{ asset('icons/online-learning.png') }}">
                    <span
                            class="d-none d-lg-block">Akademie</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="home-tab" data-toggle="tab" href="#audit" role="tab"
                   aria-controls="home"
                   aria-selected="true"><img style="height: 1.5rem" src="{{ asset('icons/pruefung.png') }}"> <span
                            class="d-none d-lg-block">Audit</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="vvt-tab" data-toggle="tab" href="#vvt" role="tab"
                   aria-controls="profile"
                   aria-selected="false"><img style="width: 1.5rem" src="{{ asset('icons/prozess.png') }}"> <span
                            class="d-none d-lg-block">VVT</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="dsfa-tab" data-toggle="tab" href="#dsfa" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 1.5rem" src="{{ asset('icons/dsta.png') }}"> <span
                            class="d-none d-lg-block">DSFA</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="daten-tab" data-toggle="tab" href="#daten" role="tab"
                   aria-controls="contact"
                   aria-selected="false"><img style="width: 1.5rem" src="{{ asset('icons/data.png') }}"> <span
                            class="d-none d-lg-block">DW</span></a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="akademie" role="tabpanel" aria-labelledby="home-tab">
                {% for a in akademie %}
                    <a href="{{ path('audit_tom_edit',{'tom':a.id}) }}">
                        <div class="btn btn-block bg-akademie text-md-left mt-1">
                            <div class="row">
                                <div class="col-md-1">
                                    <img style="width: 21px" src="{{ asset('icons/online-learning.png') }}">
                                </div>
                                <div class="col-md-7">
                                    {{ a.kurs.title }}
                                </div>
                                <div class="col-md-4">
                                    {{ a.zugewiesen|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="tab-pane fade show" id="audit" role="tabpanel" aria-labelledby="home-tab">
                {% for a in assignAudit |slice(0, 6)|sort((a, b) => b.createdAt <=> a.createdAt) %}
                    {% if a.activ %}
                        <a href="{{ path('audit_tom_edit',{'tom':a.id}) }}">
                            <div class="btn btn-block bg-audit text-md-left mt-1">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width: 21px" src="{{ asset('icons/pruefung.png') }}">
                                    </div>
                                    <div class="col-md-7">
                                        {{ a.frage }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ a.status.name }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="vvt" role="tabpanel" aria-labelledby="profile-tab">
                {% for a in assignVvt|slice(0, 6)|sort((a, b) => b.createdAt <=> a.createdAt) %}
                    {% if a.activ %}
                        <a href="{{ path('vvt_edit',{'id':a.id}) }}">
                            <div class="btn btn-block bg-vvt text-md-left mt-1">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width: 21px" src="{{ asset('icons/prozess.png') }}">
                                    </div>
                                    <div class="col-md-6">
                                        {{ a.name }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ a.status.name }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="dsfa" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in assignDsfa|slice(0, 6)|sort((a, b) => b.createdAt <=> a.createdAt) %}
                    {% if a.activ %}
                        <a href="{{ path('vvt_dsfa_edit',{'dsfa':a.id}) }}">
                            <div class="btn btn-block bg-dsfa text-md-left mt-1">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width: 21px" src="{{ asset('icons/dsta.png') }}">
                                    </div>
                                    <div class="col-md-8">
                                        {{ a.beschreibung }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="daten" role="tabpanel" aria-labelledby="contact-tab">
                {% for a in assignDaten|slice(0, 6)|sort((a, b) => b.createdAt <=> a.createdAt) %}
                    {% if a.activ %}
                        <a href="{{ path('datenweitergabe_edit',{'id':a.id}) }}">
                            <div class="btn btn-block {% if a.art == 1 %}bg-daten{% else %}bg-av{% endif %} text-md-left mt-1">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width: 21px" src="{{ asset('icons/data.png') }}">
                                    </div>
                                    <div class="col-md-8">
                                        {{ a.gegenstand }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ a.createdAt|date('d.m.Y') }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <a class="btn btn-primary btn-block mt-3" href="{{ path('assign') }}">Alle Zuweisungen
            anzeigen</a>

    </div>

</div>
<!--/.Card-->