<div class="row">
    <div class="col-xl-6 col-md-6 col-lg-12 mt-2">
        <a href="{{ path('vvt') }}">
            {{ include('dashboard/__card.html.twig',{'farbe':'bg-vvt','title':'Verarbeitungen','metrik':vvt|length}) }}
            {% if kVvt|length > 0 %}
                {{ include('dashboard/__card.html.twig',{'farbe':'red','title':'Krisitsche VVTs','metrik':kVvt|length}) }}
            {% endif %}
        </a>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-12 mt-2">
        <a href="{{ path('vvt') }}">
            {{ include('dashboard/__card.html.twig',{'farbe':'bg-dsfa','title':'DSFA','metrik':dsfa|length}) }}
            {% if openDsfa|length > 0 %}
                {{ include('dashboard/__card.html.twig',{'farbe':'red','title':'Offene DSFA','metrik':openDsfa|length}) }}
            {% endif %}
        </a>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-12 mt-2">
        <a href="{{ path('tom') }}">
            {{ include('dashboard/__card.html.twig',{'farbe':'bg-tom','title':'TOMs','metrik':tom|length}) }}
        </a>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-12 mt-2">
        <a href="{{ path('kontakt') }}">
            {{ include('dashboard/__card.html.twig',{'farbe':'bg-kontakt','title':'Kontakte','metrik':kontakte|length}) }}
        </a>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-12 mt-2">
        <a href="{{ path('datenweitergabe') }}">
            {{ include('dashboard/__card.html.twig',{'farbe':'bg-daten','title':'Datenweitergaben','metrik':daten|length}) }}
        </a>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-12 mt-2">
        <a href="{{ path('auftragsverarbeitung') }}">
            {{ include('dashboard/__card.html.twig',{'farbe':'bg-av','title':'Auftragsverarbeitungen','metrik':av|length}) }}
        </a>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-12 mt-2">
        <a href="{{ path('forms') }}">
            {{ include('dashboard/__card.html.twig',{'farbe':'bg-forms','title':'Formulare','metrik':forms|length}) }}
        </a>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-12 mt-2">
        <a href="{{ path('policies') }}">
            {{ include('dashboard/__card.html.twig',{'farbe':'bg-policy','title':'Richtlinien','metrik':policies|length}) }}
        </a>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-12 mt-2">
        <a href="{{ path('software') }}">
            {{ include('dashboard/__card.html.twig',{'farbe':'bg-software','title':'Software','metrik':software|length}) }}
        </a>
    </div>
    <div class="col-xl-6 col-md-6 col-lg-12 mt-2">
        <a href="{{ path('tasks') }}">
            {{ include('dashboard/__card.html.twig',{'farbe':'bg-tasks','title':'Aufgaben','metrik':tasks|length}) }}
        </a>
    </div>

</div>