{% trans_default_domain 'dashboard' %}
<!--Card-->
<div class="card mt-3">
    <!-- Card header -->
    <div class="card-header text-center">
        {% trans %}lastChanges{% endtrans %}
    </div>
    <!--Card content-->
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5 class="h5-responsive">{% trans %}auditQuestions{% endtrans %}</h5>
                <hr>
                <ul>
                    {% for a in audit|slice(0, 5) %}
                        <a href="{{ path('audit_tom_edit', {'tom':a.id}) }}"><img style="width: 14px"
                                                                                  src="{{ asset('images/pruefung.png') }}"> {{ a.frage }}
                        </a><br>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h5 class="h5-responsive">{% trans %}processing{% endtrans %}</h5>
                <hr>
                <ul>
                    {% for v in vvt|slice(0, 5) %}
                        <img style="width: 14px" src="{{ asset('images/prozess.png') }}"> <a
                            href="{{ path('vvt_edit', {'id':v.id}) }}">{{ v.name }}</a><br>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/.Card-->