{% trans_default_domain 'dashboard' %}
<h3>{% trans %}quickAccess{% endtrans %}</h3>
<div class="grid grid-cols-1 gap-4 dashboard-links">
    <a href="{{ path('vvt') }}" class="btn btn-vvt">
        Verarbeitungen ({{ vvt|length }})
        {% if kVvt|length > 0 %}
            | <u>kritisch ({{ kVvt|length }})</u>
        {% endif %}
    </a>
    <a href="{{ path('tom') }}" class="btn btn-tom">
        TOMs ({{ tom|length }})
    </a>
    <a href="{{ path('datenweitergabe') }}" class="btn btn-datenweitergabe">
        Datenweitergaben ({{ daten|length }})
    </a>
    <a href="{{ path('auftragsverarbeitung') }}" class="btn btn-av">
        Auftragsverarbeitungen ({{ av|length }})
    </a>
</div>
{# <hr class="my-5">
<div class="grid grid-cols-1 gap-4 dashboard-links">
    <a href="{{ path('vvt') }}" class="btn btn-dsfa">
        DSFA ({{ dsfa|length }})
        {% if openDsfa|length > 0 %}
            | <u>offen ({{ openDsfa|length }})</u>
        {% endif %}
    </a>
    <a href="{{ path('kontakt') }}" class="btn btn-kontakt">
        Kontakte ({{ kontakte|length }})
    </a>
    <a href="{{ path('forms') }}" class="btn btn-formular">
        Formulare ({{ forms|length }})
    </a>
    <a href="{{ path('policies') }}" class="btn btn-policy">
        Richtlinien ({{ policies|length }})
    </a>
    <a href="{{ path('software') }}" class="btn btn-software">
        Software ({{ software|length }})
    </a>
    <a href="{{ path('tasks') }}" class="btn btn-tasks">
        Offene Aufgaben ({{ tasks|length }})
    </a>
    <a href="{{ path('app_loeschkonzept_index') }}" class="btn btn-loeschkonzept">
        Löschkonzepte ({{ loeschkonzepte|length }})
    </a>
    <a href="{{ path('app_vvtdatenkategorie_index') }}" class="btn btn-datenkatekorie">
        Datenkategorien ({{ vvtdatenkategorien|length }})
    </a>
</div> #}