{% extends 'base.html.twig' %}

{% block title %}{{ team.name }}{% endblock %}

{% block body %}


    <div class="row wow fadeIn mt-5">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <div class="row">
                <div class="col-xl-6 col-md-12 mt-2">
                    <a href="{{ path('vvt') }}">
                        {{ include('dashboard/__card.html.twig',{'farbe':'bg-vvt','title':'Verarbeitungen','metrik':vvt|length}) }}
                        {% if kVvt|length > 0 %}
                            {{ include('dashboard/__card.html.twig',{'farbe':'red','title':'Krisitsche VVTs','metrik':kVvt|length}) }}
                        {% endif %}
                    </a>
                </div>
                <div class="col-xl-6 col-md-12 mt-2">
                    <a href="{{ path('vvt') }}">
                        {{ include('dashboard/__card.html.twig',{'farbe':'bg-dsfa','title':'DSFA','metrik':dsfa|length}) }}
                        {% if openDsfa|length > 0 %}
                            {{ include('dashboard/__card.html.twig',{'farbe':'red','title':'Offene DSFA','metrik':openDsfa|length}) }}
                        {% endif %}
                    </a>
                </div>
                <div class="col-xl-6 col-md-12 mt-2">
                    <a href="{{ path('tom') }}">
                        {{ include('dashboard/__card.html.twig',{'farbe':'bg-tom','title':'TOMs','metrik':tom|length}) }}
                    </a>
                </div>
                <div class="col-xl-6 col-md-12 mt-2">
                    <a href="{{ path('kontakt') }}">
                        {{ include('dashboard/__card.html.twig',{'farbe':'bg-kontakt','title':'Eingetragene Kontakte','metrik':kontakte|length}) }}
                    </a>
                </div>
                <div class="col-xl-6 col-md-12 mt-2">
                    <a href="{{ path('datenweitergabe') }}">
                        {{ include('dashboard/__card.html.twig',{'farbe':'bg-daten','title':'Datenweitergaben','metrik':daten|length}) }}
                    </a>
                </div>
                <div class="col-xl-6 col-md-12 mt-2">
                    <a href="{{ path('auftragsverarbeitung') }}">
                        {{ include('dashboard/__card.html.twig',{'farbe':'bg-av','title':'Auftragsverarbeitungen','metrik':av|length}) }}
                    </a>
                </div>
                <div class="col-xl-6 col-md-12 mt-2">
                    <a href="{{ path('forms') }}">
                        {{ include('dashboard/__card.html.twig',{'farbe':'bg-forms','title':'Formulare','metrik':forms|length}) }}
                    </a>
                </div>
                <div class="col-xl-6 col-md-12 mt-2">
                    <a href="{{ path('policies') }}">
                        {{ include('dashboard/__card.html.twig',{'farbe':'bg-policy','title':'Richtlinien','metrik':policies|length}) }}
                    </a>
                </div>

            </div>


            <!--Card-->
            <div class="card mt-5">
                <!-- Card header -->
                <div class="card-header text-center">
                    Kritische Vorgänge
                </div>
                <!--Card content-->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Krisitsche Auditfragen</h5>
                            <ul>
                                {% for a in kAudit %}
                                    <li>
                                        <a href="{{ path('audit_tom_edit', {'tom':a.id}) }}"><img style="width: 17px"
                                                                                                  src="{{ asset('icons/pruefung.svg') }}"> {{ a.createdAt|date('d.m.Y H:i') }}
                                            - {{ a.frage }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h5>Krisitsche VVTs</h5>
                            <ul>
                                {% for v in kVvt %}
                                    <li>
                                        <a href="{{ path('vvt_edit', {'id':v.id}) }}"><img style="width: 17px"
                                                                                           src="{{ asset('icons/prozess.svg') }}"> {{ v.createdAt|date('d.m.Y H:i') }}
                                            - {{ v.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h5>Offene DSFA</h5>
                            <ul>
                                {% for d in openDsfa %}
                                    <li>
                                        <a href="{{ path('vvt_dsfa_edit', {'dsfa':d.id}) }}">{{ d.createdAt|date('d.m.Y H:i') }}
                                            - {{ d.vvt.name }}
                                            ({% if not d.dsb %}Beurteilung DSB fehlt{% else %}Ergebnis fehlt{% endif %}
                                            )</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            {{ include('dashboard/__assign.html.twig') }}

            <!--Card-->
            <div class="card mt-3">
                <!-- Card header -->
                <div class="card-header text-center">
                    Letzte Änderungen
                </div>
                <!--Card content-->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Auditfragen</h5>
                            <hr>
                            <ul>
                                {% for a in audit|slice(0, 5) %}
                                    <a href="{{ path('audit_tom_edit', {'tom':a.id}) }}"><img style="width: 14px"
                                                                                              src="{{ asset('images/pruefung.png') }}"> {{ a.frage }}
                                    </a><br>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Verarbeitungsverzeichnisse</h5>
                            <hr>
                            <ul>
                                {% for v in vvt|slice(0, 5) %}
                                    <img style="width: 14px" src="{{ asset('images/prozess.png') }}"> <a
                                        href="{{ path('vvt_edit', {'id':v.id}) }}">{{ v.name }}</a><br>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                </div>

            </div>
            <!--/.Card-->
        </div>
    </div>
    <div id="mynetwork"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // create an array with nodes
        var nodes = new vis.DataSet([
            {% for n in vvt %}
            {id: 'vvt{{ n.id }}', label: 'VVT-{{ n.name }}', color: '#34ce57'},
            {% endfor %}
            {% for n in daten %}
            {id: 'daten{{ n.id }}', label: 'DW-{{ n.gegenstand }}', color: '#6f42c1', font: {color: 'white'}},
            {% endfor %}
            {% for n in av %}
            {id: 'daten{{ n.id }}', label: 'AV-{{ n.gegenstand }}', color: '#7e57c2', font: {color: 'white'}},
            {% endfor %}
            {% for n in tom %}
            {id: 'tom{{ n.id }}', label: 'TOM-{{ n.titel }}', color: '#0e4377', font: {color: 'white'}},
            {% endfor %}
            {% for n in policies %}
            {id: 'pol{{ n.id }}', label: 'POL-{{ n.id }}', color: '#4b515d', font: {color: 'white'}},
            {% endfor %}
            {% for n in kontakte %}
            {id: 'kon{{ n.id }}', label: 'KONT-{{ n.firma }}', color: '#6a1b9a', font: {color: 'white'}},
            {% endfor %}
        ]);

        // create an array with edges
        var edges = new vis.DataSet([
            {% for ee in vvt %}
            {% for e in ee.datenweitergaben if e.activ %}
            {from: 'vvt{{ ee.id }}', to: 'daten{{ e.id }}'},
            {% endfor %}
            {% if ee.tomLink is not null %}
            {from: 'vvt{{ ee.id }}', to: 'tom{{ ee.tomLink.id }}'},
            {% endif %}
            {% for e in ee.policies if e.activ %}
            {from: 'vvt{{ ee.id }}', to: 'pol{{ e.id }}'},
            {% endfor %}
            {% endfor %}

            {% for ee in kontakte %}
            {% for e in ee.datenweitergaben if e.activ %}
            {from: 'kon{{ ee.id }}', to: 'daten{{ e.id }}'},
            {% endfor %}
            {% endfor %}
        ]);

        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {}
        var network = new vis.Network(container, data, options);
    </script>
{% endblock %}
