{% trans_default_domain 'report' %}
{{ form_start(form) }}
<div {% if not activ or report.invoice %}class="disabled"{% endif %}>
    <div>
        <div>
            {{ form_label(form.user) }}
        </div>
        <div>
            {{ form_widget(form.user) }}
        </div>
    </div>

    <div>
        <div>
            <p>{% trans from 'general'%}times{% endtrans %}</p>
        </div>
        <div>
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
        </div>
        <div>
            {{ form_label(form.start) }}
            {{ form_widget(form.start) }}
        </div>
        <div>
            {{ form_label(form.end) }}
            {{ form_widget(form.end) }}
        </div>
    </div>

    <div>
        <div>
            {{ form_label(form.calcTime) }}
        </div>
        <div>
            {{ form_widget(form.calcTime) }}
        </div>
    </div>

    <div>
        <div>
            {{ form_label(form.description) }}
        </div>
        <div>
            {{ form_widget(form.description) }}
        </div>
    </div>

    <div>
        <div>
            {% trans %}additionalOptions{% endtrans %}
        </div>
        <div>
            {{ form_widget(form.invoice) }}
            {{ form_widget(form.inReport) }}
            {{ form_widget(form.onsite) }}
        </div>
    </div>


    {{ form_widget(form.save) }}
</div>
{{ form_end(form) }}
