{% trans_default_domain 'report' %}
{% set disabled = not activ or report.invoice %}
{{ form_start(form, {'attr': {'disabled': disabled }}) }}
<fieldset>
    {{ form_row(form.user) }}
</fieldset>
<fieldset>
    <legend>{% trans from 'general'%}times{% endtrans %}</legend>
    <div class="flex flex-row gap-3">
        {{ form_row(form.date) }}
        {{ form_row(form.start, {row_attr: {class: 'form-time'}}) }}
        {{ form_row(form.end, {row_attr: {class: 'form-time'}}) }}
    </div>
</fieldset>
<fieldset>
    {{ form_row(form.calcTime) }}
    {{ form_row(form.description) }}
</fieldset>
<fieldset>
    <legend>
        {% trans %}additionalOptions{% endtrans %}
    </legend>
    {{ form_row(form.invoice) }}
    {{ form_row(form.inReport) }}
    {{ form_row(form.onsite) }}
</fieldset>
{{ form_row(form.save, { row_attr: {class: 'form-buttons'}, attr: {'disabled': disabled} }) }}
{{ form_rest(form) }}
{{ form_end(form) }}
