{% trans_default_domain 'report' %}

<div class="dl-wrapper mb-5">
    <div class="dl-content">
        <dl>
            <div>
                <dt>{% trans from 'general' %}editor{% endtrans %}</dt>
                <dd>{{ report.user.email }}</dd>
            </div>
            <div>
                <dt>{% trans from 'general' %}createdAt{% endtrans %}</dt>
                <dd>{{ report.createdAt|date('d.m.Y') }}</dd>
            </div>
            <div>
                <dt>{% trans from 'general' %}date{% endtrans %}</dt>
                <dd>
                    {{ report.date|date('d.m.Y') }},
                    {{ report.start|date('H:i') }} {% trans %}clock{% endtrans %}
                    -
                    {{ report.end|date('H:i') }} {% trans %}clock{% endtrans %}
                </dd>
            </div>
            <div>
                <dt>{% trans %}billedTime{% endtrans %}</dt>
                <dd>{{ report.calcTime }} {% trans %}minutes{% endtrans %}</dd>
            </div>
            <div>
                <dt>{% trans from 'general' %}description{% endtrans %}</dt>
                <dd class="editor-output">{{ report.description|nl2br }}</dd>
            </div>
        </dl>
    </div>
</div>

<div class="dl-wrapper mb-5">
    <div class="dl-content">
        <dl>
            <div>
                <dt>{% trans %}alreadyBilled{% endtrans %}</dt>
                <dd>{{ report.invoice?'yes':'no' | trans([],'general') }}</dd>
            </div>
            <div>
                <dt>{% trans %}work.present{% endtrans %}</dt>
                <dd>{{ report.inReport?'yes':'no' | trans([],'general') }}</dd>
            </div>
            <div>
                <dt>{% trans %}work.onSight{% endtrans %}</dt>
                <dd>{{ report.onsite?'yes':'no' | trans([],'general') }}</dd>
            </div>
        </dl>
    </div>
</div>


