{% trans_default_domain 'report' %}
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">
                {% trans from 'general' %}editor{% endtrans %}:
            </div>
            <div class="col-md-6">
                {{ report.user.email }}
            </div>
            <div class="col-md-6">
                {% trans from 'general' %}createAt{% endtrans %}:
            </div>
            <div class="col-md-6">
                {{ report.createdAt|date('d.m.Y') }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                {% trans from 'general' %}date{% endtrans %}:
            </div>
            <div class="col-md-6">
                {{ report.date|date('d.m.Y') }}
            </div>
            <div class="col-md-6">
                {% trans from 'general' %}start{% endtrans %}:
            </div>
            <div class="col-md-6">
                {{ report.start|date('H:i') }} {% trans %}clock{% endtrans %}
            </div>
            <div class="col-md-6">
                {% trans from 'general' %}end{% endtrans %}:
            </div>
            <div class="col-md-6">
                {{ report.end|date('H:i') }} {% trans %}clock{% endtrans %}
            </div>
            <div class="col-md-6">
                {% trans %}billedTime{% endtrans %}:
            </div>
            <div class="col-md-6">
                {{ report.calcTime }} {% trans %}minutes{% endtrans %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                {% trans %}alreadyBilled{% endtrans %}:
            </div>
            <div class="col-md-6">
                {% trans from 'general' %}{{ report.invoice?'yes':'no' }}{% endtrans %}
            </div>
            <div class="col-md-6">
                {% trans %}work.present{% endtrans %}:
            </div>
            <div class="col-md-6">
                {% trans from 'general' %}{{ report.inReport?'yes':'no' }}{% endtrans %}
            </div>
            <div class="col-md-6">
                {% trans %}work.onSight{% endtrans %}:
            </div>
            <div class="col-md-6">
                {% trans from 'general' %}{{ report.onsite?'yes':'no' }}{% endtrans %}
            </div>
        </div>
    </div>
    <div class="col-md-7 mt-5 mt-md-0"
         style="border-left-color: #3f4e5e; border-left-width: 1px; border-left-style: dashed">
        {% trans from 'general' %}description{% endtrans %}:<br>
        {{ report.description|nl2br }}
    </div>
</div>
</div>
