{% trans_default_domain 'report' %}
<div>
    <div>
        <div>
            <div>
                {% trans from 'general' %}editor{% endtrans %}:
            </div>
            <div>
                {{ report.user.email }}
            </div>
            <div>
                {% trans from 'general' %}createAt{% endtrans %}:
            </div>
            <div>
                {{ report.createdAt|date('d.m.Y') }}
            </div>
        </div>
        <div>
            <div>
                {% trans from 'general' %}date{% endtrans %}:
            </div>
            <div>
                {{ report.date|date('d.m.Y') }}
            </div>
            <div>
                {% trans from 'general' %}start{% endtrans %}:
            </div>
            <div>
                {{ report.start|date('H:i') }} {% trans %}clock{% endtrans %}
            </div>
            <div>
                {% trans from 'general' %}end{% endtrans %}:
            </div>
            <div>
                {{ report.end|date('H:i') }} {% trans %}clock{% endtrans %}
            </div>
            <div>
                {% trans %}billedTime{% endtrans %}:
            </div>
            <div>
                {{ report.calcTime }} {% trans %}minutes{% endtrans %}
            </div>
        </div>
        <div>
            <div>
                {% trans %}alreadyBilled{% endtrans %}:
            </div>
            <div>
                {{ report.invoice?'yes':'no' | trans([],'general') }}
            </div>
            <div>
                {% trans %}work.present{% endtrans %}:
            </div>
            <div>
                {{ report.inReport?'yes':'no' | trans([],'general') }}
            </div>
            <div>
                {% trans %}work.onSight{% endtrans %}:
            </div>
            <div>
                {{ report.onsite?'yes':'no' | trans([],'general') }}
            </div>
        </div>
    </div>
    <div
         style="border-left-color: #3f4e5e; border-left-width: 1px; border-left-style: dashed">
        {% trans from 'general' %}description{% endtrans %}:<br>
        {{ report.description|nl2br }}
    </div>
</div>
</div>
