{% extends 'base.html.twig' %}

{% block CTA %}
    <a class="btn btn-primary ml-1 btn-sm" href="{{ path('report_new') }}">
        <span>{% trans %}newActivity{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">{% trans %}activitiesTitle{% endtrans %}</h2>
    <div class="card card-body">
        <div class="table-responsive">
            <table id="data-table" class="table display table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans %}processor{% endtrans %}</th>
                    <th scope="col">{% trans %}description{% endtrans %}</th>
                    <th scope="col">{% trans %}date{% endtrans %}</th>
                    <th scope="col">{% trans %}time{% endtrans %}</th>
                    <th scope="col">{% trans %}billed{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for t in report %}
                    <tr class="clickable-row"
                        data-href='{{ path('report_edit',{'id':t.id}) }}'>
                        <th scope="row">{{ t.id }}</th>
                        <td>{{ t.user.email }}</td>
                        <td>{{ t.description|nl2br }}</td>
                        <td>{{ t.date|date('d.m.Y') }}</td>
                        <td>{{ t.calcTime }} {% trans %}minutes{% endtrans %}</td>
                        <td>
                            {% if t.invoice %}
                                {% trans %}yes{% endtrans %}
                            {% else %}
                                {% trans %}no{% endtrans %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
