{% extends 'base.html.twig' %}
{% trans_default_domain 'report' %}

{% block title %}
    {% trans %}work.overview{% endtrans %}
{% endblock %}

{% block CTA %}
    <a href="{{ path('report_new') }}" class="btn btn-create">
        {% trans %}work.create{% endtrans %}
    </a>
{% endblock %}

{% block body %}
    <table id="data-table" class="dataTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans %}worker{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}description{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}date{% endtrans %}</th>
                <th scope="col">{% trans from 'general' %}time{% endtrans %}</th>
                <th scope="col">{% trans %}billed{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for t in report %}
            <tr data-href='{{ path('report_edit',{'id':t.id}) }}'>
                <td>{{ t.id }}</td>
                <td>{{ t.user.email }}</td>
                <td>{{ t.description|nl2br }}</td>
                <td>{{ t.date|date('d.m.Y') }}</td>
                <td>{{ t.calcTime }} {% trans %}minutes{% endtrans %}</td>
                <td>
                    {% if t.invoice %}
                        {% trans from 'general' %}yes{% endtrans %}
                    {% else %}
                        {% trans from 'general' %}no{% endtrans %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
