{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="h2-responsive">{{ title }}</h2>

    {{ form_start(form) }}
    <div class="card card-body">
        <div class="row">
            <div class="col-md-4">{{ form_row(form.art) }}</div>
            <div class="col-md-2">{{ form_row(form.nummer) }}</div>
            <div class="col-md-6">{{ form_row(form.firma) }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ form_row(form.anrede) }}</div>
            <div class="col-md-4">{{ form_row(form.vorname) }}</div>
            <div class="col-md-6">{{ form_row(form.nachname) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(form.strase) }}</div>
            <div class="col-md-2">{{ form_row(form.plz) }}</div>
            <div class="col-md-4">{{ form_row(form.ort) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(form.email) }}</div>
            <div class="col-md-6">{{ form_row(form.telefon) }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form_row(form.bemerkung) }}</div>
        </div>
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
{% endblock %}
