{% extends 'base.html.twig' %}
{% trans_default_domain 'kontakt' %}

{% set fullWidthLayout = true %}

{% block title %}{{ title }}{% endblock %}

{% block CTA %}
    <a href="{{ path('kontakt_new') }}" class="btn btn-create">
        {{ title }} {% trans %}create{% endtrans %}
    </a>
{% endblock %}

{% block body %}
    <table id="data-table" class="dataTable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans %}company{% endtrans %}</th>
            <th scope="col">{% trans from 'general' %}name{% endtrans %}</th>
            <th scope="col">{% trans %}location{% endtrans %}</th>
            <th scope="col">{% trans %}function{% endtrans %}</th>
            <th scope="col">{% trans from 'general' %}inheritance.fromTeam{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for k in kontakte %}
            <tr data-href='{{ path('kontakt_edit',{'id':k.id}) }}'>
                <td>{{ k.nummer }}</td>
                <td>{{ k.firma }}</td>
                <td>{{ k.nachname }}</td>
                <td>{{ k.ort }}</td>
                <td>
                    {% if k.art == 1 %}
                        {% trans %}client{% endtrans %}
                    {% elseif k.art == 2 %}
                        {% trans %}contractor{% endtrans %}
                    {% endif %}
                </td>
                <td{% if k.team != currentTeam %} title="{% trans from 'general' %}inheritance.infoText{% endtrans %}"{% endif %}>
                    {% if k.team != currentTeam %}{{ k.team }}{% else %}-{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
