{% extends 'email/base.html.twig' %}
{% block header %}
    -- Neue Auditfrage zum Bearbeiten zugewiesen --
{% endblock %}

{% block content %}
    <h4 class="text-center">
        {{ assign }}
    </h4>
    <b>
        Hallo!
    </b>
    <p>
        Ihnen wurde eine Auditfrage zum Bearbeiten zugewiesen.
    </p>
    <b>
        Auditfrage: {{ assign }}
    </b>
    <spacer size="16"></spacer>
    <p>
        <a href="{{ absolute_url(path('audit_tom_edit', {'tom':data.id})) }}">Klicken Sie hier um direkt zu Element
            zu gelangen.</a>
    </p>
    <spacer size="16"></spacer>
    <p>
        Sie erhalten diese E-Mail, weil Sie Mitglied des Datenschutzcenterteams {{ data.team.displayName }} sind.
    </p>
    <spacer size="16"></spacer>
    <p>
        Wenn Sie Fragen zum Datenschutz und den Hintergründen diese Nachricht, melden Sie sich bei Ihrem
        Datenschutzbeauftragten, den Datenschutzkoordinatoren oder bei der Geschäftsführung.<br>
        E-Mail: {{ data.team.email }}<br>
        Telefon: {{ data.team.telefon }}
    </p>

{% endblock %}
