{% trans_default_domain 'email' %}
{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
    <style type="text/css">
        body,
        html,
        .body {
            background-color: #f8fafc;
        }
        body {
            padding: 40px 0px !important;
        }
        .container {
            border: 1px solid #e2e8f0;
        }
        .columns {
            padding: 30px !important;
            border-radius: 10px;
        }
        .text-muted {
            color: #9ca3af;
        }
        h4 {
            margin-bottom: 30px !important;
        }
        p {
            line-height: 1.5 !important;
        }
        .border-t {
            border-top: 1px solid #e2e8f0;
        }
    </style>
    <div style="text-align: center;">
        <small class="text-muted">{% block header %}{% endblock %}</small>
    </div>
    <spacer size="16"></spacer>
    <container>
        <row>
            <columns>
                {% block content %}{% endblock %}
                {% if team is defined %}
                    <spacer size="16"></spacer>
                    <p>{{ team.signature|nl2br }}</p>
                {% endif %}
            </columns>
        </row>
        <row class="border-t">
            <columns>
                <a href="{{ dataPrivacy }}">Datenschutzhinweis</a>
                {% if team is defined and team is not null %}
                    <br>
                    <p>
                    {% trans %}footer.standard{% endtrans %}<br>
                    {{ team.name }} - {{ team.strasse }}, {{ team.plz }} {{ team.stadt }}
                    </p>
                {% endif %}
            </columns>
        </row>
    </container>
    <spacer size="16"></spacer>
    <div style="text-align: center;">
        <small class="text-muted">
            <a href="https://open-datenschutzcenter.de" class="text-muted">Powered by Open Datenschutzcenter</a>
            •
            <a href="https://h2-invent.com/software/odc" class="text-muted">Made with ❤ by H2 invent</a>
        </small>
    </div>
{% endapply %}
