{% extends 'email/base.html.twig' %}
{% block header %}
    {{ buchung.kurs.title }}
{% endblock %}

{% block content %}
    <h4 class="text-center">
        -- Neuer Kurs verfügbar --
    </h4>
    <b>
        Hallo!
    </b>
    <p>
        Ihnen wurde ein neuer Kurs in der Datenschutzakademie zugewiesen. Sie müssen diesen Kurs absolvieren, damit wir
        die Vorgaben der Datenschutzgrundverordnung einhalten können.
    </p>
    <b>
        Kurs: {{ buchung.kurs.title }}
    </b>
    <p>{{ buchung.kurs.beschreibung|nl2br }}</p>
    <spacer size="16"></spacer>
    <p>
        <a href="{{ absolute_url(path('akademie_kurs', {'kurs':buchung.id})) }}">Klicken Sie hier um direkt zu dem Kurs
            zu gelangen.</a>
    </p>
    <spacer size="16"></spacer>
    <p>
        Wenn Sie Fragen zum Datenschutz und den Hintergründen zu dieser Schulung haben, melden Sie sich bei Ihrem
        Datenschutzbeauftragten, den Datenschutzkoordinatoren oder bei der Geschäftsführung.<br>
        E-Mail: {{ buchung.user.akademieUser.email }}<br>
        Telefon: {{ buchung.user.akademieUser.telefon }}
    </p>

{% endblock %}
