{% extends 'base.html.twig' %}
{% trans_default_domain 'questionnaire' %}
{% block body %}
    <div>
        <div>
            {{ form_start(form) }}
            <h5>{% trans %}question.create{% endtrans %}</h5>
            <div>
                {{ form_row(form.label) }}
                {{ form_row(form.hint) }}
                {{ form_row(form.evalValue) }}
                {{ form_row(form.type) }}
                <div>
                    <div>
                        {% trans %}question.answers{% endtrans %}
                        {% if error %}
                            {% trans %}question.error{% endtrans %}
                        {% endif %}
                        <ul
                            data-prototype="
                                <div class='d-flex flex-column'>
                                    {{ form_widget(form.answers.vars.prototype.label)|e('html_attr') }}
                                    {{ form_widget(form.answers.vars.prototype.isCorrect)|e('html_attr') }}
                                </div>
                        ">
                            {% for answerItem in form.answers %}
                                <li>
                                    <div>
                                        <div>{{ form_widget(answerItem.label) }}</div>
                                        <div>{{ form_widget(answerItem.isCorrect) }}</div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <button type="button" id="add_item_link"
                                data-collection-holder-class="answers">{% trans %}question.answer.add{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
            <div>
                {{ form_row(form.save) }}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}