{% extends 'base.html.twig' %}
{% trans_default_domain 'questionnaire' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <fieldset>
        {{ form_row(form.label) }}
        {{ form_row(form.hint) }}
        {{ form_row(form.evalValue) }}
        {{ form_row(form.type) }}
    </fieldset>
    <fieldset>
        <legend>
            {% trans %}question.answers{% endtrans %}
        </legend>
        {% if error %}
            <div class="text-error-600">{% trans %}question.error{% endtrans %}</div>
        {% endif %}
        <ul class="answers dynamic-list freeField mb-2"
            data-prototype="
                    <div>{{ form_widget(form.answers.vars.prototype.label)|e('html_attr') }}</div>
                    <div>{{ form_widget(form.answers.vars.prototype.isCorrect)|e('html_attr') }}</div>
                        ">
            {% for answerItem in form.answers %}
                <li>
                    <div>{{ form_widget(answerItem.label) }}</div>
                    <div>{{ form_widget(answerItem.isCorrect) }}</div>
                </li>
            {% endfor %}
        </ul>
        <button type="button" id="add_item_link" class="btn" data-collection-holder-class="answers">
            {% trans %}question.answer.add{% endtrans %}
        </button>
    </fieldset>
    {{ form_row(form.save, {row_attr: {class: 'form-buttons'}}) }}
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}

{% endblock %}