{% extends 'base.html.twig' %}
{% trans_default_domain 'questionnaire' %}

{% block title %}
    {% trans %}question.show{% endtrans %}
{% endblock %}

{% block body %}
    {% trans_default_domain 'questionnaire' %}
    <div class="dl-wrapper xl:!w-1/2 mb-5">
        <div class="dl-head">
            <h3>{{ question.label }}</h3>
            {% if question.hint is not empty %}
                <p>{{ question.hint }}</p>
            {% endif %}
            <p>{% trans %}question.evaluationValue{% endtrans %}: {{ question.evalValue }}</p>
            <p>Type: {{ question.type }}</p>
        </div>
        <div class="dl-content">
            <dl>
                {% for answer in question.answers %}
                    <div>
                        <dt>{{ answer.label }}</dt>
                        <dd>{{ answer.isCorrect ? '<span class="material-symbols-outlined">check_circle</span>' }}</dd>
                    </div>
                {% endfor %}
            </dl>
        </div>
    </div>
    <div>
        <a class="btn" href="{{ path('question_edit', {'id': question.id}) }}">{% trans from 'general' %}edit{% endtrans %}</a>
        <a class="btn btn-danger" href="{{ path('question_delete', {'id': question.id}) }}">{% trans from 'general' %}remove{% endtrans %}</a>
    </div>
{% endblock %}