{% extends 'base.html.twig' %}
{% trans_default_domain 'questionnaire' %}
{% block body %}
    {% trans_default_domain 'questionnaire' %}
    <div>
        <div>
            <div>
                <h5>{{ question.label }}</h5>
                {% if question.hint is not empty %}
                    <p>{{ question.hint }}</p>
                {% endif %}
                <p>{% trans %}question.evaluationValue{% endtrans %}: {{ question.evalValue }}</p>
                <table>
                    <thead>
                    <tr>
                        <th>{{ question.type }}</th>
                    </tr>
                    </thead>
                    {% for answer in question.answers %}
                        {% if answer.isCorrect %}
                            <tr>
                                <td>{{ answer.label }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ answer.label }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div>
                <a
                   href="{{ path('question_edit', {'id': question.id}) }}">{% trans from 'general' %}edit{% endtrans %}</a>
                <a
                   href="{{ path('question_delete', {'id': question.id}) }}">{% trans from 'general' %}remove{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}